<div id="deleted" class="message">
    <div class="message-image">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#trash"></use>
        </svg>
    </div>
    <div class="message-body">
        <p><strong>Deleted</strong></p>
    </div>
</div>

<div id="publish-success" class="message">
    <div class="message-image confirmation">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#thumb-up"></use>
        </svg>
    </div>
    <div class="message-body">
        <p><strong>Published</strong></p>
    </div>
</div>

<div id="under_review-success" class="message">
    <div class="message-image confirmation">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#thumb-up"></use>
        </svg>
    </div>
    <div class="message-body">
        <p><strong>Put under review</strong></p>
    </div>
</div>

<div id="archive-success" class="message">
    <div class="message-image confirmation">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#thumb-up"></use>
        </svg>
    </div>
    <div class="message-body">
        <p><strong>Archived</strong></p>
    </div>
</div>

<div id="new_response-success" class="message">
    <div class="message-image confirmation">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#thumb-up"></use>
        </svg>
    </div>
    <div class="message-body">
        <p><strong>Response submitted</strong></p>
        <button data-toggle="submit-new-survey">Submit another</button>
    </div>
</div>

<div id="add_to_collection-success" class="message">
    <div class="message-image confirmation">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#thumb-up"></use>
        </svg>
    </div>
    <div class="message-body">
        <p><strong>Added to Collection</strong></p>
    </div>
</div>

<div id="json" class="modal">
    <div class="modal-window" style="min-width: 80%;margin-left: -40%;">
        <h3 class="modal-title">Pattern Library configuration</h3>

        <div class="modal-body">
            <div id="jsoneditor"></div>
            <br />
            <button id="revert-layout" class="button-beta modal-trigger">Revert to default</button>
        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button class="button-destructive modal-trigger">Cancel</button>
                <button id="refresh-layout" class="button-alt modal-trigger" disabled>Save changes</button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="delete-post" class="modal">
    <div class="modal-window">
        <h3 class="modal-title">Are you sure you want to delete this post?</h3>

        <div class="form-field">
            <button class="button-destructive modal-trigger">Cancel</button>
            <button class="button-destructive modal-trigger" data-message="deleted">
                <svg class="iconic">
                    <use xlink:href="../../img/iconic-sprite.svg#trash"></use>
                </svg>
                <span class="button-label">Delete</span>
            </button>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="filter_by" class="modal">
    <div class="modal-window">
        <button class="button-beta modal-trigger modal-trigger-close">
            <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#x"></use>
            </svg>
            <span class="hidden">Close</span>
        </button>

        <h3 class="modal-title">
            <svg class="iconic">
                <use xlink:href="../../img/material/svg-sprite-content-symbol.svg#ic_filter_list_24px"></use>
            </svg>
            <span class="label">Filter by...</span>
        </h3>

        <div class="modal-body">
            <fieldset>
                <legend>Survey</legend>

                {{#each deployment.surveys}}
                <div class="form-field checkbox">
                    <label>
                        <input type="checkbox">
                        {{name}}
                    </label>
                </div>
                {{/each}}

                <span class="form-field-toggle">
                    <svg class="iconic">
                      <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
                    </svg>
                    More
                </span>
            </fieldset>

            <fieldset>
                <legend>Data Sources</legend>

                <div class="form-field checkbox">
                    <label for="sms">
                        <input type="checkbox" id="sms" />
                        SMS
                    </label>
                </div>
                <div class="form-field checkbox">
                    <label for="email">
                        <input type="checkbox" id="email" />
                        Email
                    </label>
                </div>
                <div class="form-field checkbox">
                    <label for="twitter">
                        <input type="checkbox" id="twitter" />
                        Twitter
                    </label>
                </div>
                <span class="form-field-toggle">
                    <svg class="iconic">
                      <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
                    </svg>
                    More
                </span>
            </fieldset>

            <fieldset>
                <legend>Status</legend>

                <div class="form-field checkbox icon-input">
                    <label for="published">
                        <svg class="iconic">
                          <use xlink:href="../../img/iconic-sprite.svg#globe"></use>
                        </svg>
                        <input type="checkbox" name="status" id="published" />
                        Published
                    </label>
                </div>

                {{#if user.logged_in}}
                <div class="form-field checkbox icon-input">
                    <label for="underreview">
                        <svg class="iconic">
                          <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                        </svg>
                        <input type="checkbox" name="status" id="underreview" />
                        Under review
                    </label>
                </div>
                {{/if}}

                <div class="form-field checkbox">
                    <label for="archive">
                        <svg class="iconic">
                          <use xlink:href="../../img/iconic-sprite.svg#box"></use>
                        </svg>
                        <input type="checkbox" name="archive" id="archive" />
                        Archive
                    </label>
                </div>
            </fieldset>

            <fieldset>
                <legend>Categories</legend>

                <div class="form-field checkbox">
                    <label for="speakers">
                        <input type="checkbox" id="speakers" /> Surface issues
                    </label>

                    <div class="form-field checkbox">
                        <label for="child_cat">
                            <input type="checkbox" id="child_cat" /> Child category
                        </label>
                    </div>
                </div>
                <div class="form-field checkbox">
                    <label for="opposition">
                        <input type="checkbox" id="opposition" /> Signage
                    </label>
                </div>
                <div class="form-field checkbox">
                    <label for="obstructions">
                        <input type="checkbox" id="obstructions" /> Obstructions
                    </label>
                </div>
                <span class="form-field-toggle">
                    <svg class="iconic">
                      <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
                    </svg>
                    More
                </span>
            </fieldset>

            <fieldset>
                <legend>Date range</legend>

                <div class="form-field date">
                    <label class="hidden">Start date</label>
                    <div class="input-with-icon">
                        <svg class="iconic">
                          <use xlink:href="../../img/iconic-sprite.svg#calendar"></use>
                        </svg>
                        <input type="date" placeholder="Start date" />
                    </div>
                </div>

                <span class="date-joiner">to</span>

                <div class="form-field date">
                    <label class="hidden">End date</label>
                    <div class="input-with-icon">
                        <svg class="iconic">
                          <use xlink:href="../../img/iconic-sprite.svg#calendar"></use>
                        </svg>
                        <input type="date" placeholder="End date" />
                    </div>
                </div>

            </fieldset>

            <fieldset>
                <legend>Location</legend>

                <div class="form-field inline" style="max-width:66%;">
                    <label class="hidden">Address</label>
                    <div class="input-with-icon">
                        <svg class="iconic">
                          <use xlink:href="../../img/iconic-sprite.svg#location"></use>
                        </svg>
                        <input type="text" placeholder="123 Main Street" />
                    </div>
                </div>

                <div class="form-field inline">
                    <label class="hidden">Range</label>
                    <div class="custom-select">
                        <select>
                            <option>within 1 km</option>
                            <option>within 10 km</option>
                            <option>within 50 km</option>
                        </select>
                    </div>
                </div>

            </fieldset>
        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button class="button-gamma" disabled>Clear filters</button>
                <button class="button-alt" disabled>Apply filters</button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="saved_searches" class="modal">
    <div class="modal-window">
        <button href="" class="button-beta modal-trigger modal-trigger-close">
            <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#x"></use>
            </svg>
            <span class="hidden">Close</span>
        </button>

        <h3 class="modal-title">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#star"></use>
            </svg>
            <span class="label">Saved Searches</span>
        </h3>

        <div class="form-field">
            <label class="hidden">Find a saved search</label>
            <div class="input-with-icon">
                <svg class="iconic">
                  <use xlink:href="../../img/iconic-sprite.svg#magnifying-glass"></use>
                </svg>
                <input type="search" placeholder="Find a saved search...">
            </div>
        </div>

        <div class="modal-body">
            <div class="listing">
                <div class="listing-item">
                    <div class="listing-item-primary">
                        <h2 class="listing-item-title"><a href="map-saved.html">Actions on Congress Avenue</a></h2>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-primary">
                        <h2 class="listing-item-title"><a href="map-saved.html">Photos</a></h2>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-primary">
                        <h2 class="listing-item-title"><a href="map-saved.html">Assigned to me</a></h2>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-primary">
                        <h2 class="listing-item-title"><a href="map-saved.html">Attachments</a></h2>
                        <p class="listing-item-secondary">by <a href="">Robbie MacKay</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button type="button" class="button-beta">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#plus"></use>
                    </svg>
                    <span class="button-label">Create new</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="share" class="modal">
    <div class="modal-window">
        <button href="" class="button-beta modal-trigger modal-trigger-close">
            <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#x"></use>
            </svg>
            <span class="hidden">Close</span>
        </button>

        <h3 class="modal-title">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#share"></use>
            </svg>
            <span class="label">Share</span>
        </h3>

        <div class="listing">

            <div class="listing-item">
                <div class="listing-item-primary">
                    <div class="listing-item-image">
                        <img class="icon" src="../../img/facebook.png" alt="Facebook Icon" />
                    </div>
                    <h2 class="listing-item-title"><a href="https://www.facebook.com/sharer/sharer.php?u=THISURL">Facebook</a></h2>
                </div>
            </div>

            <div class="listing-item">
                <div class="listing-item-primary">
                    <div class="listing-item-image">
                        <img class="icon" src="../../img/twitter.png" alt="Twitter Icon" />
                    </div>
                    <h2 class="listing-item-title"><a href="https://twitter.com/home?status=THISURL">Twitter</a></h2>
                </div>
            </div>

            <div class="listing-item">
                <div class="listing-item-secondary">
                    <button type="button" class="button-as-icon listing-item-toggle">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
                        </svg>
                        <span class="button-label">Configure</span>
                    </button>
                </div>

                <div class="listing-item-primary">
                    <h2 class="listing-item-title listing-item-toggle">Embed</h2>
                </div>

                <div class="listing-item-body">
                    <div class="form-field">
                        <label>HTML</label>
                        <textarea><iframe width="560" height="315" src="https://www.youtube.com/embed/HQMcLhcwmgc" frameborder="0" allowfullscreen></iframe></textarea>
                    </div>
                </div>
            </div>

            <div class="listing-item">
                <div class="listing-item-primary">
                    <h2 class="listing-item-title"><a data-progress data-progress-target="toolbar" class="modal-trigger">Export to CSV</a></h2>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="collections" class="modal">
    <div class="modal-window">
        <button href="" class="button-beta modal-trigger modal-trigger-close">
            <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#x"></use>
            </svg>
            <span class="hidden">Close</span>
        </button>

        <h3 class="modal-title">
            <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#grid-three-up"></use>
            </svg>
            <span class="label">Collections</span>
        </h3>

        <div class="form-field">
            <label class="hidden">Find a Collection</label>
            <div class="input-with-icon">
                <svg class="iconic">
                    <use xlink:href="../../img/iconic-sprite.svg#magnifying-glass"></use>
                </svg>
                <input type="search" placeholder="Find a Collection...">
            </div>
        </div>

        <div class="modal-body">

            <div class="listing">

                <div class="listing-item">
                    <div class="listing-item-primary">
                        <h2 class="listing-item-title"><a href="map-collection.html">Read later</a></h2>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-primary">
                        <h2 class="listing-item-title"><a href="">Follow up</a></h2>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-primary">
                        <h2 class="listing-item-title"><a href="">Photos</a></h2>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-primary">
                        <h2 class="listing-item-title"><a href="">Speaker photos</a></h2>
                        <p class="listing-item-secondary">by <a href="">Jess Shorland</a></p>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button type="button" class="button-beta">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#plus"></use>
                    </svg>
                    <span class="button-label">Create Collection</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="add-to-collection" class="modal">
    <div class="modal-window">
        <h3 class="modal-title">
            <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#grid-three-up"></use>
            </svg>
            <span class="label">Add to Collection</span>
        </h3>

        <div class="modal-body">
            <div class="form-field">
                <label class="hidden">Find a Collection</label>
                <div class="input-with-icon">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#magnifying-glass"></use>
                    </svg>
                    <input type="search" placeholder="Find a Collection...">
                </div>
            </div>

            <div class="listing">

                <div class="listing-item">
                    <div class="listing-item-select">
                        <input type="checkbox" checked id="read-later" />
                        <label for="read-later"></label>
                    </div>

                    <div class="listing-item-primary">
                        <h2 class="listing-item-title"><a href="">Read later</a></h2>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-select">
                        <input type="checkbox" id="checkbox-1" />
                        <label for="checkbox-1"></label>
                    </div>

                    <div class="listing-item-primary">
                        <h2 class="listing-item-title"><a href="">Follow up</a></h2>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-select">
                        <input type="checkbox" id="checkbox-2">
                        <label for="checkbox-2"></label>
                    </div>

                    <div class="listing-item-primary">
                        <h2 class="listing-item-title"><a href="">Photos</a></h2>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-select">
                        <input type="checkbox" id="checkbox-3"/>
                        <label for="checkbox-3"></label>
                    </div>

                    <div class="listing-item-primary">
                        <h2 class="listing-item-title"><a href="">Speaker photos</a></h2>
                        <p class="listing-item-secondary">by <a href="">Jess Shorland</a></p>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-primary">
                        <a href="" class="button button-beta">
                            <svg class="iconic">
                                <use xlink:href="../../img/iconic-sprite.svg#plus"></use>
                            </svg>
                            <span class="button-label">Create Collection</span>
                        </a>
                    </div>
                </div>

            </div>

        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button class="button-destructive modal-trigger">Cancel</button>

                <button class="button-alt modal-trigger" data-message="add_to_collection-success">Save &amp; close</button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="account" class="modal">
    <div class="modal-window">
        <button href="" class="button-beta modal-trigger modal-trigger-close">
            <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#x"></use>
            </svg>
            <span class="hidden">Close</span>
        </button>

        <h3 class="modal-title">
            Account Settings
        </h3>

        <nav class="tabs-menu" data-tabs="account-tab">
            <ul>
                <li><a href="#account-general">General</a></li>
                <li><a href="#account-notifications">Notifications</a></li>
            </ul>
        </nav>

        <div class="modal-body">

            <div id="account-general" class="account-tab">
                <div class="form-field">
                    <label>Role</label>
                    <em>{{user.role}}</em>
                </div>

                <div class="form-field">
                    <label>Display name</label>
                    <input type="text" value="{{user.name}}" />
                </div>

                <div class="form-field">
                    <label>Email address</label>
                    <input type="email" value="brandon@ushahidi.com" />
                </div>

                <button class="button-beta" data-modal="change-password">Change password</button>
            </div>

            <div id="account-notifications" class="account-tab">
                <div class="listing">
                    <h3 class="listing-heading">How you get notifications</h3>

                    <div class="listing-item">
                        <div class="listing-item-secondary">
                            <button type="button" class="button-as-icon listing-item-toggle">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
                                </svg>
                                <span class="button-label">Configure</span>
                            </button>
                        </div>

                        <div class="listing-item-primary">
                            <h2 class="listing-item-title">
                                brandon@ushahidi.com
                                <span class="status-indicator green"></span>
                            </h2>
                        </div>

                        <div class="listing-item-body">

                            <div class="form-field switch">
                                <label>Send notifications to this address</label>
                                <div class="toggle-switch">
                                    <input class="tgl" id="switch1" type="checkbox" checked>
                                    <label class="tgl-btn" for="switch1"></label>
                                </div>
                            </div>

                            <div class="form-field">
                                <label>
                                    Email address
                                    <input type="email" placeholder="email@domain.com" value="brandon@ushahidi.com" />
                                </label>
                            </div>

                            <div class="form-field">
                                <button class="button-destructive">Remove account</button>
                            </div>
                        </div>
                    </div>

                    <div class="listing-item">
                        <div class="listing-item-primary">
                            <h2 class="listing-item-title">
                                <a href="" class="button" data-modal="add-field">
                                    <svg class="iconic">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#plus"></use>
                                    </svg>
                                    Add account
                                </a>
                            </h2>
                        </div>
                    </div>

                </div>

                <div class="listing">
                    <h3 class="listing-heading">What you get notifications about</h3>

                    <div class="listing-item">
                        <div class="listing-item-secondary">
                            <button type="button" class="button-as-icon" data-message="remove-account">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#circle-x"></use>
                                </svg>
                                <span class="button-label">Remove</span>
                            </button>
                        </div>

                        <div class="listing-item-primary">
                            <div class="listing-item-image">
                                <svg class="iconic">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#star"></use>
                                </svg>
                            </div>

                            <h2 class="listing-item-title"><a href="">Police encounters needing translation</a></h2>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button type="button" class="button-gamma  modal-trigger">Cancel</button>
                <button type="button" class="button-alt modal-trigger">Save &amp; close</button>
            </div>
        </div>

        <div id="remove-account" class="message">
            <div class="message-body">
                <p><strong>You'll no longer receive notifications</strong> about Police encounters needing translation.</p>

                <button class="button-beta message-trigger">Undo</button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="login" class="modal">
    <div class="modal-window">
        <h3 class="modal-title">
            Log in
        </h3>

        <div class="modal-body">
            <div class="form-field">
                <label>Email address</label>
                <input type="email" placeholder="name@domain.com" />
            </div>
        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button type="button" class="button-gamma  modal-trigger">Cancel</button>
                <button type="button" class="button-alt" disabled
                    {{#if user.name}}
                    data-modal="login-password"
                    {{else}}
                    data-modal="signup"
                    {{/if}}
                >Next</button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="login-password" class="modal">
    <div class="modal-window">
        <h3 class="modal-title">
            Enter your password
        </h3>

        <div class="modal-body">
            <div class="form-field">
                <label>Password</label>
                <input type="password" />
                <p><a href="">Forgot your password?</a></p>
            </div>
        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button type="button" class="button-gamma  modal-trigger">Cancel</button>
                <button type="button" class="button-alt" disabled>Log in</button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="signup" class="modal">
    <div class="modal-window">
        <h3 class="modal-title">
            Sign up
        </h3>

        <div class="modal-body">
            <div class="form-field">
                <label>Display name</label>
                <input type="text" placeholder="Jane Doe" />
            </div>

            <div class="form-field">
                <label>Email address</label>
                <input type="email" value="{{#if user.email}}{{user.email}}{{/if}}" />
            </div>

            <div class="form-field">
                <label>Password</label>
                <input type="password" />
            </div>
        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button type="button" class="button-gamma  modal-trigger">Cancel</button>
                <button type="button" class="button-alt modal-trigger" disabled>Sign up</button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="support" class="modal">
    <div class="modal-window">
        <button href="" class="button-beta modal-trigger modal-trigger-close">
            <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#x"></use>
            </svg>
            <span class="hidden">Close</span>
        </button>

        <h3 class="modal-title">
            Ushahidi Support
        </h3>

        <div class="modal-body">
            <dl>
                <dt class="list-item"><a href="https://www.ushahidi.com/support" target="_blank">Documentation</a></dt>
                <dd>Learn how to set up, configure, and manage your Ushahidi deployment.</dd>
                <dt class="list-item"><a href="https://github.com/ushahidi/platform/issues/new" target="_blank">Report a bug</a></dt>
                <dd>Tell us when something doesn't work the way you expected.</dd>
                <dt class="list-item"><a href="https://www.ushahidi.com/features" target="_blank">Features</a></dt>
                <dd>See what Ushahidi can do and how it works.</dd>
            </dl>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="users" class="modal">
    <div class="modal-window">
        <h3 class="modal-title">Choose a user...</h3>

        <div class="modal-body">
            <div class="form-field input-with-icon">
                <svg class="iconic">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#magnifying-glass"></use>
                </svg>
                <input type="search" placeholder="Find a user...">
            </div>

            <div class="listing">
                <div class="listing-item">
                    <div class="listing-item-select">
                        <input type="radio" name="assignedto" id="assignedto-hall"  />
                        <label for="assignedto-hall"></label>
                    </div>

                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/seth.png" class="avatar" alt="User Avatar" />
                        </div>

                        <h2 class="listing-item-title">Seth Hall</h2>
                        <p class="listing-item-secondary">Editor</p>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-select">
                        <input type="radio" name="assignedto" id="assignedto-lungati"  />
                        <label for="assignedto-lungati"></label>
                    </div>

                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/angela.png" class="avatar" alt="User Avatar" />
                        </div>

                        <h2 class="listing-item-title">Angela Oduor Lungati</h2>
                        <p class="listing-item-secondary">Editor</p>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-select">
                        <input type="radio" name="assignedto" id="assignedto-mackay"  />
                        <label for="assignedto-mackay"></label>
                    </div>

                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/robbie.png" class="avatar" alt="User Avatar" />
                        </div>

                        <h2 class="listing-item-title">Robbie MacKay</h2>
                        <p class="listing-item-secondary">Editor</p>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-select">
                        <input type="radio" name="assignedto" id="assignedto-mule"  />
                        <label for="assignedto-mule"></label>
                    </div>

                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/jason.png" class="avatar" alt="User Avatar" />
                        </div>

                        <h2 class="listing-item-title">Jason Mule</h2>
                        <p class="listing-item-secondary">Editor</p>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-select">
                        <input type="radio" name="assignedto" id="assignedto-ondigo"  />
                        <label for="assignedto-ondigo"></label>
                    </div>

                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/esther.png" class="avatar" alt="User Avatar" />
                        </div>

                        <h2 class="listing-item-title">Esther Ondigo</h2>
                        <p class="listing-item-secondary">Editor</p>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-select">
                        <input type="radio" name="assignedto" id="assignedto-shorland"  />
                        <label for="assignedto-shorland"></label>
                    </div>

                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/jess.png" class="avatar" alt="User Avatar" />
                        </div>

                        <h2 class="listing-item-title">Jess Shorland</h2>
                        <p class="listing-item-secondary">Editor</p>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-primary">
                        <button class="button-beta">Load more</button>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button class="button-destructive modal-trigger">Cancel</button>
                <button class="button-alt modal-trigger">Done</button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="edit-author" class="modal">
    <div class="modal-window">
        <h3 class="modal-title">Edit author</h3>

        <div class="modal-body">

            <div class="form-field input-with-icon">
                <svg class="iconic">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#magnifying-glass"></use>
                </svg>
                <input type="search" placeholder="Find a user...">
            </div>

            <div class="listing">

                <div class="listing-item">
                    <div class="listing-item-primary">
                        <button class="button-beta" data-modal="custom-author">Custom author</button>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-select">
                        <input checked type="radio" name="authoris" id="authoris-rosage"  />
                        <label for="authoris-rosage"></label>
                    </div>

                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/brandon.png" class="avatar" alt="User Avatar" />
                        </div>

                        <h2 class="listing-item-title">Seth Hall</h2>
                        <p class="listing-item-secondary">Editor</p>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-select">
                        <input type="radio" name="authoris" id="authoris-hall"  />
                        <label for="authoris-hall"></label>
                    </div>

                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/seth.png" class="avatar" alt="User Avatar" />
                        </div>

                        <h2 class="listing-item-title">Seth Hall</h2>
                        <p class="listing-item-secondary">Editor</p>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-select">
                        <input type="radio" name="authoris" id="authoris-lungati"  />
                        <label for="authoris-lungati"></label>
                    </div>

                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/angela.png" class="avatar" alt="User Avatar" />
                        </div>

                        <h2 class="listing-item-title">Angela Oduor Lungati</h2>
                        <p class="listing-item-secondary">Editor</p>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-select">
                        <input type="radio" name="authoris" id="authoris-mackay"  />
                        <label for="authoris-mackay"></label>
                    </div>

                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/robbie.png" class="avatar" alt="User Avatar" />
                        </div>

                        <h2 class="listing-item-title">Robbie MacKay</h2>
                        <p class="listing-item-secondary">Editor</p>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-select">
                        <input type="radio" name="authoris" id="authoris-mule"  />
                        <label for="authoris-mule"></label>
                    </div>

                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/jason.png" class="avatar" alt="User Avatar" />
                        </div>

                        <h2 class="listing-item-title">Jason Mule</h2>
                        <p class="listing-item-secondary">Editor</p>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-select">
                        <input type="radio" name="authoris" id="authoris-ondigo"  />
                        <label for="authoris-ondigo"></label>
                    </div>

                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/esther.png" class="avatar" alt="User Avatar" />
                        </div>

                        <h2 class="listing-item-title">Esther Ondigo</h2>
                        <p class="listing-item-secondary">Editor</p>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-select">
                        <input type="radio" name="authoris" id="authoris-shorland"  />
                        <label for="authoris-shorland"></label>
                    </div>

                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/jess.png" class="avatar" alt="User Avatar" />
                        </div>

                        <h2 class="listing-item-title">Jess Shorland</h2>
                        <p class="listing-item-secondary">Editor</p>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-primary">
                        <button class="button-beta">Load more</button>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button class="button-destructive modal-trigger">Cancel</button>
                <button class="button-alt modal-trigger">Done</button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="custom-author" class="modal">
    <div class="modal-window">
        <h3 class="modal-title">Enter custom author</h3>

        <div class="modal-body">

            <div class="form-field">
                <label>Name</label>
                <input type="text" placeholder="Full name" />
            </div>

            <div class="form-field">
                <label>Email address</label>
                <div class="input-with-icon">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#envelope-closed"></use>
                    </svg>
                    <input type="email" placeholder="email@domain.com" />
                </div>
            </div>

        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button class="button-destructive modal-trigger">Cancel</button>
                <button class="button-alt modal-trigger">Done</button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="post-date" class="modal">
    <div class="modal-window">
        <h3 class="modal-title">Edit post date</h3>

        <div class="modal-body">

            <fieldset>
                <legend class="hidden">Post date</legend>
                <div class="form-field date">
                    <label class="hidden">Date</label>
                    <div class="input-with-icon">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#calendar"></use>
                        </svg>
                        <input type="date" value="2016-06-22" placeholder="Date" />
                    </div>
                </div>

                <div class="form-field date">
                    <label class="hidden">Time</label>
                    <div class="input-with-icon">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#clock"></use>
                        </svg>
                        <input type="time" value="11:39:57" placeholder="Time" />
                    </div>
                </div>

                <ul class="metadata">
                    <li><strong>Created</strong> at 4:34 p.m. March 26, 2016 via web</li>
                    <li><strong>Last updated</strong> at 11:01 a.m. April 5, 2016</li>
                </ul>
            </fieldset>
        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button class="button-destructive modal-trigger">Cancel</button>
                <button class="button-alt modal-trigger">Done</button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div class="mainsheet" data-toggle-target="submit-new-survey" data-toggle-animate>
    <div class="mainsheet-window">
        <h3 class="mainsheet-heading">Submit a survey response</h3>
        <ul>
            {{#each deployment.surveys}}
                {{#unless datasource}}
                <li>
                    <a href="post-add.html#{{@index}}">
                        <span class="post-band" style="background-color: #{{color}};"></span>
                        {{name}}
                    </a>
                </li>
                {{/unless}}
            {{/each}}
        </ul>
    </div>

    <div class="mainsheet-overlay"></div>
</div>
