<div id="json" class="modal">
    <div class="modal-window" style="min-width: 80%;margin-left: -40%;">
        <h3 class="modal-title">Pattern Library configuration</h3>

        <div class="modal-body">
            <div id="jsoneditor"></div>
            <br />
            <button id="revert-layout" class="button-beta modal-trigger">Revert to default</button>
        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button class="button-beta button-flat modal-trigger">Cancel</button>
                <button id="refresh-layout" class="button-alpha modal-trigger" disabled>Save changes</button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="delete-post" class="modal">
    <div class="modal-window">
        <h3 class="modal-title">Are you sure you want to delete this post?</h3>

        <div class="modal-body">

            <article class="postcard">
                <div class="post-band" style="background-color: #A51A1A;"></div>
                <div class="listing-item-select">
                    <span class="status-indicator empty tooltip">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#globe"></use>
                        </svg>
                        <span class="bug">This post is published</span>
                    </span>
                </div>
                <div class="postcard-body">
                    <h1 class="postcard-title">Overcrowding between 5th St. &amp; Salem Ave.</h1>

                    <div class="metadata">
                        <span class="metadata-author"><img src="https://api.adorable.io/avatars/40/abott@adorable.io.png" class="avatar" />Jess Shorland</span>, 45 mins, via SMS
                    </div>

                </div>
            </article>
        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button class="button-beta button-flat modal-trigger">Cancel</button>
                <button class="button-destructive modal-trigger">
                    <svg class="iconic">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#trash"></use>
                    </svg>
                    <span class="button-label">Delete</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="share" class="modal">
    <div class="modal-window">
        <button href="" class="button-beta button-flat modal-trigger modal-trigger-close">
            <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#x"></use>
            </svg>
            <span class="hidden">Close</span>
        </button>

        <h3 class="modal-title">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#share"></use>
            </svg>
            <span class="label">Share</span>
        </h3>

        <div class="listing">

            <div class="listing-item">
                <div class="listing-item-primary">
                    <div class="listing-item-image">
                        <img class="icon" src="../../img/facebook.png" alt="">
                    </div>
                    <h2 class="listing-item-title"><a href="https://www.facebook.com/sharer/sharer.php?u=THISURL">Facebook</a></h2>
                </div>
            </div>

            <div class="listing-item">
                <div class="listing-item-primary">
                    <div class="listing-item-image">
                        <img class="icon" src="../../img/twitter.png" alt="">
                    </div>
                    <h2 class="listing-item-title"><a href="https://twitter.com/home?status=THISURL">Twitter</a></h2>
                </div>
            </div>

            <div class="listing-item">
                <div class="listing-item-secondary">
                    <button type="button" class="button-link listing-item-toggle">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
                        </svg>
                        <span class="button-label">Configure</span>
                    </button>
                </div>

                <div class="listing-item-primary">
                    <h2 class="listing-item-title listing-item-toggle">Embed</h2>
                </div>

                <div class="listing-item-body">
                    <div class="form-field">
                        <label>HTML</label>
                        <textarea><iframe width="560" height="315" src="https://www.youtube.com/embed/HQMcLhcwmgc" frameborder="0" allowfullscreen></iframe></textarea>
                    </div>
                </div>
            </div>

            <div class="listing-item">
                <div class="listing-item-primary">
                    <h2 class="listing-item-title"><a data-progress data-progress-target="toolbar" class="modal-trigger">Export to CSV</a></h2>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="collections" class="modal">
    <div class="modal-window">
        <button href="" class="button-beta button-flat modal-trigger modal-trigger-close">
            <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#x"></use>
            </svg>
            <span class="hidden">Close</span>
        </button>

        <h3 class="modal-title">
            <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#grid-three-up"></use>
            </svg>
            <span class="label">Collections</span>
        </h3>

        <div class="modal-body">
            <div class="form-field">
                <label class="hidden">Find a Collection</label>
                <div class="input-with-icon">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#magnifying-glass"></use>
                    </svg>
                    <input type="search" placeholder="Find a Collection...">
                </div>
            </div>

            <div class="listing">

                <div class="listing-item">
                    <div class="listing-item-primary">
                        <h2 class="listing-item-title"><a href="map-collection.html">Read later</a></h2>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-primary">
                        <h2 class="listing-item-title"><a href="">Follow up</a></h2>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-primary">
                        <h2 class="listing-item-title"><a href="">Photos</a></h2>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-primary">
                        <h2 class="listing-item-title"><a href="">Speaker photos</a></h2>
                        <p class="listing-item-secondary">by <a href="">Jess Shorland</a></p>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button type="button" class="button-beta">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#plus"></use>
                    </svg>
                    <span class="button-label">Create Collection</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="add-to-collection" class="modal">
    <div class="modal-window">
        <h3 class="modal-title">
            <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#grid-three-up"></use>
            </svg>
            <span class="label">Add to Collection</span>
        </h3>

        <div class="modal-body">
            <div class="form-field">
                <label class="hidden">Find a Collection</label>
                <div class="input-with-icon">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#magnifying-glass"></use>
                    </svg>
                    <input type="search" placeholder="Find a Collection...">
                </div>
            </div>

            <div class="listing">

                <div class="listing-item">
                    <div class="listing-item-select">
                        <input type="checkbox" checked />
                    </div>

                    <div class="listing-item-primary">
                        <h2 class="listing-item-title"><a href="">Read later</a></h2>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-select">
                        <input type="checkbox" />
                    </div>

                    <div class="listing-item-primary">
                        <h2 class="listing-item-title"><a href="">Follow up</a></h2>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-select">
                        <input type="checkbox">
                    </div>

                    <div class="listing-item-primary">
                        <h2 class="listing-item-title"><a href="">Photos</a></h2>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-select">
                        <input type="checkbox" />
                    </div>

                    <div class="listing-item-primary">
                        <h2 class="listing-item-title"><a href="">Speaker photos</a></h2>
                        <p class="listing-item-secondary">by <a href="">Jess Shorland</a></p>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-primary">
                        <a href="" class="button button-beta">
                            <svg class="iconic">
                                <use xlink:href="../../img/iconic-sprite.svg#plus"></use>
                            </svg>
                            <span class="button-label">Create Collection</span>
                        </a>
                    </div>
                </div>

            </div>

        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button type="button" class="button-beta button-flat modal-trigger">Cancel</button>

                <button type="button" class="button-alpha modal-trigger">Save &amp; close</button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="account" class="modal">
    <div class="modal-window">
        <button href="" class="button-beta button-flat modal-trigger modal-trigger-close">
            <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#x"></use>
            </svg>
            <span class="hidden">Close</span>
        </button>

        <h3 class="modal-title">
            {{user.name}} <em>account settings</em>
        </h3>

        <nav class="tabs-menu" data-tabs="account-tab">
            <ul>
                <li><a href="#account-general">General</a></li>
                <li><a href="#account-notifications">Notifications</a></li>
            </ul>
        </nav>

        <div class="modal-body">

            <div id="account-general" class="account-tab">
                <div class="form-field">
                    <label>Display name</label>
                    <input type="text" value="{{user.name}}" />
                </div>

                <div class="form-field">
                    <label>Email address</label>
                    <input type="email" value="brandon@ushahidi.com" />
                </div>

                <span data-toggle="toggle-content">Change password</span>
                <div class="form-field toggle-content">
                    <label>Password</label>
                    <input type="password" />
                </div>
            </div>

            <div id="account-notifications" class="account-tab">
                <div class="listing">
                    <h3 class="listing-heading">How you get notifications</h3>

                    <div class="listing-item">
                        <div class="listing-item-secondary">
                            <button type="button" class="button-link listing-item-toggle">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
                                </svg>
                                <span class="button-label">Configure</span>
                            </button>
                        </div>

                        <div class="listing-item-primary">
                            <h2 class="listing-item-title">
                                brandon@ushahidi.com
                                <span class="status-indicator green"></span>
                            </h2>
                        </div>

                        <div class="listing-item-body">

                            <div class="form-field switch">
                                <label>Send notifications to this address</label>
                                <div class="toggle-switch">
                                    <input class="tgl" id="switch1" type="checkbox" checked>
                                    <label class="tgl-btn" for="switch1"></label>
                                </div>
                            </div>

                            <div class="form-field">
                                <label>
                                    Email address
                                    <input type="email" placeholder="email@domain.com" value="brandon@ushahidi.com" />
                                </label>
                            </div>

                            <div class="form-field">
                                <button class="button-destructive">Remove account</button>
                            </div>
                        </div>
                    </div>

                    <div class="listing-item">
                        <div class="listing-item-primary">
                            <h2 class="listing-item-title">
                                <a href="" class="button button-flat" data-modal="add-field">
                                    <svg class="iconic">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#plus"></use>
                                    </svg>
                                    Add account
                                </a>
                            </h2>
                        </div>
                    </div>

                </div>

                <div class="listing">
                    <h3 class="listing-heading">What you get notifications about</h3>

                    <div class="listing-item">
                        <div class="listing-item-secondary">
                            <button type="button" class="button-link" data-message="remove-account">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#circle-x"></use>
                                </svg>
                                <span class="button-label">Remove</span>
                            </button>
                        </div>

                        <div class="listing-item-primary">
                            <div class="listing-item-image">
                                <svg class="iconic">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#star"></use>
                                </svg>
                            </div>

                            <h2 class="listing-item-title"><a href="">Police encounters needing translation</a></h2>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button type="button" class="button-link  modal-trigger">Cancel</button>
                <button type="button" class="button-alpha modal-trigger">Save &amp; close</button>
            </div>
        </div>

        <div id="remove-account" class="message">
            <div class="message-body">
                <p><strong>You'll no longer receive notifications</strong> about Police encounters needing translation.</p>

                <button class="button-beta message-trigger">Undo</button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="login" class="modal">
    <div class="modal-window">
        <h3 class="modal-title">
            Log in
        </h3>

        <div class="modal-body">
            <div class="form-field">
                <label>Email address</label>
                <input type="email" placeholder="name@domain.com" />
            </div>
        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button type="button" class="button-link  modal-trigger">Cancel</button>
                <button type="button" class="button-alpha" disabled
                    {{#if user.name}}
                    data-modal="login-password"
                    {{else}}
                    data-modal="signup"
                    {{/if}}
                >Next</button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="login-password" class="modal">
    <div class="modal-window">
        <h3 class="modal-title">
            Enter your password
        </h3>

        <div class="modal-body">
            <div class="form-field">
                <label>Password</label>
                <input type="password" />
                <p><a href="">Forgot your password?</a></p>
            </div>
        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button type="button" class="button-link  modal-trigger">Cancel</button>
                <button type="button" class="button-alpha" disabled>Log in</button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="signup" class="modal">
    <div class="modal-window">
        <h3 class="modal-title">
            Sign up
        </h3>

        <div class="modal-body">
            <div class="form-field">
                <label>Display name</label>
                <input type="text" placeholder="Jane Doe" />
            </div>

            <div class="form-field">
                <label>Email address</label>
                <input type="email" value="{{#if user.email}}{{user.email}}{{/if}}" />
            </div>

            <div class="form-field">
                <label>Password</label>
                <input type="password" />
            </div>
        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button type="button" class="button-link  modal-trigger">Cancel</button>
                <button type="button" class="button-alpha modal-trigger" disabled>Sign up</button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="support" class="modal">
    <div class="modal-window">
        <button href="" class="button-beta button-flat modal-trigger modal-trigger-close">
            <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#x"></use>
            </svg>
            <span class="hidden">Close</span>
        </button>

        <h3 class="modal-title">
            Ushahidi Support
        </h3>

        <div class="modal-body">
            <dl>
                <dt class="list-item"><a href="https://www.ushahidi.com/support" target="_blank">Documentation</a></dt>
                <dd>Learn how to set up, configure, and manage your Ushahidi deployment.</dd>
                <dt class="list-item"><a href="https://github.com/ushahidi/platform/issues/new" target="_blank">Report a bug</a></dt>
                <dd>Tell us when something doesn't work the way you expected.</dd>
                <dt class="list-item"><a href="https://www.ushahidi.com/features" target="_blank">Features</a></dt>
                <dd>See what Ushahidi can do and how it works.</dd>
            </dl>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="users" class="modal">
    <div class="modal-window">
        <h3 class="modal-title">Choose a user...</h3>

        <div class="modal-body">
            <div class="form-field input-with-icon">
                <svg class="iconic">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#magnifying-glass"></use>
                </svg>
                <input type="search" placeholder="Find a user...">
            </div>

            <div class="listing">
                <div class="listing-item">
                    <div class="listing-item-select">
                        <input type="radio" name="assignedto" id="assignedto-hall"  />
                    </div>

                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/seth.png" class="avatar" />
                        </div>

                        <h2 class="listing-item-title">Seth Hall</h2>
                        <p class="listing-item-secondary">Editor</p>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-select">
                        <input type="radio" name="assignedto" id="assignedto-lungati"  />
                    </div>

                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/angela.png" class="avatar" />
                        </div>

                        <h2 class="listing-item-title">Angela Oduor Lungati</h2>
                        <p class="listing-item-secondary">Editor</p>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-select">
                        <input type="radio" name="assignedto" id="assignedto-mackay"  />
                    </div>

                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/robbie.png" class="avatar" />
                        </div>

                        <h2 class="listing-item-title">Robbie MacKay</h2>
                        <p class="listing-item-secondary">Editor</p>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-select">
                        <input type="radio" name="assignedto" id="assignedto-mule"  />
                    </div>

                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/jason.png" class="avatar" />
                        </div>

                        <h2 class="listing-item-title">Jason Mule</h2>
                        <p class="listing-item-secondary">Editor</p>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-select">
                        <input type="radio" name="assignedto" id="assignedto-ondigo"  />
                    </div>

                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/esther.png" class="avatar" />
                        </div>

                        <h2 class="listing-item-title">Esther Ondigo</h2>
                        <p class="listing-item-secondary">Editor</p>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-select">
                        <input type="radio" name="assignedto" id="assignedto-shorland"  />
                    </div>

                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/jess.png" class="avatar" />
                        </div>

                        <h2 class="listing-item-title">Jess Shorland</h2>
                        <p class="listing-item-secondary">Editor</p>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-primary">
                        <button class="button-gamma button-flat">Load more</button>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button class="button-beta button-flat modal-trigger">Cancel</button>
                <button class="button-alpha modal-trigger">Done</button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="edit-author" class="modal">
    <div class="modal-window">
        <h3 class="modal-title">Edit author</h3>

        <div class="modal-body">

            <div class="form-field input-with-icon">
                <svg class="iconic">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#magnifying-glass"></use>
                </svg>
                <input type="search" placeholder="Find a user...">
            </div>

            <div class="listing">

                <div class="listing-item">
                    <div class="listing-item-primary">
                        <button class="button-gamma button-plain" data-modal="custom-author">Custom author</button>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-select">
                        <input checked type="radio" name="authoris" id="authoris-rosage"  />
                    </div>

                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/brandon.png" class="avatar" />
                        </div>

                        <h2 class="listing-item-title">Brandon Rosage</h2>
                        <p class="listing-item-secondary">Editor</p>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-select">
                        <input type="radio" name="authoris" id="authoris-hall"  />
                    </div>

                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/seth.png" class="avatar" />
                        </div>

                        <h2 class="listing-item-title">Seth Hall</h2>
                        <p class="listing-item-secondary">Editor</p>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-select">
                        <input type="radio" name="authoris" id="authoris-lungati"  />
                    </div>

                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/angela.png" class="avatar" />
                        </div>

                        <h2 class="listing-item-title">Angela Oduor Lungati</h2>
                        <p class="listing-item-secondary">Editor</p>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-select">
                        <input type="radio" name="authoris" id="authoris-mackay"  />
                    </div>

                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/robbie.png" class="avatar" />
                        </div>

                        <h2 class="listing-item-title">Robbie MacKay</h2>
                        <p class="listing-item-secondary">Editor</p>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-select">
                        <input type="radio" name="authoris" id="authoris-mule"  />
                    </div>

                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/jason.png" class="avatar" />
                        </div>

                        <h2 class="listing-item-title">Jason Mule</h2>
                        <p class="listing-item-secondary">Editor</p>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-select">
                        <input type="radio" name="authoris" id="authoris-ondigo"  />
                    </div>

                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/esther.png" class="avatar" />
                        </div>

                        <h2 class="listing-item-title">Esther Ondigo</h2>
                        <p class="listing-item-secondary">Editor</p>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-select">
                        <input type="radio" name="authoris" id="authoris-shorland"  />
                    </div>

                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/jess.png" class="avatar" />
                        </div>

                        <h2 class="listing-item-title">Jess Shorland</h2>
                        <p class="listing-item-secondary">Editor</p>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-primary">
                        <button class="button-gamma button-flat">Load more</button>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button class="button-beta button-flat modal-trigger">Cancel</button>
                <button class="button-alpha modal-trigger">Done</button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="custom-author" class="modal">
    <div class="modal-window">
        <h3 class="modal-title">Enter custom author</h3>

        <div class="modal-body">

            <div class="form-field">
                <label>Name</label>
                <input type="text" placeholder="Full name" />
            </div>

            <div class="form-field">
                <label>Email address</label>
                <div class="input-with-icon">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#envelope-closed"></use>
                    </svg>
                    <input type="email" placeholder="email@domain.com" />
                </div>
            </div>

        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button class="button-beta button-flat modal-trigger">Cancel</button>
                <button class="button-alpha modal-trigger">Done</button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="task-assignment" class="modal">
    <div class="modal-window">
        <h3 class="modal-title">Assign this task to...</h3>

        <div class="form-field switch">
            <label>
                <svg class="iconic">
                    <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                </svg>
                Only the assignee can complete this task
            </label>
            <div class="toggle-switch">
                <input class="tgl" id="task-verify-locked" type="checkbox">
                <label class="tgl-btn" for="task-verify-locked"></label>
            </div>
        </div>

        <div class="modal-body">
            <div class="form-field input-with-icon">
                <svg class="iconic">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#magnifying-glass"></use>
                </svg>
                <input type="search" placeholder="Find a user...">
            </div>

            <div class="listing">
                <div class="listing-item">
                    <div class="listing-item-select">
                        <input checked type="radio" name="assignedto" id="assignedto-nobody"  />
                    </div>

                    <div class="listing-item-primary">
                        <h2 class="listing-item-title">Nobody</h2>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-select">
                        <input type="radio" name="assignedto" id="assignedto-hall"  />
                    </div>

                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/seth.png" class="avatar" />
                        </div>

                        <h2 class="listing-item-title">Seth Hall</h2>
                        <p class="listing-item-secondary">Editor</p>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-select">
                        <input type="radio" name="assignedto" id="assignedto-lungati"  />
                    </div>

                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/angela.png" class="avatar" />
                        </div>

                        <h2 class="listing-item-title">Angela Oduor Lungati</h2>
                        <p class="listing-item-secondary">Editor</p>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-select">
                        <input type="radio" name="assignedto" id="assignedto-mackay"  />
                    </div>

                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/robbie.png" class="avatar" />
                        </div>

                        <h2 class="listing-item-title">Robbie MacKay</h2>
                        <p class="listing-item-secondary">Editor</p>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-select">
                        <input type="radio" name="assignedto" id="assignedto-mule"  />
                    </div>

                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/jason.png" class="avatar" />
                        </div>

                        <h2 class="listing-item-title">Jason Mule</h2>
                        <p class="listing-item-secondary">Editor</p>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-select">
                        <input type="radio" name="assignedto" id="assignedto-ondigo"  />
                    </div>

                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/esther.png" class="avatar" />
                        </div>

                        <h2 class="listing-item-title">Esther Ondigo</h2>
                        <p class="listing-item-secondary">Editor</p>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-select">
                        <input type="radio" name="assignedto" id="assignedto-shorland"  />
                    </div>

                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/jess.png" class="avatar" />
                        </div>

                        <h2 class="listing-item-title">Jess Shorland</h2>
                        <p class="listing-item-secondary">Editor</p>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-primary">
                        <button class="button-gamma button-flat">Load more</button>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button class="button-beta button-flat modal-trigger">Cancel</button>
                <button class="button-alpha modal-trigger">Done</button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="task-due" class="modal">
    <div class="modal-window">
        <h3 class="modal-title">This task is due <em>...</em></h3>

        <div class="modal-body">

            <div class="form-field date">
                <label>Due date</label>
                <div class="input-with-icon">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#calendar"></use>
                    </svg>
                    <input type="date" value="2016-07-22" placeholder="No due date" />
                </div>
            </div>
        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button class="button-beta button-flat modal-trigger">Cancel</button>
                <button class="button-alpha modal-trigger">Done</button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div class="mainsheet" data-toggle-target="fab-options" data-toggle-animate>
    <div class="mainsheet-window">
        <h3 class="mainsheet-heading">Submit new survey</h3>
        <ul>
            {{#each deployment.surveys}}
            <li>
                <a href="">
                    <span class="post-band" style="background-color: #{{color}};"></span>
                    {{name}}
                </a>
            </li>
            {{/each}}
        </ul>
    </div>

    <div class="mainsheet-overlay"></div>
</div>
