<article class="postcard">
    {{postBand properties.survey}}

    {{#ifCond checkbox true}}
        {{postCheckbox}}
    {{/ifCond}}

    <div class="postcard-body">
        <header class="postcard-header">
            <ul class="metadata">
                <li>
                    {{#ifCond properties.status 'published'}}
                    <a href="" class="status-indicator">
                        <svg class="iconic">
                          <use xlink:href="../../img/iconic-sprite.svg#globe"></use>
                        </svg>
                        <span class="label">Published</span>
                    </a>
                    {{/ifCond}}

                    {{#ifCond properties.status 'review'}}
                    <a href="" class="status-indicator yellow">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                        </svg>
                        <span class="label">Under review</span>
                    </a>
                    {{/ifCond}}

                    {{#ifCond properties.status 'archived'}}
                    <a href="" class="status-indicator dark">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#box"></use>
                        </svg>
                        <span class="label">Archived</span>
                    </a>
                    {{/ifCond}}
                </li>

                {{#if properties.author.avatar}}
                <li>
                    <a href="">
                        <img src="{{properties.author.avatar}}" class="avatar" />
                        <strong class="label">{{properties.author.name}}</strong>
                    </a>
                </li>
                {{else}}
                <li><strong class="label">{{properties.author.name}}</strong></li>
                {{/if}}
                <li class="tooltip">
                    <span class="label">{{properties.date.post}}</span>
                    <span class="bug">2016-05-12 4:32pm</span>
                </li>
            </ul>

            <!--// IF: User has permission to edit the post //-->
            <div class="postcard-actions">
                <button class="button-gamma button-flat hide-until-small">
                    <svg class="iconic">
                      <use xlink:href="../../img/iconic-sprite.svg#pencil"></use>
                    </svg>
                    <span class="hidden">Edit</span>
                </button>

                <button class="button-gamma button-flat" data-toggle="dropdown-menu">
                    <svg class="iconic">
                      <use xlink:href="../../img/iconic-sprite.svg#ellipses"></use>
                    </svg>
                    <span class="hidden">More</span>
                </button>
                <ul class="dropdown-menu">
                    <li class="hide-when-small">
                        <a href="post-edit.html">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#pencil"></use>
                        </svg>
                        <span class="label">Edit</span>
                        </a>
                    </li>
                    <li>
                        <a href="" data-modal="add-to-collection">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#grid-three-up"></use>
                        </svg>
                        <span class="label">Add to Collection</span>
                        </a>
                    </li>
                    <li>
                        <a href="" data-modal="share">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#share"></use>
                        </svg>
                        <span class="label">Share</span>
                        </a>
                    </li>
                    <li>
                        <a href="" data-modal="delete-post">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#trash"></use>
                        </svg>
                        <span class="label">Delete</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!--// END IF: User has permission to edit the post //-->
        </header>

        {{#if title}}
        <div class="postcard-field">
            <h1 class="postcard-title"><!--a href="" class="postcard-id"><sup>#</sup>{{@index}}</a--> <a href="">{{title}}</a></h1>
        </div>
        {{/if}}

        {{#if description}}
        <div class="postcard-field">
            {{{description}}}
        </div>
        {{/if}}

        {{#if fields.photo}}
        <div class="postcard-field">
            <img src="{{fields.photo}}" class="postcard-image" />
        </div>
        {{/if}}

        <div class="postcard-field">
            <p><a href="">4 more fields...</a></p>
        </div>

        <div class="postcard-overflow">
            <a href="post-detail.html" class="button button-flat button-plain button-beta">Show complete response</a>
        </div>
    </div>
</article>
