<article class="postcard">
    {{postBand}}

    {{#ifCond checkbox true}}
        {{postCheckbox}}
    {{/ifCond}}

    <div class="postcard-body">
        <header class="postcard-header">
            <ul class="metadata">
                {{#ifCond thumb false}}
                <li>
                    {{#ifCond properties.status 'published'}}
                    <a href="post-detail.html#{{@index}}" class="status-indicator">
                        <svg class="iconic">
                          <use xlink:href="../../img/iconic-sprite.svg#globe"></use>
                        </svg>

                        <span class="label {{#ifCond editable false}}hidden{{/ifCond}}">Published</span>
                    </a>
                    {{/ifCond}}

                    {{#ifCond properties.status 'review'}}
                    <a href="post-detail.html#{{@index}}" class="status-indicator yellow">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                        </svg>
                        <span class="label {{#ifCond editable false}}hidden{{/ifCond}}">Under review</span>
                    </a>
                    {{/ifCond}}

                    {{#ifCond properties.status 'archived'}}
                    <a href="post-detail.html#{{@index}}" class="status-indicator dark">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#box"></use>
                        </svg>
                        <span class="label {{#ifCond editable false}}hidden{{/ifCond}}">Archived</span>
                    </a>
                    {{/ifCond}}
                </li>

                <li>
                    {{#if properties.author.avatar}}
                    <img src="{{properties.author.avatar}}" class="avatar" />
                    {{/if}}
                    <strong class="label">{{properties.author.name}}</strong>
                </li>
                {{/ifCond}}

                <li class="tooltip">
                    <span class="label">{{properties.date.post}}</span>
                    <span class="bug">2016-05-12 4:32pm</span>
                </li>
            </ul>

            <div class="postcard-actions">
                {{#if editable}}
                <a href="post-edit.html#{{@index}}" class="button button-gamma button-flat hide-until-small">
                    <svg class="iconic">
                      <use xlink:href="../../img/iconic-sprite.svg#pencil"></use>
                    </svg>
                    <span class="hidden">Edit</span>
                </a>
                {{/if}}

                {{#ifCond show_tasks false}}
                <button class="button-gamma button-flat" data-toggle="dropdown-menu">
                    <svg class="iconic">
                      <use xlink:href="../../img/iconic-sprite.svg#ellipses"></use>
                    </svg>
                    <span class="hidden">More</span>
                </button>
                {{/ifCond}}

                <ul class="dropdown-menu">
                    {{#if editable}}
                    <li class="hide-when-small">
                        <a href="post-edit.html#{{@index}}">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#pencil"></use>
                        </svg>
                        <span class="label">Edit</span>
                        </a>
                    </li>
                    {{/if}}
                    <li>
                        <a href="" data-modal="add-to-collection">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#grid-three-up"></use>
                        </svg>
                        <span class="label">Add to Collection</span>
                        </a>
                    </li>
                    <li>
                        <a href="" data-modal="share">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#share"></use>
                        </svg>
                        <span class="label">Share</span>
                        </a>
                    </li>
                    {{#if editable}}
                    <li>
                        <a href="" data-modal="delete-post">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#trash"></use>
                        </svg>
                        <span class="label">Delete</span>
                        </a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </header>

        <div class="postcard-overflow">
            {{#ifCond video true}}

                {{#ifCond thumb true}}

                    <div class="postcard-field">
                        <h2 class="form-label">Video of the damage</h2>
                        <div class="postcard-video">
                            <svg class="iconic">
                              <use xlink:href="../../img/iconic-sprite.svg#media-play"></use>
                            </svg>
                            <img src="https://i.ytimg.com/vi/1LpiX7uJn5A/hqdefault.jpg?custom=true&w=246&h=138&stc=true&jpg444=true&jpgq=90&sp=68&sigh=XkzkCiYXMzi9PaQ1MNiwvjYCpBQ" />
                        </div>
                    </div>

                {{else}}

                    <div class="postcard-field">
                        <h2 class="form-label">Video of the damage</h2>
                        <div class="video_embed-fluid">
                            <iframe src="http://www.youtube.com/embed/1LpiX7uJn5A?modestbranding=1&rel=0&theme=light&color=white" frameborder="0"></iframe>
                        </div>
                    </div>

                {{/ifCond}}

            {{else}}

                {{#each answers}}
                    {{#if @first}}
                    <div class="postcard-title">
                        <a href="post-detail.html#{{@../index}}">
                    {{/if}}

                        {{postcardField ../properties.survey @../index @index true}}

                    {{#if @first}}
                        </a>
                    </div>
                    {{/if}}
                {{/each}}

                {{postcardMoreFields ../properties.survey @index}}

            {{/ifCond}}
        </div>

        <div class="postcard-overflow-bookend">
            <a href="post-detail.html#{{@index}}" class="button button-beta button-plain">See complete response</a>
        </div>
    </div>
</article>
