<article class="postcard">
    {{postBand properties.survey}}

    <div class="listing-item-select">
        {{postCheckbox}}

        {{#ifCond properties.status 'published'}}
        <span class="status-indicator empty tooltip">
            <svg class="iconic">
              <use xlink:href="../../img/iconic-sprite.svg#globe"></use>
            </svg>
            <span class="bug">This post is published</span>
        </span>
        {{/ifCond}}
        {{#ifCond properties.status 'review'}}
        <span class="status-indicator yellow tooltip">
            <svg class="iconic">
              <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
            </svg>
            <span class="bug">This post is under review</span>
        </span>
        {{/ifCond}}
        {{#ifCond properties.status 'archived'}}
        <span class="status-indicator empty tooltip">
            <svg class="iconic">
              <use xlink:href="../../img/iconic-sprite.svg#box"></use>
            </svg>
            <span class="bug">This post is archived</span>
        </span>
        {{/ifCond}}
    </div>
    <div class="postcard-body">
        <header class="postcard-header">
            <h1 class="postcard-title"><a href="">{{title}}</a></h1>
            <ul class="metadata">
                {{#if properties.author.avatar}}
                <li>
                    <a href="">
                        <img src="{{properties.author.avatar}}" class="avatar" />
                        <strong>{{properties.author.name}}</strong>
                    </a>
                </li>
                {{else}}
                <li>{{properties.author.name}}</li>
                {{/if}}
                <li class="tooltip">{{properties.date.post}} <span class="bug">2016-05-12 4:32pm</span></li>
                <li>via {{properties.source}}</li>
            </ul>
        </header>

        <!--// IF: User has permission to edit the post //-->
        <div class="postcard-actions">
            <button class="button-gamma button-flat hide-until-small">
                <svg class="iconic">
                  <use xlink:href="../../img/iconic-sprite.svg#pencil"></use>
                </svg>
                <span class="hidden">Edit</span>
            </button>

            <button class="button-gamma button-flat" data-toggle="dropdown-menu">
                <svg class="iconic">
                  <use xlink:href="../../img/iconic-sprite.svg#ellipses"></use>
                </svg>
                <span class="hidden">More</span>
            </button>
            <ul class="dropdown-menu">
                <li class="hide-when-small">
                    <a href="post-edit.html">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#pencil"></use>
                    </svg>
                    <span class="label">Edit</span>
                    </a>
                </li>
                <li>
                    <a href="" data-modal="add-to-collection">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#grid-three-up"></use>
                    </svg>
                    <span class="label">Add to Collection</span>
                    </a>
                </li>
                <li>
                    <a href="" data-modal="share">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#share"></use>
                    </svg>
                    <span class="label">Share</span>
                    </a>
                </li>
                <li>
                    <a href="" data-modal="delete-post">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#trash"></use>
                    </svg>
                    <span class="label">Delete</span>
                    </a>
                </li>
            </ul>
        </div>
        <!--// END IF: User has permission to edit the post //-->

        {{#if description}}
        <div class="postcard-field">
            {{{description}}}
        </div>
        {{/if}}

        {{#if fields.photo}}
        <div class="postcard-field">
            <img src="{{fields.photo}}" class="postcard-image" />
        </div>
        {{/if}}

        <div class="postcard-field">
            <div class="video_embed-fluid">
                <button class="button-beta video_embed-button">
                    <svg class="iconic">
                      <use xlink:href="../../img/iconic-sprite.svg#media-play"></use>
                    </svg>
                    <span class="button-label hidden">Play video</span>
                </button>
                <img src="https://i.ytimg.com/vi/Gt9fqKG-oiI/hqdefault.jpg?custom=true&w=168&h=94&stc=true&jpg444=true&jpgq=90&sp=68&sigh=-fh34fq0gkIb6RkHIYHHqgs66mI" />
            </div>
        </div>

    </div>
</article>
