<article class="postcard" {{#ifCond draggable true}}draggable="true"{{/ifCond}}>
    {{postBand}}

    {{#ifCond checkbox true}}
        {{postCheckbox}}
    {{/ifCond}}

    <div class="postcard-body">
        <header class="postcard-header">
            <ul class="metadata">
                <li>
                    {{#ifCond properties.status 'Review'}}
                    <span class="status-indicator {{#ifCond editable false}}tooltip{{/ifCond}}">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                        </svg>
                        <span class="{{#ifCond editable false}}bug{{else}}label{{/ifCond}}">Review</span>
                    </span>
                    {{/ifCond}}

                    {{#ifCond properties.status 'Investigate'}}
                    <span class="status-indicator {{#ifCond editable false}}tooltip{{/ifCond}}">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                        </svg>
                        <span class="{{#ifCond editable false}}bug{{else}}label{{/ifCond}}">Investigate</span>
                    </span>
                    {{/ifCond}}

                    {{#ifCond properties.status 'Contact department'}}
                    <span class="status-indicator {{#ifCond editable false}}tooltip{{/ifCond}}">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                        </svg>
                        <span class="{{#ifCond editable false}}bug{{else}}label{{/ifCond}}">Contact department</span>
                    </span>
                    {{/ifCond}}

                    {{#ifCond properties.status 'Resolved'}}
                    <span class="status-indicator {{#ifCond editable false}}tooltip{{/ifCond}}">
                        <svg class="iconic">
                          <use xlink:href="../../img/iconic-sprite.svg#globe"></use>
                        </svg>
                        <span class="{{#ifCond editable false}}bug{{else}}label{{/ifCond}}">Resolved</span>
                    </span>
                    {{/ifCond}}
                </li>

                {{#ifCond show_tasks false}}
                <li>
                    {{#if properties.author.avatar}}
                    {{#ifCond show_tasks false}}
                        <img src="{{properties.author.avatar}}" class="avatar" />
                    {{/ifCond}}
                    {{/if}}
                    <strong class="label">{{properties.author.name}}</strong>
                </li>
                {{/ifCond}}

                <li class="tooltip">
                    <span class="label">{{properties.date.post}}</span>
                    <span class="bug">2016-05-12 4:32pm</span>
                </li>
            </ul>

            {{#ifCond show_tasks false}}
            <div class="postcard-actions">
                {{#if editable}}
                <a href="post-edit.html#{{@index}}" class="button button-gamma button-flat hide-until-small">
                    <svg class="iconic">
                      <use xlink:href="../../img/iconic-sprite.svg#pencil"></use>
                    </svg>
                    <span class="hidden">Edit</span>
                </a>
                {{/if}}

                {{#ifCond show_tasks false}}
                <button class="button-gamma button-flat" data-toggle="dropdown-menu">
                    <svg class="iconic">
                      <use xlink:href="../../img/iconic-sprite.svg#ellipses"></use>
                    </svg>
                    <span class="hidden">More</span>
                </button>
                {{/ifCond}}

                <ul class="dropdown-menu">
                    {{#if editable}}
                    <li class="hide-when-small">
                        <a href="post-edit.html#{{@index}}">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#pencil"></use>
                        </svg>
                        <span class="label">Edit</span>
                        </a>
                    </li>
                    {{/if}}
                    <li>
                        <a href="" data-modal="add-to-collection">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#grid-three-up"></use>
                        </svg>
                        <span class="label">Add to Collection</span>
                        </a>
                    </li>
                    <li>
                        <a href="" data-modal="share">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#share"></use>
                        </svg>
                        <span class="label">Share</span>
                        </a>
                    </li>
                    {{#if editable}}
                    <li>
                        <a href="" data-modal="delete-post">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#trash"></use>
                        </svg>
                        <span class="label">Delete</span>
                        </a>
                    </li>
                    {{/if}}
                </ul>
            </div>
            {{/ifCond}}
        </header>

        <div class="postcard-overflow">
            {{#ifCond show_tasks true}}

            <div class="postcard-field task">
                <div class="tool">
                    <div class="tool-actions">
                        <button class="button-link" data-toggle="dropdown-menu">
                            <svg class="iconic">
                                <use xlink:href="../../img/material/svg-sprite-navigation-symbol.svg#ic_more_vert_24px"></use>
                            </svg>
                            <span class="hidden">More</span>
                        </button>
                        <div class="dropdown-menu">
                            <p>This task asks that the field <strong>Categories</strong> be completed.</p>
                            <div class="divider"></div>
                            <ul>
                                <li>
                                    <a href="">
                                        <svg class="iconic">
                                            <use xlink:href="../../img/iconic-sprite.svg#person"></use>
                                        </svg>
                                        <span class="label">Change assignee</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <svg class="iconic">
                                            <use xlink:href="../../img/iconic-sprite.svg#circle-x"></use>
                                        </svg>
                                        <span class="label">Remove task</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <h1 class="form-label"><a href="post-edit.html">Categories</a></h1>
                    <p class="metadata">Assigned to <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/hazel.jpg" class="avatar" /> <strong class="label">Hazel Mugo</strong></p>
                </div>
            </div>

            {{else}}

                {{#each answers}}
                    {{#if @first}}
                    <div class="postcard-title">
                        <a href="post-detail.html#{{@../index}}">
                    {{/if}}

                        {{postcardField ../properties.survey @../index @index true}}

                    {{#if @first}}
                        </a>
                    </div>
                    {{/if}}
                {{/each}}

                {{postcardMoreFields ../properties.survey @index}}
            {{/ifCond}}
        </div>

        <div class="postcard-overflow-bookend">
            <a href="post-detail.html#{{@index}}" class="button button-beta button-plain">See complete response</a>
        </div>
    </div>
</article>
