<article class="postcard" {{#ifCond draggable true}}draggable="true"{{/ifCond}}>
    {{postBand}}

    {{#ifCond checkbox true}}
        {{postCheckbox}}
    {{/ifCond}}

    <div class="postcard-body">
        {{#ifCond show_tasks true}}
        <div class="postcard-field task">
            <div class="task-checkbox">
                <input type="checkbox" id="task-{{@index}}-done" disabled />
                <label for="task-{{@index}}-done">Report to department</label>
            </div>

            <label for="task-{{@index}}-done"><a href="post-edit.html#0">Report to department</a></label>

            <p class="metadata"><img src="https://www.ushahidi.com/uploads/team-members/_teamImage/daudi.png" class="avatar" /> <strong class="label">Daudi Were</strong></p>

            <div class="task-actions">
                <button class="button-gamma button-plain" data-toggle="dropdown-menu">
                    <svg class="iconic">
                      <use xlink:href="../../img/iconic-sprite.svg#ellipses"></use>
                    </svg>
                    <span class="hidden">More</span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="">
                            <svg class="iconic">
                                <use xlink:href="../../img/iconic-sprite.svg#person"></use>
                            </svg>
                            <span class="label">Change assignee</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <svg class="iconic">
                                <use xlink:href="../../img/iconic-sprite.svg#circle-x"></use>
                            </svg>
                            <span class="label">Remove task</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        {{/ifCond}}

        <header class="postcard-header">
            <ul class="metadata">
                <li>
                    {{#ifCond properties.status 'published'}}
                    <a href="post-detail.html#{{@index}}" class="status-indicator">
                        <svg class="iconic">
                          <use xlink:href="../../img/iconic-sprite.svg#globe"></use>
                        </svg>

                        <span class="label {{#ifCond editable false}}hidden{{/ifCond}}">Published</span>
                    </a>
                    {{/ifCond}}

                    {{#ifCond properties.status 'review'}}
                    <a href="post-detail.html#{{@index}}" class="status-indicator yellow">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                        </svg>
                        <span class="label {{#ifCond editable false}}hidden{{/ifCond}}">Under review</span>
                    </a>
                    {{/ifCond}}

                    {{#ifCond properties.status 'archived'}}
                    <a href="post-detail.html#{{@index}}" class="status-indicator dark">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#box"></use>
                        </svg>
                        <span class="label {{#ifCond editable false}}hidden{{/ifCond}}">Archived</span>
                    </a>
                    {{/ifCond}}
                </li>

                <li>
                    {{#if properties.author.avatar}}
                    {{#ifCond show_tasks false}}
                        <img src="{{properties.author.avatar}}" class="avatar" />
                    {{/ifCond}}
                    {{/if}}
                    <strong class="label">{{properties.author.name}}</strong>
                </li>
                <li class="tooltip">
                    <span class="label">{{properties.date.post}}</span>
                    <span class="bug">2016-05-12 4:32pm</span>
                </li>
            </ul>

            {{#ifCond show_tasks false}}
            <div class="postcard-actions">
                {{#if editable}}
                <a href="post-edit.html#{{@index}}" class="button button-gamma button-flat hide-until-small">
                    <svg class="iconic">
                      <use xlink:href="../../img/iconic-sprite.svg#pencil"></use>
                    </svg>
                    <span class="hidden">Edit</span>
                </a>
                {{/if}}

                {{#ifCond show_tasks false}}
                <button class="button-gamma button-flat" data-toggle="dropdown-menu">
                    <svg class="iconic">
                      <use xlink:href="../../img/iconic-sprite.svg#ellipses"></use>
                    </svg>
                    <span class="hidden">More</span>
                </button>
                {{/ifCond}}

                <ul class="dropdown-menu">
                    {{#if editable}}
                    <li class="hide-when-small">
                        <a href="post-edit.html#{{@index}}">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#pencil"></use>
                        </svg>
                        <span class="label">Edit</span>
                        </a>
                    </li>
                    {{/if}}
                    <li>
                        <a href="" data-modal="add-to-collection">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#grid-three-up"></use>
                        </svg>
                        <span class="label">Add to Collection</span>
                        </a>
                    </li>
                    <li>
                        <a href="" data-modal="share">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#share"></use>
                        </svg>
                        <span class="label">Share</span>
                        </a>
                    </li>
                    {{#if editable}}
                    <li>
                        <a href="" data-modal="delete-post">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#trash"></use>
                        </svg>
                        <span class="label">Delete</span>
                        </a>
                    </li>
                    {{/if}}
                </ul>
            </div>
            {{/ifCond}}
        </header>

        <div class="postcard-overflow">
            {{#ifCond show_tasks true}}

                {{#each-limit answers 1}}
                    {{postcardField ../properties.survey @../index 0 true}}
                {{/each-limit}}

            {{else}}

                {{#each answers}}
                    {{#if @first}}
                    <div class="postcard-title">
                        <a href="post-detail.html#{{@../index}}">
                    {{/if}}

                        {{postcardField ../properties.survey @../index @index true}}

                    {{#if @first}}
                        </a>
                    </div>
                    {{/if}}
                {{/each}}

                {{postcardMoreFields ../properties.survey @index}}
            {{/ifCond}}
        </div>

        <div class="postcard-overflow-bookend">
            <a href="post-detail.html#{{@index}}" class="button button-beta button-plain">See complete response</a>
        </div>
    </div>
</article>
