<div class="survey-filter-checkbox">
    <div class="survey-filter-parent">
        <div class="survey-filter-label">
            <span class="post-band" style="background-color:#{{color}};"></span>
            <label>
                <input type="checkbox" {{#unless datasource}}checked{{/unless}} />
                {{name}}
            </label>
        </div>
        <span class="survey-filter-total" data-toggle="dropdown-menu">
            18
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
            </svg>
        </span>
        <div class="dropdown-menu">
            <span class="post-band" style="background-color:#{{color}};"></span>
            <p><em>{{description}}</em></p>
            <div class="divider"></div>
            <ul>
                {{#unless datasource}}
                <li>
                    <a href="post-add.html#{{@index}}">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#plus"></use>
                    </svg>
                    <span class="label">Respond to this survey</span>
                    </a>
                </li>
                <li>
                    <a href="">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#task"></use>
                    </svg>
                    <span class="label">Assign someone to respond</span>
                    </a>
                </li>
                <div class="divider"></div>
                {{/unless}}
                <li><a href="">Show only {{name}}</a></li>
                <li><a href="">Hide {{name}}</a></li>
                <div class="divider"></div>
                <li>
                    <a href="settings-survey-edit.html#{{@index}}">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#pencil"></use>
                    </svg>
                    <span class="label">Edit {{name}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    {{#if categories}}
    <fieldset class="survey-filter-children">
        <legend data-toggle="form-fieldgroup">{{categories.length}} labels</legend>

        <div class="form-fieldgroup">

            {{#each categories}}
            <div class="form-field checkbox">
                <label>
                    <input type="checkbox" checked />
                    {{name}}
                </label>
            </div>
            {{/each}}

        </div>

    </fieldset>
    {{/if}}
</div>
