<div class="task {{#if complete}}complete{{/if}} {{#if disabled}}disabled{{/if}}">
    <h5 class="task-title">
        {{#unless disabled}}
        <a href="#task-{{@index}}" data-modal="task-{{@index}}">
            {{#unless complete}}
            <span class="status-indicator yellow"></span>
            {{/unless}}
        {{/unless}}

            {{name}}

        {{#unless disabled}}
        </a>
        {{/unless}}
    </h5>
    <div class="task-actions">

        {{#if assignee}}
        <span class="tooltip">
            <span class="bug">Assigned to {{assignee.name}}</span>
            <img src="{{assignee.avatar}}" class="avatar" />

            {{#if assignee.locked}}
            <span class="status-indicator">
                <svg class="iconic">
                  <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                </svg>
            </span>
            {{/if}}
        </span>
        {{/if}}

        <button class="button-beta button-flat" data-toggle="dropdown-menu">
            <svg class="iconic">
              <use xlink:href="../../img/iconic-sprite.svg#ellipses"></use>
            </svg>
            <span class="nodisplay">More</span>
        </button>
        <ul class="dropdown-menu">
            {{#unless disabled}}
            <li>
                <a href="">Mark {{#if complete}}incomplete{{else}}complete{{/if}}</a>
            </li>
            <div class="divider"></div>
            {{/unless}}
            <li>
                <a href="" data-modal="task-assignment">
                <svg class="iconic">
                    <use xlink:href="../../img/iconic-sprite.svg#person"></use>
                </svg>
                <span class="label">{{#if assignee}}Change{{else}}Add{{/if}} assignment</span>
                </a>
            </li>
            <li>
                <a href="" data-modal="task-due">
                <svg class="iconic">
                    <use xlink:href="../../img/iconic-sprite.svg#calendar"></use>
                </svg>
                <span class="label">{{#if due}}Change{{else}}Add{{/if}} due date</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="task-body">
        {{#if due}}
            <p><strong>Due</strong>: {{due}}</p>
        {{/if}}

        {{#if disabled}}
            <p><em>This task can't be completed until "Verify" is completed.</em></p>
        {{else}}
            <p>{{description}}</p>
        {{/if}}
    </div>
</div>
