{{> ModeBar }}

<div class="mode-context">

    <header class="mode-context-header {{#if deployment.logo}}has-logo{{/if}}">
        <h1 class="mode-context-title"><a href="">{{deployment.name}}</a></h1>

        {{#if deployment.logo}}
            <img src="{{deployment.logo}}" class="deployment-logo" />
        {{/if}}
    </header>

    <span class="mode-context-trigger">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden">Show more/less</span>
    </span>

    <div class="mode-context-body">
        {{{deployment.description}}}
    </div>
</div>

<main role="main">

    <div class="toolbar">

        <div class="button-group">
            <button class="button-flat" data-modal="share">
                <svg class="iconic">
                  <use xlink:href="../../img/iconic-sprite.svg#share"></use>
                </svg>
                <span class="button-label">Share</span>
            </button>

            <button class="button-alpha">Submit</button>
        </div>
        
    </div>

    <div class="main-col">

        <div class="form-sheet">
            {{#with (lookup deployment.surveys 0)}} <!--// Choose the survey index that will be the context for this template //-->
                <span class="post-band" style="background-color: #{{color}}"></span>

                <header class="form-sheet-summary">
                    <h1 class="form-sheet-title survey-title">{{name}}</h1>
                </header>
            {{/with}}

            <div class="form-field title" style="margin-left:4px;">
                <label class="hidden">Title</label>
                <input type="text" placeholder="Title"/>
            </div>

            <div class="toolbox">
                {{#if user.logged_in}}

                <div class="tool">
                    <fieldset class="custom-fieldset">
                        <legend><span class="custom-fieldset-value">Status</span></legend>
                        <div class="form-field radio icon-input">
                            <label for="status-published">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#globe"></use>
                                </svg>
                                <input type="radio" name="status" id="status-published" />
                                Published
                            </label>
                        </div>
                        <div class="form-field radio icon-input">
                            <label for="status-review">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                                </svg>
                                <input type="radio" name="status" id="status-review" checked />
                                Under review
                            </label>
                        </div>
                        <div class="form-field radio icon-input">
                            <label for="status-archive">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#box"></use>
                                </svg>
                                <input type="radio" name="status" id="status-archive" />
                                Archived
                            </label>
                        </div>
                    </fieldset>
                </div>

                <div class="tool">
                    <h6 class="tool-heading">Post date</h6>
                    <span class="tool-trigger" data-toggle="toggle-content">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
                        </svg>
                        <span class="label hidden">Show/hide</span>
                    </span>
                    <div class="toggle-content active">
                        <fieldset>
                            <legend class="hidden">Post date</legend>
                            <div class="form-field date">
                                <label class="hidden">Date</label>
                                <div class="input-with-icon">
                                    <svg class="iconic">
                                        <use xlink:href="../../img/iconic-sprite.svg#calendar"></use>
                                    </svg>
                                    <input type="date" value="2016-06-22" placeholder="Date" />
                                </div>
                            </div>
                            <div class="form-field date">
                                <label class="hidden">Time</label>
                                <div class="input-with-icon">
                                    <svg class="iconic">
                                        <use xlink:href="../../img/iconic-sprite.svg#clock"></use>
                                    </svg>
                                    <input type="time" value="11:39:57" placeholder="Time" />
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

                {{else}}

                <div class="tool">
                    <strong>This post will need to be reviewed</strong> before it's published.
                </div>

                {{/if}}
            </div>

            <div class="form-field">
                <label>Description</label>
                <textarea></textarea>
            </div>

            <div class="form-field file">
                <label>Photo of the problem</label>
                <input type="file" id="photo" />
                <label for="photo" class="button button-gamma">
                    <svg class="iconic">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#plus"></use>
                    </svg>
                    <span class="button-label">Add photo</span>
                </label>
            </div>

            <div class="form-field video_embed">
                <label>Video of the problem</label>
                <p>Enter a <span id="wordmark-youtube" class="wordmark-replace" style="background-image: url(../../img/youtube.png);">YouTube</span> or <span id="wordmark-vimeo" class="wordmark-replace" style="background-image: url(../../img/vimeo.png);">Vimeo</span> video URL</p>
                <input type="url" placeholder="https://youtu.be/123456" />

                <div class="form-field-preview"></div>
            </div>

            <fieldset>
                <legend>Time &amp; date</legend>

                <div class="form-field inline required">
                    <label class="hidden">Time</label>
                    <div class="input-with-icon">
                        <svg class="iconic">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#clock"></use>
                        </svg>
                        <input type="time" required />
                    </div>
                </div>

                <div class="form-field inline required">
                    <label class="hidden">Date</label>
                    <div class="input-with-icon">
                        <svg class="iconic">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#calendar"></use>
                        </svg>
                        <input type="date" required />
                    </div>
                </div>
            </fieldset>

            <div class="form-field location">
                <label>Location</label>
                {{mapEmbed 0 false}}

                <form role="search" class="searchbar" data-message="search">
                    <div class="searchbar-input">
                        <div class="form-field">
                            <input type="search" maxlength="250" placeholder="Pick a location" value="" />
                        </div>
                        <div class="searchbar-results dropdown-menu">
                            <div class="form-field">
                                <!--button class="button-plain">
                                    <svg class="iconic">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#magnifying-glass"></use>
                                    </svg>
                                    <span class="button-label">Search for "<em>123 Main St</em>"</span>
                                </button-->

                                <button class="button-beta button-plain">
                                    <svg class="iconic">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#location"></use>
                                    </svg>
                                    <span class="button-label">Use your current location</span>
                                </button>
                            </div>

                            <div class="tool">
                                <h6 class="tool-heading">Search results</h6>
                                <dl class="dropdown-menu-body">
                                    <dt class="list-item">
                                        <a href="#">
                                            <svg class="iconic">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#map-marker"></use>
                                            </svg>
                                            <em>30.316855</em> latitude, <em>-97.674815</em> longitude
                                        </a>
                                    </dt>
                                    <dt class="list-item">
                                        <a href="#">
                                            <svg class="iconic">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#map-marker"></use>
                                            </svg>
                                            <em>123 Main St</em>reet Austin, TX USA
                                        </a>
                                    </dt>
                                    <dt class="list-item">
                                        <a href="#">
                                            <svg class="iconic">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#map-marker"></use>
                                            </svg>
                                            <em>123</em> Paint Supply, 416 Lamar Blvd. Austin, TX USA
                                        </a>
                                    </dt>
                                    <dt class="list-item">
                                        <a href="#">
                                            <svg class="iconic">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#map-marker"></use>
                                            </svg>
                                            <em>123 Main St</em>reet Austin, TX USA
                                        </a>
                                    </dt>
                                    <dt class="list-item">
                                        <a href="#">
                                            <svg class="iconic">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#map-marker"></use>
                                            </svg>
                                            <em>123</em> Paint Supply, 416 Lamar Blvd. Austin, TX USA
                                        </a>
                                    </dt>
                                </dl>
                            </div>
                        </div>
                    </div>
                </form>

                <p><em>You can search or click the area of map where you want to place the marker.</em></p>
            </div>

            <fieldset>
                <legend>Categories</legend>

                <div class="form-field checkbox">
                    <label for="cat1"><input type="checkbox" id="cat1">Category 1</label>
                </div>
                <div class="form-field checkbox">
                    <label for="cat2"><input type="checkbox" id="cat2">Category 2</label>
                </div>
                <div class="form-field checkbox">
                    <label for="cat3"><input type="checkbox" id="cat3">Category 3</label>
                </div>
            </fieldset>

            <div class="form-sheet-actions">
                <div class="form-field">
                    <a href="{{#if ../user.logged_in}}post-detail.html{{else}}timeline.html{{/if}}" class="button button-alpha">Submit</a>
                    <a href="post-add.html" class="button button-gamma button-flat">Submit &amp; add another</a>
                </div>
            </div>

        </div>

    </div>

</main>

{{> Modals }}

<div id="required" class="message">
    <div class="message-image error">
        <svg class="iconic">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#warning"></use>
        </svg>
    </div>

    <div class="message-body">
        <p><strong>Please complete the 'Time &amp; date of encounter' field</strong> before posting to this survey.</p>

        <a href="#time-date-encounter" class="button button-beta button-flat message-trigger">Edit field</a>

        <button class="button-flat message-trigger">
            Dismiss
        </button>
    </div>
</div>
