{{> ModeBar }}

<div class="mode-context">

    <header class="mode-context-header">
        <ol class="breadcrumbs">
            <li><a href="map.html">{{deployment.name}}</a></li>
            <li><a href="settings.html">Settings</a></li>
        </ol>

        <h1 class="mode-context-title">Surveys</h1>
    </header>

    <span class="mode-context-trigger">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden">Show more/less</span>
    </span>

    <div class="mode-context-body">

    </div>
</div>

<main role="main">

    <div class="toolbar">
        <div class="fab">
            <a href="" class="button button-alpha button-fab">
                <svg class="iconic">
                  <use xlink:href="../../img/iconic-sprite.svg#plus"></use>
                </svg>
                <span class="hidden">Add</span>
            </a>
        </div>
    </div>

    <div class="full-col">

        <div class="listing card">

            {{#each deployment.surveys}}
            {{#unless datasource}}
            <article class="listing-item">
                <span class="post-band" style="background-color:#{{color}};"></span>

                <div class="listing-item-secondary">
                    <button class="button-beta button-flat">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#trash"></use>
                        </svg>
                        <span class="hidden">Delete</span>
                    </button>
                </div>

                <div class="listing-item-primary">
                    <h2 class="listing-item-title">
                        <a href="settings-survey-edit.html">{{name}}</a>
                        <span class="status-indicator green"></span>
                    </h2>
                    <p class="listing-item-secondary">{{description}}</p>
                </div>
            </article>
            {{/unless}}
            {{/each}}

            <article class="listing-item">
                <span class="post-band" style="background-color:#{{color}};"></span>

                <div class="listing-item-secondary">
                    <button class="button-beta button-flat">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#trash"></use>
                        </svg>
                        <span class="hidden">Delete</span>
                    </button>
                </div>

                <div class="listing-item-primary">
                    <h2 class="listing-item-title">
                        <a href="settings-survey-edit.html">Licensing</a>
                        <span class="status-indicator"></span>
                    </h2>
                </div>
            </article>

        </div>

    </div>

</main>

{{> Modals }}

<div id="survey-saved" class="message transient">
    <div class="message-image confirmation">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#thumb-up"></use>
        </svg>
    </div>
    <div class="message-body">
        <p>Your new survey was saved.</p>
    </div>
</div>

<script>
setTimeout(function() {
    messageToggle($('#survey-saved'), true);
}, 1000);
</script>
