{{> ModeBar }}

<div class="mode-context">

    <header class="mode-context-header">
        <ol class="breadcrumbs">
            <li><a href="map.html">{{deployment.name}}</a></li>
            <li><a href="settings.html">Settings</a></li>
            <li><a href="">Surveys</a></li>
        </ol>

        <h1 class="mode-context-title">Edit Survey</h1>
        <a href="settings-targeted-surveys.html"><span>Send a targeted survey via SMS</span></a>

    </header>

    <span class="mode-context-trigger">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden">Show more/less</span>
    </span>

    <div class="mode-context-body">

    </div>
</div>

<main role="main">

    <div class="toolbar">
        <div class="button-group">
            <button type="button" class="button-flat">Cancel</button>
            <button type="button" class="button-alpha">Save</button>
        </div>
    </div>

    <div class="full-col">

        <section class="form-sheet">
            <span class="post-band" style="background-color: #{{deployment.surveys.0.color}}"></span>

            <div class="form-field title survey-title">
                <label class="hidden">Survey name</label>
                <input type="text" placeholder="Survey name" value="{{deployment.surveys.0.name}}">

                <label class="hidden">Survey description</label>
                <textarea placeholder="Describe your survey...">{{deployment.surveys.0.description}}</textarea>
            </div>

            <nav class="tabs-menu" data-tabs="survey-details">
                <ul>
                    <li class="active"><a href="#survey-build">Build</a></li>
                    <li><a href="#survey-configure">Configure</a></li>
                    <li><a href="#survey-share">Share</a></li>
                </ul>
            </nav>

            <div id="survey-build" class="survey-details tabs-target">
                <div class="listing" style="margin-left: 4px;">
                    <h3 class="listing-heading hidden">Fields</h3>

                    <div class="listing-item">
                        <div class="listing-item-select"></div>
                        <div class="listing-item-primary">
                            <div class="listing-item-image">
                                <svg class="iconic">
                                    <use xlink:href="../../img/material/svg-sprite-editor-symbol.svg#ic_short_text_24px"></use>
                                </svg>
                            </div>
                            <h2 class="listing-item-title"><a href="">Title</a></h2>
                        </div>
                    </div>

                    <div class="listing-item">
                        <div class="listing-item-select"></div>
                        <div class="listing-item-primary">
                            <div class="listing-item-image">
                                <svg class="iconic">
                                    <use xlink:href="../../img/material/svg-sprite-editor-symbol.svg#ic_format_align_left_24px"></use>
                                </svg>
                            </div>
                            <h2 class="listing-item-title"><a href="">Description</a></h2>
                        </div>
                    </div>

                    <div class="listing-item">
                        <div class="listing-item-select">
                            <div class="buttons-updown">
                                <button class="button-gamma">
                                    <svg class="iconic">
                                        <use xlink:href="../../img/iconic-sprite.svg#chevron-top"></use>
                                    </svg>
                                    <span class="label hidden">Move up</span>
                                </button>
                                <button class="button-gamma">
                                    <svg class="iconic">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
                                    </svg>
                                    <span class="label hidden">Move down</span>
                                </button>
                            </div>
                        </div>

                        <div class="listing-item-secondary">
                            <button class="button-beta button-flat">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#trash"></use>
                                </svg>
                                <span class="hidden">Delete</span>
                            </button>
                        </div>

                        <div class="listing-item-primary">
                            <div class="listing-item-image">
                                <svg class="iconic">
                                    <use xlink:href="../../img/material/svg-sprite-communication-symbol.svg#ic_location_on_24px"></use>
                                </svg>
                            </div>
                            <h2 class="listing-item-title"><a href="">Location</a></h2>
                        </div>
                    </div>

                    <div class="listing-item">
                        <div class="listing-item-select">
                            <div class="buttons-updown">
                                <button class="button-gamma">
                                    <svg class="iconic">
                                        <use xlink:href="../../img/iconic-sprite.svg#chevron-top"></use>
                                    </svg>
                                    <span class="label hidden">Move up</span>
                                </button>
                                <button class="button-gamma">
                                    <svg class="iconic">
                                        <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
                                    </svg>
                                    <span class="label hidden">Move down</span>
                                </button>
                            </div>
                        </div>

                        <div class="listing-item-secondary">
                            <button class="button-beta button-flat">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#trash"></use>
                                </svg>
                                <span class="hidden">Delete</span>
                            </button>
                        </div>

                        <div class="listing-item-primary">
                            <div class="listing-item-image">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#tags"></use>
                                </svg>
                            </div>
                            <h2 class="listing-item-title"><a href="" data-modal="edit-field-categories">Categories</a></h2>
                        </div>
                    </div>

                    <div class="listing-item">
                        <div class="listing-item-select">
                            <div class="buttons-updown">
                                <button type="button" class="button-beta">
                                    <svg class="iconic">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-top"></use>
                                    </svg>
                                    <span class="label hidden">Move up</span>
                                </button>
                                <button type="button" class="button-beta" disabled>
                                    <svg class="iconic">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
                                    </svg>
                                    <span class="label hidden">Move down</span>
                                </button>
                            </div>
                        </div>

                        <div class="listing-item-secondary">
                            <button class="button-beta button-flat">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#trash"></use>
                                </svg>
                                <span class="hidden">Delete</span>
                            </button>
                        </div>

                        <div class="listing-item-primary">
                            <div class="listing-item-image">
                                <svg class="iconic">
                                    <use xlink:href="../../img/material/svg-sprite-editor-symbol.svg#ic_short_text_24px"></use>
                                </svg>
                            </div>
                            <h2 class="listing-item-title">
                                <a href="" data-modal="edit-field-text">Witness</a>
                                <span class="listing-item-image tooltip">
                                    <svg class="iconic">
                                        <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                                    </svg>
                                    <span class="bug">Only people with permission to edit responses can see responses to this field</span>
                                </span>
                            </h2>
                        </div>
                    </div>

                    <div class="listing-item">
                        <div class="listing-item-primary">
                            <h2 class="listing-item-title">
                                <a href="" class="button" data-toggle="field-type">
                                    <svg class="iconic">
                                        <use xlink:href="../../img/iconic-sprite.svg#plus"></use>
                                    </svg>
                                    <span class="button-label">Add field</span>
                                </a>
                            </h2>
                        </div>
                    </div>
                </div>

                <div class="listing hidden" style="margin-left: 4px;">
                    <div class="form-field title section-title">
                        <label class="hidden">Section name</label>
                        <input type="text" placeholder="Section name" value="Verify">

                        <label class="hidden">Section description</label>
                        <textarea placeholder="Describe this section..."></textarea>

                        <p class="alert">
                            <svg class="iconic">
                                <use xlink:href="../../img/iconic-sprite.svg#people"></use>
                            </svg>
                            The fields in this section can only be completed and viewed by select people. <a>Change settings</a>
                        </p>
                    </div>

                    <div class="listing-item">
                        <div class="listing-item-select">
                            <div class="buttons-updown">
                                <button class="button-gamma" disabled>
                                    <svg class="iconic">
                                        <use xlink:href="../../img/iconic-sprite.svg#chevron-top"></use>
                                    </svg>
                                    <span class="label hidden">Move up</span>
                                </button>
                                <button class="button-gamma">
                                    <svg class="iconic">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
                                    </svg>
                                    <span class="label hidden">Move down</span>
                                </button>
                            </div>
                        </div>

                        <div class="listing-item-secondary">
                            <button class="button-beta button-flat">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#trash"></use>
                                </svg>
                                <span class="hidden">Delete</span>
                            </button>
                        </div>

                        <div class="listing-item-primary">
                            <div class="listing-item-image">
                                <svg class="iconic">
                                    <use xlink:href="../../img/material/svg-sprite-editor-symbol.svg#ic_short_text_24px"></use>
                                </svg>
                            </div>
                            <h2 class="listing-item-title"><a href="">Source</a></h2>
                        </div>
                    </div>

                    <div class="listing-item">
                        <div class="listing-item-select">
                            <div class="buttons-updown">
                                <button type="button" class="button-beta">
                                    <svg class="iconic">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-top"></use>
                                    </svg>
                                    <span class="label hidden">Move up</span>
                                </button>
                                <button type="button" class="button-beta" disabled>
                                    <svg class="iconic">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
                                    </svg>
                                    <span class="label hidden">Move down</span>
                                </button>
                            </div>
                        </div>

                        <div class="listing-item-secondary">
                            <button class="button-beta button-flat">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#trash"></use>
                                </svg>
                                <span class="hidden">Delete</span>
                            </button>
                        </div>

                        <div class="listing-item-primary">
                            <div class="listing-item-image">
                                <svg class="iconic">
                                    <use xlink:href="../../img/material/svg-sprite-editor-symbol.svg#ic_format_align_left_24px"></use>
                                </svg>
                            </div>
                            <h2 class="listing-item-title">
                                <a href="" data-modal="edit-field">Notes</a>
                            </h2>
                        </div>
                    </div>

                    <div class="listing-item">
                        <div class="listing-item-primary">
                            <h2 class="listing-item-title">
                                <!--// Add field //
                                <a href="" class="button" data-toggle="field-type">
                                    <svg class="iconic">
                                        <use xlink:href="../../img/iconic-sprite.svg#plus"></use>
                                    </svg>
                                    <span class="button-label">Add field</span>
                                </a>
                                //-->

                                <a href="" class="button" data-toggle="add-type">
                                    <svg class="iconic">
                                        <use xlink:href="../../img/iconic-sprite.svg#plus"></use>
                                    </svg>
                                    <span class="button-label">Add</span>
                                </a>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>

            <div id="survey-configure" class="survey-details tabs-target">
                <div class="form-field switch">
                    <label>Require responses be reviewed before they're published</label>
                    <p data-fieldgroup-target="require-review-message">New responses to this survey will be put "under review," and therefore not immediately visible to the public. Users with permission to review the response can review and "publish" them, which would then make them visible to everyone.</p>
                    <div class="toggle-switch">
                        <input class="tgl" id="require-review" type="checkbox" data-fieldgroup-toggle="require-review-message">
                        <label class="tgl-btn" for="require-review"></label>
                    </div>
                </div>

                <div class="form-field switch">
                    <label>Hide author information</label>
                    <p data-fieldgroup-target="hide-author-message">Only people with permission to edit responses will be able to see who submitted them; and only when editing them.</p>
                    <div class="toggle-switch">
                        <input class="tgl" id="hide-author" type="checkbox" data-fieldgroup-toggle="hide-author-message">
                        <label class="tgl-btn" for="hide-author"></label>
                    </div>
                </div>

                <fieldset>
                    <legend>Who can submit responses to this survey</legend>

                    <div class="form-field radio icon-input">
                        <label for="survey-add_everyone">
                            <svg class="iconic">
                                <use xlink:href="../../img/iconic-sprite.svg#globe"></use>
                            </svg>
                            <input type="radio" name="survey-add" id="survey-add_everyone" checked />
                            <span class="label">Everyone</span>
                        </label>
                    </div>

                    <div class="form-field radio icon-input">
                        <label for="survey-add_roles">
                            <svg class="iconic">
                                <use xlink:href="../../img/iconic-sprite.svg#people"></use>
                            </svg>
                            <input type="radio" name="survey-add" id="survey-add_roles" data-fieldgroup-toggle="survey-add_roles" />
                            Specific roles...
                        </label>

                        <div class="form-fieldgroup" data-fieldgroup-target="survey-add_roles">
                            <div class="form-field checkbox">
                                <input type="checkbox" id="survey-add_roles-members" />
                                <label for="survey-add_roles-members">Members</label>
                            </div>

                            <div class="form-field checkbox">
                                <input type="checkbox" id="survey-add_roles-editors" />
                                <label for="survey-add_roles-editors">Editors</label>
                            </div>

                            <div class="form-field checkbox">
                                <input type="checkbox" id="survey-add_roles-operators" />
                                <label for="survey-add_roles-operators">Operators</label>
                            </div>

                            <div class="form-field checkbox">
                                <input type="checkbox" id="survey-add_roles-admins" />
                                <label for="survey-add_roles-admins">Administrators</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-field radio icon-input">
                        <label for="survey-add_nobody">
                            <svg class="iconic">
                                <use xlink:href="../../img/iconic-sprite.svg#ban"></use>
                            </svg>
                            <input type="radio" name="survey-add" id="survey-add_nobody" data-fieldgroup-toggle="survey-off-message" />
                            <span class="label">Nobody</span>
                        </label>
                        <p data-fieldgroup-target="survey-off-message">Your survey's existing responses will remain visible, but it will not allow new responses.</p>
                    </div>
                </fieldset>

                <fieldset data-fieldset-type="color">
                    <legend>Survey color</legend>
                    <p>Your survey's color will be used for map markers, and the left border of the survey and its responses.</p>

                    <div class="form-field">
                        <label class="hidden">Hex value</label>
                        <input type="text" data-input-type="color" value="#{{deployment.surveys.0.color}}" />
                    </div>
                </fieldset>
            </div>

            <div id="survey-share" class="survey-details tabs-target">
                <div class="form-field">
                    <label>Your survey's web address</label>
                    <input type="url" value="https://deployment.ushahidi.io/posts/create/1" readonly />
                </div>

                <div class="listing" style="margin-left: 4px;">
                    <div class="listing-item">
                        <div class="listing-item-secondary">
                            <button class="button-beta button-flat listing-item-toggle">
                                <svg class="iconic">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
                                </svg>
                                <span class="button-label">Configure</span>
                            </button>
                        </div>

                        <div class="listing-item-primary">
                            <div class="listing-item-image">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#code"></use>
                                </svg>
                            </div>
                            <h2 class="listing-item-title listing-item-toggle">Embed</h2>
                        </div>

                        <div class="listing-item-body">
                            <textarea readonly><iframe width="560" height="315" src="https://deployment.ushahidi.io/posts/create/1" frameborder="0" allowfullscreen></iframe></textarea>
                        </div>
                    </div>

                    <div class="listing-item">
                        <div class="listing-item-primary">
                            <div class="listing-item-image">
                                <img class="icon" src="../../img/facebook.png" alt="">
                            </div>
                            <h2 class="listing-item-title"><a href="https://www.facebook.com/sharer/sharer.php?u=THISURL">Facebook</a></h2>
                        </div>
                    </div>

                    <div class="listing-item">
                        <div class="listing-item-primary">
                            <div class="listing-item-image">
                                <img class="icon" src="../../img/twitter.png" alt="">
                            </div>
                            <h2 class="listing-item-title"><a href="https://twitter.com/home?status=THISURL">Twitter</a></h2>
                        </div>
                    </div>

                    <div class="listing-item">
                        <div class="listing-item-primary">
                            <div class="listing-item-image">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#spreadsheet"></use>
                                </svg>
                            </div>
                            <h2 class="listing-item-title"><a href="">Export to CSV</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="form-sheet">
            <div class="form-field title section-title">
                <label class="hidden">Section name</label>
                <input type="text" placeholder="Untitled section" value="Verify" />

                <label class="hidden">Section description</label>
                <textarea placeholder="Describe this section..."></textarea>

                <p class="alert">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#people"></use>
                    </svg>
                    The fields in this section can only be completed and viewed by select people. <a>Configure</a>
                </p>

                <div class="section-title-actions">
                    <button class="button-beta button-flat" data-toggle="dropdown-menu">
                        <svg class="iconic">
                          <use xlink:href="../../img/iconic-sprite.svg#ellipses"></use>
                        </svg>
                        <span class="hidden">More</span>
                    </button>

                    <ul class="dropdown-menu">
                        <li>
                            <a href="" data-modal="delete-post">
                            <svg class="iconic">
                                <use xlink:href="../../img/material/svg-sprite-content-symbol.svg#ic_content_copy_24px"></use>
                            </svg>
                            <span class="label">Duplicate section</span>
                            </a>
                        </li>
                        <li>
                            <a href="" data-modal="delete-post">
                            <svg class="iconic">
                                <use xlink:href="../../img/iconic-sprite.svg#trash"></use>
                            </svg>
                            <span class="label">Delete section</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <nav class="tabs-menu" data-tabs="section-1-details">
                <ul>
                    <li class="active"><a href="#section-1-build">Build</a></li>
                    <li><a href="#section-1-configure">Configure</a></li>
                </ul>
            </nav>

            <div id="section-1-build" class="section-1-details tabs-target">
                <div class="listing">
                    <div class="listing-item">
                        <div class="listing-item-select">
                            <div class="buttons-updown">
                                <button class="button-gamma" disabled>
                                    <svg class="iconic">
                                        <use xlink:href="../../img/iconic-sprite.svg#chevron-top"></use>
                                    </svg>
                                    <span class="label hidden">Move up</span>
                                </button>
                                <button class="button-gamma">
                                    <svg class="iconic">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
                                    </svg>
                                    <span class="label hidden">Move down</span>
                                </button>
                            </div>
                        </div>

                        <div class="listing-item-secondary">
                            <button class="button-beta button-flat">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#trash"></use>
                                </svg>
                                <span class="hidden">Delete</span>
                            </button>
                        </div>

                        <div class="listing-item-primary">
                            <div class="listing-item-image">
                                <svg class="iconic">
                                    <use xlink:href="../../img/material/svg-sprite-editor-symbol.svg#ic_short_text_24px"></use>
                                </svg>
                            </div>
                            <h2 class="listing-item-title"><a href="">Source</a></h2>
                        </div>
                    </div>

                    <div class="listing-item">
                        <div class="listing-item-select">
                            <div class="buttons-updown">
                                <button type="button" class="button-beta">
                                    <svg class="iconic">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-top"></use>
                                    </svg>
                                    <span class="label hidden">Move up</span>
                                </button>
                                <button type="button" class="button-beta" disabled>
                                    <svg class="iconic">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
                                    </svg>
                                    <span class="label hidden">Move down</span>
                                </button>
                            </div>
                        </div>

                        <div class="listing-item-secondary">
                            <button class="button-beta button-flat">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#trash"></use>
                                </svg>
                                <span class="hidden">Delete</span>
                            </button>
                        </div>

                        <div class="listing-item-primary">
                            <div class="listing-item-image">
                                <svg class="iconic">
                                    <use xlink:href="../../img/material/svg-sprite-editor-symbol.svg#ic_format_align_left_24px"></use>
                                </svg>
                            </div>
                            <h2 class="listing-item-title">
                                <a href="" data-modal="edit-field">Notes</a>
                            </h2>
                        </div>
                    </div>

                    <div class="listing-item">
                        <div class="listing-item-primary">
                            <h2 class="listing-item-title">
                                <!--// Add field //-->
                                <button data-toggle="field-type">
                                    <svg class="iconic">
                                        <use xlink:href="../../img/iconic-sprite.svg#plus"></use>
                                    </svg>
                                    <span class="button-label">Add field</span>
                                </button>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>

            <div id="section-1-configure" class="section-1-details tabs-target">
                <div class="form-field switch">
                    <label>Show this section to everyone when published</label>
                    <p data-fieldgroup-target="show_section-message">When a survey response is published, data from this section will be displayed.</p>
                    <div class="toggle-switch">
                        <input class="tgl" id="show_section" type="checkbox" data-fieldgroup-toggle="show_section-message">
                        <label class="tgl-btn" for="show_section"></label>
                    </div>
                </div>

                <fieldset>
                    <legend>Who can contribute to fields in this section</legend>

                    <div class="form-field radio icon-input">
                        <label for="section-add_everyone">
                            <svg class="iconic">
                                <use xlink:href="../../img/iconic-sprite.svg#globe"></use>
                            </svg>
                            <input type="radio" name="section-add" id="section-add_everyone" />
                            <span class="label">Everyone</span>
                        </label>
                    </div>

                    <div class="form-field radio icon-input">
                        <label for="section-add_roles">
                            <svg class="iconic">
                                <use xlink:href="../../img/iconic-sprite.svg#people"></use>
                            </svg>
                            <input type="radio" name="section-add" id="section-add_roles" data-fieldgroup-toggle="section-add_roles" checked />
                            Specific roles...
                        </label>

                        <div class="form-fieldgroup" data-fieldgroup-target="section-add_roles">
                            <div class="form-field checkbox">
                                <input type="checkbox" id="section-add_roles-members" />
                                <label for="section-add_roles-members">Members</label>
                            </div>

                            <div class="form-field checkbox">
                                <input type="checkbox" id="section-add_roles-editors" checked />
                                <label for="section-add_roles-editors">Editors</label>
                            </div>

                            <div class="form-field checkbox">
                                <input type="checkbox" id="section-add_roles-operators" />
                                <label for="section-add_roles-operators">Operators</label>
                            </div>

                            <div class="form-field checkbox">
                                <input type="checkbox" id="section-add_roles-admins" />
                                <label for="section-add_roles-admins">Administrators</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </section>

        <div class="listing-item">
            <div class="listing-item-primary">
                <button class="button-gamma" data-toggle="field-type">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#plus"></use>
                    </svg>
                    <span class="button-label">Add section</span>
                </button>
            </div>
        </div>

    </div>

</main>

{{> Modals }}

<div id="edit-field-text" class="modal">
    <div class="modal-window">
        <h3 class="modal-title">
            <svg class="iconic">
                <use xlink:href="../../img/material/svg-sprite-editor-symbol.svg#ic_short_text_24px"></use>
            </svg>
            Edit field
        </h3>

        <div class="modal-body">
            <div class="form-field title">
                <label class="hidden">Label</label>
                <input type="text" placeholder="Question or label..." value="Witness" />
            </div>

            <!--// Description //-->
            <div class="form-field switch">
                <label>Show field description</label>
                <div class="toggle-switch">
                    <input class="tgl" id="show-field-description-3" type="checkbox" checked data-fieldgroup-toggle="field-description-3" />
                    <label class="tgl-btn" for="show-field-description-3"></label>
                </div>

                <div class="form-field" data-fieldgroup-target="field-description-3">
                    <input type="text" placeholder="Explain this field..." value="Provide the full name of the person who saw what happened." />
                </div>
            </div>

            <!--// Required //-->
            <div class="form-field switch">
                <label>Required</label>
                <div class="toggle-switch">
                    <input class="tgl" id="require-field-3" type="checkbox" checked />
                    <label class="tgl-btn" for="require-field-3"></label>
                </div>
            </div>

            <!--// Private field //-->
            <div class="form-field switch">
                <label>Make responses private</label>
                <p data-fieldgroup-target="field-private-message-3">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                    </svg>
                    Only people with permission to edit responses will be able to see responses to this field.
                </p>
                <div class="toggle-switch">
                    <input class="tgl" id="field-private-3" type="checkbox" data-fieldgroup-toggle="field-private-message-3" checked />
                    <label class="tgl-btn" for="field-private-3"></label>
                </div>
            </div>

            <!--// Default value //-->
            <div class="form-field switch">
                <label>Include default value</label>
                <div class="toggle-switch">
                    <input class="tgl" id="include-default-value-3" type="checkbox" data-fieldgroup-toggle="field-default-value-3" />
                    <label class="tgl-btn" for="include-default-value-3"></label>
                </div>

                <div class="form-field" data-fieldgroup-target="field-default-value-3">
                    <input type="text" placeholder="Default value..." />
                </div>
            </div>
        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button  class="button-alpha modal-trigger">Save &amp; close</button>
                <button class="button-link modal-trigger">Cancel</button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="edit-field-categories" class="modal">
    <div class="modal-window">
        <h3 class="modal-title">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#tags"></use>
            </svg>
            Edit field
        </h3>

        <div class="modal-body">
            <div class="form-field title">
                <label class="hidden">Label</label>
                <input type="text" placeholder="Question or label..." value="Categories" />
            </div>

            <!--// Description //-->
            <div class="form-field switch">
                <label>Show field description</label>
                <div class="toggle-switch">
                    <input class="tgl" id="show-field-description-3" type="checkbox" data-fieldgroup-toggle="field-description-3" />
                    <label class="tgl-btn" for="show-field-description-3"></label>
                </div>

                <div class="form-field" data-fieldgroup-target="field-description-3">
                    <input type="text" placeholder="Explain this field..." />
                </div>
            </div>

            <!--// Which categories? //-->
            <fieldset>
                <legend>Which categories should be available?</legend>

                <div class="form-field checkbox">
                    <label>
                        <input type="checkbox" checked />
                        Surface issues
                    </label>
                </div>
                <div class="form-field checkbox">
                    <label>
                        <input type="checkbox" checked />
                        Signage
                    </label>
                    <div class="form-field checkbox">
                        <label for="cat2A"><input type="checkbox" id="cat2A" checked>Child category</label>
                    </div>
                    <div class="form-field checkbox">
                        <label for="cat2B"><input type="checkbox" id="cat2B">Another child category</label>
                    </div>
                </div>
                <div class="form-field checkbox">
                    <label>
                        <input type="checkbox" checked />
                        Obstructions
                    </label>
                </div>
            </fieldset>

            <!--// Who can see this field //-->
            <!--fieldset>
                <legend>Who can see the response to this field</legend>

                <div class="form-field radio icon-input">
                    <label for="field-visibility-3-everyone">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#globe"></use>
                        </svg>
                        <input type="radio" name="field-visibility-3" id="field-visibility-3-everyone" checked />
                        <span class="label">Everyone</span>
                    </label>
                </div>

                <div class="form-field radio icon-input">
                    <label for="field-visibility-3-roles">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#people"></use>
                        </svg>
                        <input type="radio" name="field-visibility-3" id="field-visibility-3-roles" data-fieldgroup-toggle="field-visibility-3-roles_def" />
                        Specific roles...
                    </label>

                    <div class="form-fieldgroup" data-fieldgroup-target="field-visibility-3-roles_def">
                        <div class="form-field checkbox">
                            <input type="checkbox" id="field-visibility-3-roles_def-members" />
                            <label for="survey-add_roles-members">Members</label>
                        </div>

                        <div class="form-field checkbox">
                            <input type="checkbox" id="field-visibility-3-roles_def-editors" />
                            <label for="survey-add_roles-editors">Editors</label>
                        </div>

                        <div class="form-field checkbox">
                            <input type="checkbox" id="field-visibility-3-roles_def-operators" />
                            <label for="survey-add_roles-operators">Operators</label>
                        </div>

                        <div class="form-field checkbox">
                            <input type="checkbox" id="field-visibility-3-roles_def-admins" />
                            <label for="survey-add_roles-admins">Administrators</label>
                        </div>
                    </div>
                </div>
            </fieldset-->
        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button  class="button-alpha modal-trigger">Save &amp; close</button>
                <button class="button-link modal-trigger">Cancel</button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="add-field" class="modal">
    <div class="modal-window">
        <button href="" class="button-beta button-flat modal-trigger modal-trigger-close">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#x"></use>
            </svg>
            <span class="hidden">Close</span>
        </button>

        <h3 class="modal-title">
            <svg class="iconic">
                <use xlink:href="../../img/material/svg-sprite-editor-symbol.svg#ic_short_text_24px"></use>
            </svg>
            Add field
        </h3>

        <div class="modal-body">
            <div class="form-field title">
                <label class="hidden">Label</label>
                <input type="text" placeholder="Question or label..." />
            </div>

            <!--// Description //-->
            <div class="form-field switch">
                <label>Show field description</label>
                <div class="toggle-switch">
                    <input class="tgl" id="show-field-description-new" type="checkbox" data-fieldgroup-toggle="field-description-new" />
                    <label class="tgl-btn" for="show-field-description-new"></label>
                </div>

                <div class="form-field" data-fieldgroup-target="field-description-new">
                    <input type="text" placeholder="Explain this field..." />
                </div>
            </div>

            <!--// Required //-->
            <div class="form-field switch">
                <label>Required</label>
                <div class="toggle-switch">
                    <input class="tgl" id="require-field-new" type="checkbox" />
                    <label class="tgl-btn" for="require-field-new"></label>
                </div>
            </div>

            <!--// Default value //-->
            <div class="form-field switch">
                <label>Include default value</label>
                <div class="toggle-switch">
                    <input class="tgl" id="include-default-value-new" type="checkbox" data-fieldgroup-toggle="field-default-value-new" />
                    <label class="tgl-btn" for="include-default-value-new"></label>
                </div>

                <div class="form-field" data-fieldgroup-target="field-default-value-new">
                    <input type="text" placeholder="Default value..." />
                </div>
            </div>

            <!--// Who can see this field //-->
            <fieldset>
                <legend>Who can see the response to this field</legend>

                <div class="form-field radio icon-input">
                    <label for="field-visibility-new-everyone">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#globe"></use>
                        </svg>
                        <input type="radio" name="field-visibility-new" id="field-visibility-new-everyone" checked />
                        <span class="label">Everyone</span>
                    </label>
                </div>

                <div class="form-field radio icon-input">
                    <label for="field-visibility-new-roles">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#people"></use>
                        </svg>
                        <input type="radio" name="field-visibility-new" id="field-visibility-new-roles" data-fieldgroup-toggle="field-visibility-new-roles_def" />
                        Specific roles...
                    </label>

                    <div class="form-fieldgroup" data-fieldgroup-target="field-visibility-new-roles_def">
                        <div class="form-field checkbox">
                            <input type="checkbox" id="field-visibility-new-roles_def-members" />
                            <label for="survey-add_roles-members">Members</label>
                        </div>

                        <div class="form-field checkbox">
                            <input type="checkbox" id="field-visibility-new-roles_def-editors" />
                            <label for="survey-add_roles-editors">Editors</label>
                        </div>

                        <div class="form-field checkbox">
                            <input type="checkbox" id="field-visibility-new-roles_def-operators" />
                            <label for="survey-add_roles-operators">Operators</label>
                        </div>

                        <div class="form-field checkbox">
                            <input type="checkbox" id="field-visibility-new-roles_def-admins" />
                            <label for="survey-add_roles-admins">Administrators</label>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button type="button" class="button-alpha modal-trigger">Save &amp; close</button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div class="mainsheet" data-toggle-target="add-type" data-toggle-animate>
    <div class="mainsheet-window">
        <h3 class="mainsheet-heading">Add...</h3>

        <div class="listing">

            <div class="listing-item">
                <div class="listing-item-primary">
                    <div class="listing-item-image">
                        <svg class="iconic">
                            <use xlink:href="../../img/material/svg-sprite-image-symbol.svg#ic_crop_7_5_24px"></use>
                        </svg>
                    </div>

                    <h2 class="listing-item-title"><a data-toggle="field-type">Field</a></h2>
                </div>
            </div>

            <div class="listing-item">
                <div class="listing-item-primary">
                    <div class="listing-item-image">
                        <svg class="iconic">
                            <use xlink:href="../../img/material/svg-sprite-image-symbol.svg#ic_dehaze_24px"></use>
                        </svg>
                    </div>

                    <h2 class="listing-item-title"><a href="">Section</a></h2>
                </div>

            </div>

        </div>
    </div>

    <div class="mainsheet-overlay"></div>
</div>

<div class="mainsheet" data-toggle-target="field-type" data-toggle-animate>
    <div class="mainsheet-window">
        <h3 class="mainsheet-heading">Choose a field type</h3>

        <div class="listing grid">

            <div class="listing-item">
                <div class="listing-item-primary">
                    <div class="listing-item-image">
                        <svg class="iconic">
                          <use xlink:href="../../img/material/svg-sprite-editor-symbol.svg#ic_short_text_24px"></use>
                        </svg>
                    </div>

                    <h2 class="listing-item-title"><a href="" data-modal="add-field">Short text</a></h2>
                </div>
            </div>

            <div class="listing-item">
                <div class="listing-item-primary">
                    <div class="listing-item-image">
                        <svg class="iconic">
                            <use xlink:href="../../img/material/svg-sprite-editor-symbol.svg#ic_format_align_left_24px"></use>
                        </svg>
                    </div>

                    <h2 class="listing-item-title"><a href="">Long text</a></h2>
                </div>

            </div>

        </div>

        <div class="listing grid">

            <div class="listing-item">
                <div class="listing-item-primary">
                    <div class="listing-item-image">
                        <svg class="iconic">
                          <use xlink:href="../../img/material/svg-sprite-image-symbol.svg#ic_image_24px"></use>
                        </svg>
                    </div>

                    <h2 class="listing-item-title"><a href="">Image</a></h2>
                </div>
            </div>

            <div class="listing-item">
                <div class="listing-item-primary">
                    <div class="listing-item-image">
                        <svg class="iconic">
                          <use xlink:href="../../img/material/svg-sprite-notification-symbol.svg#ic_ondemand_video_24px"></use>
                        </svg>
                    </div>

                    <h2 class="listing-item-title"><a href="">Video</a></h2>
                </div>
            </div>

            <div class="listing-item">
                <div class="listing-item-primary">
                    <div class="listing-item-image">
                        <svg class="iconic">
                          <use xlink:href="../../img/material/svg-sprite-communication-symbol.svg#ic_location_on_24px"></use>
                        </svg>
                    </div>

                    <h2 class="listing-item-title"><a href="">Location</a></h2>
                </div>
            </div>

            <div class="listing-item">
                <div class="listing-item-primary">
                    <div class="listing-item-image">
                        <svg class="iconic">
                          <use xlink:href="../../img/material/svg-sprite-image-symbol.svg#ic_looks_one_24px"></use>
                        </svg>
                    </div>

                    <h2 class="listing-item-title"><a href="">Number</a></h2>
                </div>
            </div>

            <div class="listing-item">
                <div class="listing-item-primary">
                    <div class="listing-item-image">
                        <svg class="iconic">
                          <use xlink:href="../../img/material/svg-sprite-action-symbol.svg#ic_date_range_24px"></use>
                        </svg>
                    </div>

                    <h2 class="listing-item-title"><a href="">Date</a></h2>
                </div>
            </div>

            <div class="listing-item">
                <div class="listing-item-primary">
                    <div class="listing-item-image">
                        <svg class="iconic">
                          <use xlink:href="../../img/material/svg-sprite-device-symbol.svg#ic_access_time_24px"></use>
                        </svg>
                    </div>

                    <h2 class="listing-item-title"><a href="">Time</a></h2>
                </div>
            </div>

        </div>

        <div class="listing grid">

            <div class="listing-item">
                <div class="listing-item-primary">
                    <div class="listing-item-image">
                        <svg class="iconic">
                          <use xlink:href="../../img/material/svg-sprite-toggle-symbol.svg#ic_radio_button_checked_24px"></use>
                        </svg>
                    </div>

                    <h2 class="listing-item-title"><a href="">Multiple choice</a></h2>
                </div>
            </div>

            <div class="listing-item">
                <div class="listing-item-primary">
                    <div class="listing-item-image">
                        <svg class="iconic">
                          <use xlink:href="../../img/material/svg-sprite-navigation-symbol.svg#ic_arrow_drop_down_circle_24px"></use>
                        </svg>
                    </div>

                    <h2 class="listing-item-title"><a href="">Dropdown</a></h2>
                </div>
            </div>

            <div class="listing-item">
                <div class="listing-item-primary">
                    <div class="listing-item-image">
                        <svg class="iconic">
                          <use xlink:href="../../img/material/svg-sprite-toggle-symbol.svg#ic_check_box_24px"></use>
                        </svg>
                    </div>

                    <h2 class="listing-item-title"><a href="">Checkboxes</a></h2>
                </div>
            </div>

            <div class="listing-item">
                <div class="listing-item-primary">
                    <div class="listing-item-image">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#tags"></use>
                        </svg>
                    </div>

                    <h2 class="listing-item-title"><a href="">Categories</a></h2>
                </div>
            </div>

            <div class="listing-item">
                <div class="listing-item-primary">
                    <div class="listing-item-image">
                        <svg class="iconic">
                            <use xlink:href="../../img/material/svg-sprite-action-symbol.svg#ic_compare_arrows_24px"></use>
                        </svg>
                    </div>

                    <h2 class="listing-item-title"><a href="">Related responses</a></h2>
                </div>
            </div>

        </div>
    </div>

    <div class="mainsheet-overlay"></div>
</div>

<div id="add-task" class="modal">
    <div class="modal-window">
        <h3 class="modal-title">Add task</h3>
        <button href="" class="button-beta button-flat modal-trigger modal-trigger-close">
            <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#x"></use>
            </svg>
            <span class="hidden">Close</span>
        </button>

        <p>Choose a pre-built task, or create one from scratch.</p>
        <div class="listing">
            <div class="listing-item">
                <div class="listing-item-primary">
                    <h2 class="listing-item-title"><a href="">Review</a></h2>
                    <p class="listing-item-secondary">Make sure the contents of the post are appropriate.</p>
                </div>
            </div>

            <div class="listing-item">
                <div class="listing-item-primary">
                    <h2 class="listing-item-title"><a href="">Publish</a></h2>
                    <p class="listing-item-secondary">Change the post's status to <em>Published</em>.</p>
                </div>
            </div>

            <div class="listing-item">
                <div class="listing-item-primary">
                    <h2 class="listing-item-title"><a href="" data-modal="add-task-custom">Custom</a></h2>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="add-task-custom" class="modal">
    <div class="modal-window">
        <button href="" class="button-beta button-flat modal-trigger modal-trigger-close">
            <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#x"></use>
            </svg>
            <span class="hidden">Close</span>
        </button>

        <h3 class="modal-title">Add task <em>custom</em></h3>

        <div class="modal-body">

            <div class="form-field title">
                <label>Task name</label>
                <input type="text" placeholder="Task name" />
            </div>

            <div class="form-field">
                <label>Task description</label>
                <textarea name="description" data-min-rows='1' rows='1'></textarea>
            </div>

            <div class="form-field">
                <button class="button-plain" data-modal="task-assignment">
                    <svg class="iconic">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#person"></use>
                    </svg>
                    <span class="button-label">Assign this task</span>
                </button>
            </div>

            <div class="form-field switch">
                <label>Set due date</label>
                <div class="toggle-switch">
                    <input class="tgl" type="checkbox" id="task-custom-due" data-fieldgroup-toggle="task-custom-due-date" />
                    <label class="tgl-btn" for="task-custom-due"></label>
                </div>

                <div class="form-field url" data-fieldgroup-target="task-custom-due-date">
                    <input type="number" value="5" style="width:75px;" />
                    <span class="domain">days after the post is submitted</span>
                </div>
            </div>

            <div class="form-field switch">
                <label>Require this task be completed before a post can be published</label>
                <div class="toggle-switch">
                    <input class="tgl" type="checkbox" id="task-custom-require" />
                    <label class="tgl-btn" for="task-custom-require"></label>
                </div>
            </div>

            <div class="form-field switch">
                <label>Make the content of this task visible when it's published</label>
                <div class="toggle-switch">
                    <input class="tgl" type="checkbox" id="task-custom-visible" />
                    <label class="tgl-btn" for="task-custom-visible"></label>
                </div>
            </div>

            <div class="form-field">
                <button class="button-plain" data-modal="add-field">
                    <svg class="iconic">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#plus"></use>
                    </svg>
                    <span class="button-label">Add field</span>
                </button>
            </div>

        </div>

        <div class="modal-actions">
            <button class="button-beta button-flat modal-trigger">Cancel</button>
            <button class="button-alpha modal-trigger">Save &amp; continue</button>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="task-review" class="modal">
    <div class="modal-window">
        <h3 class="modal-title">Edit task</h3>

        <div class="modal-body">

            <div class="form-field title">
                <label>
                    Task name
                </label>
                <input type="text" value="Review" />
            </div>

            <div class="form-field">
                <label>
                    Task description
                </label>
                <textarea name="description" data-min-rows='1' rows='1'>Make sure the post includes no profanity or personally identifiable information.</textarea>
            </div>

            <div class="form-field">
                <label>Assign to</label>

                <span class="bug">
                    <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/jess.png" class="avatar" />
                    <span class="label">Jess Shorland</span>
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#circle-x"></use>
                    </svg>
                </span>
            </div>

            <div class="form-field switch">
                <label>Set due date</label>
                <div class="toggle-switch">
                    <input checked class="tgl" type="checkbox" id="task-review-due" data-fieldgroup-toggle="task-review-due-date" />
                    <label class="tgl-btn" for="task-review-due"></label>
                </div>

                <div class="form-field url" data-fieldgroup-target="task-review-due-date">
                    <input type="number" value="5" style="width:75px;" />
                    <span class="domain">days after the post is submitted</span>
                </div>
            </div>

            <div class="form-field switch">
                <label>Require this task be completed before a post can be published</label>
                <div class="toggle-switch">
                    <input class="tgl" type="checkbox" id="task-review-require" />
                    <label class="tgl-btn" for="task-review-require"></label>
                </div>
            </div>

            <div class="form-field">
                <button class="button-plain" data-modal="add-field">
                    <svg class="iconic">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#plus"></use>
                    </svg>
                    <span class="button-label">Add field</span>
                </button>
            </div>

        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button class="button-beta button-flat modal-trigger">Cancel</button>
                <button class="button-alpha modal-trigger">Done</button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="task-verify" class="modal">
    <div class="modal-window">
        <h3 class="modal-title">Edit task</h3>

        <div class="modal-body">

            <div class="form-field title">
                <label>Task name</label>
                <input type="text" value="Verify" />
            </div>

            <div class="form-field">
                <label>
                    Task description
                </label>
                <textarea name="description" data-min-rows='1' rows='1'></textarea>
            </div>

            <div class="form-field">
                <label>Assign to</label>

                <span class="bug">
                    <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/seth.png" class="avatar" />
                    <span class="label">Seth Hall</span>
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#circle-x"></use>
                    </svg>
                </span>
            </div>

            <div class="form-field switch">
                <label>Set due date</label>
                <div class="toggle-switch">
                    <input checked class="tgl" type="checkbox" id="task-verify-due" data-fieldgroup-toggle="task-verify-due-date" />
                    <label class="tgl-btn" for="task-verify-due"></label>
                </div>

                <div class="form-field url" data-fieldgroup-target="task-verify-due-date">
                    <input type="number" value="7" style="width:75px;" />
                    <span class="domain">days after the post is submitted</span>
                </div>
            </div>

            <div class="form-field switch">
                <label>Require this task be completed before a post can be published</label>
                <div class="toggle-switch">
                    <input checked class="tgl" type="checkbox" id="task-verify-require" />
                    <label class="tgl-btn" for="task-verify-require"></label>
                </div>
            </div>

            <div class="form-field switch">
                <label>Make the content of this task visible when it's published</label>
                <div class="toggle-switch">
                    <input checked class="tgl" type="checkbox" id="task-verify-visible" />
                    <label class="tgl-btn" for="task-verify-visible"></label>
                </div>
            </div>

            <section class="listing">
                <h3 class="listing-heading">Task fields</h3>

                <div class="listing-body">

                    <div class="listing-item">
                        <div class="listing-item-select">
                            <div class="buttons-updown">
                                <button type="button" class="button-beta" disabled>
                                    <svg class="iconic">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-top"></use>
                                    </svg>
                                    <span class="label hidden">Move up</span>
                                </button>
                                <button type="button" class="button-beta" disabled>
                                    <svg class="iconic">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
                                    </svg>
                                    <span class="label hidden">Move down</span>
                                </button>
                            </div>
                        </div>

                        <div class="listing-item-primary">
                            <h2 class="listing-item-title"><a href="">Notes</a> <em>text area</em></h2>
                        </div>
                    </div>

                    <div class="listing-item">
                        <div class="listing-item-primary">
                            <h2 class="listing-item-title">
                                <a href="" class="button button-beta" data-modal="add-field">
                                    <svg class="iconic">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#plus"></use>
                                    </svg>
                                    Add field
                                </a>
                            </h2>
                        </div>
                    </div>
                </div>
            </section>

        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button class="button-beta button-flat modal-trigger">Cancel</button>
                <button class="button-alpha modal-trigger">Done</button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="task-callpolice" class="modal">
    <div class="modal-window">
        <h3 class="modal-title">Edit task</h3>

        <div class="modal-body">

            <div class="form-field title">
                <label>Task name</label>
                <input type="text" value="Call police" />
            </div>

            <div class="form-field">
                <label>Task description</label>
                <textarea name="description" data-min-rows='1' rows='1'>Report the incident to police at +1-234-567-8901.</textarea>
            </div>

            <div class="form-field">
                <label>Assign to</label>

                <span class="bug">
                    <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/seth.png" class="avatar" />
                    <span class="label">Seth Hall</span>
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#circle-x"></use>
                    </svg>
                </span>
            </div>

            <div class="form-field switch">
                <label>Set due date</label>
                <div class="toggle-switch">
                    <input class="tgl" type="checkbox" id="task-callpolice-due" data-fieldgroup-toggle="task-callpolice-due-date" />
                    <label class="tgl-btn" for="task-callpolice-due"></label>
                </div>

                <div class="form-field url" data-fieldgroup-target="task-callpolice-due-date">
                    <input type="number" value="" style="width:75px;" />
                    <span class="domain">days after the post is submitted</span>
                </div>
            </div>

            <div class="form-field switch">
                <label>Require this task be completed before a post can be published</label>
                <div class="toggle-switch">
                    <input class="tgl" type="checkbox" id="task-callpolice-require" />
                    <label class="tgl-btn" for="task-callpolice-require"></label>
                </div>
            </div>

            <div class="form-field switch">
                <label>Make the content of this task visible when it's published</label>
                <div class="toggle-switch">
                    <input class="tgl" type="checkbox" id="task-callpolice-visible" />
                    <label class="tgl-btn" for="task-callpolice-visible"></label>
                </div>
            </div>

            <section class="listing">
                <h3 class="listing-heading">Task fields</h3>

                <div class="listing-body">

                    <div class="listing-item">
                        <div class="listing-item-select">
                            <div class="buttons-updown">
                                <button type="button" class="button-beta" disabled>
                                    <svg class="iconic">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-top"></use>
                                    </svg>
                                    <span class="label hidden">Move up</span>
                                </button>
                                <button type="button" class="button-beta">
                                    <svg class="iconic">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
                                    </svg>
                                    <span class="label hidden">Move down</span>
                                </button>
                            </div>
                        </div>

                        <div class="listing-item-primary">
                            <h2 class="listing-item-title"><a href="">Police officer</a> <em>text field</em></h2>
                        </div>
                    </div>

                    <div class="listing-item">
                        <div class="listing-item-select">
                            <div class="buttons-updown">
                                <button type="button" class="button-beta">
                                    <svg class="iconic">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-top"></use>
                                    </svg>
                                    <span class="label hidden">Move up</span>
                                </button>
                                <button type="button" class="button-beta">
                                    <svg class="iconic">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
                                    </svg>
                                    <span class="label hidden">Move down</span>
                                </button>
                            </div>
                        </div>

                        <div class="listing-item-primary">
                            <h2 class="listing-item-title"><a href="">Case number</a> <em>number field</em></h2>
                        </div>
                    </div>

                    <div class="listing-item">
                        <div class="listing-item-select">
                            <div class="buttons-updown">
                                <button type="button" class="button-beta">
                                    <svg class="iconic">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-top"></use>
                                    </svg>
                                    <span class="label hidden">Move up</span>
                                </button>
                                <button type="button" class="button-beta" disabled>
                                    <svg class="iconic">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
                                    </svg>
                                    <span class="label hidden">Move down</span>
                                </button>
                            </div>
                        </div>

                        <div class="listing-item-primary">
                            <h2 class="listing-item-title"><a href="" data-modal="edit-field">Notes</a> <em>text area</em></h2>
                        </div>
                    </div>

                    <div class="listing-item">
                        <div class="listing-item-primary">
                            <h2 class="listing-item-title">
                                <a href="" class="button button-beta" data-modal="add-field">
                                    <svg class="iconic">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#plus"></use>
                                    </svg>
                                    Add field
                                </a>
                            </h2>
                        </div>
                    </div>
                </div>
            </section>

        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button class="button-beta button-flat modal-trigger">Cancel</button>
                <button class="button-alpha modal-trigger">Done</button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="task-publish" class="modal">
    <div class="modal-window">
        <h3 class="modal-title">Edit task</h3>

        <div class="modal-body">

            <div class="form-field title">
                <label>Task name</label>
                <input type="text" value="Publish" disabled />
            </div>

            <div class="form-field">
                <label>Task description</label>
                <p>Change post's status from <em>Under Review</em> to <em>Published</em>.</p>
            </div>

            <div class="form-field">
                <button class="button-plain" data-modal="task-assignment">
                    <svg class="iconic">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#person"></use>
                    </svg>
                    <span class="button-label">Assign this task</span>
                </button>
            </div>

            <div class="form-field switch">
                <label>Set due date</label>
                <div class="toggle-switch">
                    <input class="tgl" type="checkbox" id="task-publish-due" data-fieldgroup-toggle="task-publish-due-date" />
                    <label class="tgl-btn" for="task-publish-due"></label>
                </div>

                <div class="form-field url" data-fieldgroup-target="task-publish-due-date">
                    <input type="number" value="5" style="width:75px;" />
                    <span class="domain">days after the post is submitted</span>
                </div>
            </div>

        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button class="button-beta button-flat modal-trigger">Cancel</button>
                <button class="button-alpha modal-trigger">Done</button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>
