{{> ModeBar }}

{{#with (lookup deployment.surveys 0)}} <!--// Choose the survey index that will be the context for this template //-->
<div class="mode-context">

    <header class="mode-context-header">
        {{#deployment}}
        <ol class="breadcrumbs">
            <li><a href="map.html">{{name}}</a></li>
        </ol>
        {{/deployment}}

        <h1 class="mode-context-title">{{name}}</h1>
    </header>

    <span class="mode-context-trigger">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden">Show more/less</span>
    </span>

    <div class="mode-context-body">
        <p>{{description}}</p>
    </div>
</div>

<main role="main">

    <div class="toolbar">
        <div class="button-group">
            <button type="button" class="button-flat">Cancel</button>
            <button type="button" class="button-alpha" onclick="messageToggle($('#required'),true)">
                {{#if user.logged_in}} <!--// IF: User has permission to manage post status //-->
                Save
                {{else}}
                Submit
                {{/if}}
            </button>
        </div>
    </div>

    <div class="main-col">

        <div class="form-sheet">
            <div class="post-band" style="background-color: #{{color}}"></div>
{{/with}}
            <div class="form-field form-field-adapt title">
                <label>Title</label>
                <input type="text" value="" />
            </div>

            <div class="metadata" data-hide-target="author-metadata">
                {{#if user.logged_in}}
                <img src="{{user.avatar}}" class="avatar" />
                <span class="metadata-author">{{user.name}}</span>
                , now
                {{else}}
                <span class="metadata-author">Anonymous</span>
                {{/if}}
                , via web

                <button class="button-beta button-plain" data-toggle="edit-metadata" data-hide="author-metadata">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#pencil"></use>
                    </svg>
                    <span class="button-label">Change</span>
                </button>
            </div>

            <div data-toggle-target="edit-metadata">
                {{#if user.logged_in}}
                <fieldset>
                    <legend>Author</legend>

                    <span class="bug" data-hide-target="author-bug">
                        <img src="{{user.avatar}}" class="avatar" />
                        <span class="label">{{user.name}}</span>
                        <svg class="iconic" data-hide="author-bug" data-toggle="author-fieldset">
                            <use xlink:href="../../img/iconic-sprite.svg#circle-x"></use>
                        </svg>
                    </span>

                    <div data-toggle-target="author-fieldset">
                        <div class="form-field inline input-with-dropdown">
                            <label class="hidden">Name</label>
                            <input type="text" placeholder="Name" />
                            <ul class="dropdown-menu">
                                <li>
                                    <a>
                                        <img src="https://www.ushahidi.com/uploads/post-images/_teamImage/angela.png" class="avatar" />
                                        <span class="label">Angela Kabari</span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/angela.png" class="avatar" />
                                        <span class="label">Angela Oduor Lungati</span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/brandon.png" class="avatar" />
                                        <span class="label">Brandon Rosage</span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/celestine.png" class="avatar" />
                                        <span class="label">Celestine Kakai</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="form-field inline">
                            <label class="hidden">Email</label>
                            <div class="input-with-icon">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#envelope-closed"></use>
                                </svg>
                                <input type="email" placeholder="email@domain.com" />
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Post date</legend>
                    <div class="form-field date">
                        <label class="hidden">Date</label>
                        <div class="input-with-icon">
                            <svg class="iconic">
                                <use xlink:href="../../img/iconic-sprite.svg#calendar"></use>
                            </svg>
                            <input type="date" value="2016-06-22" placeholder="Date" />
                        </div>
                    </div>

                    <div class="form-field date">
                        <label class="hidden">Time</label>
                        <div class="input-with-icon">
                            <svg class="iconic">
                                <use xlink:href="../../img/iconic-sprite.svg#clock"></use>
                            </svg>
                            <input type="time" value="11:39:57" placeholder="Time" />
                        </div>
                    </div>
                </fieldset>

                {{else}}

                <fieldset>
                    <legend>Author</legend>

                    <div class="form-field inline">
                        <label class="hidden">Name</label>
                        <input type="text" placeholder="Name" />
                    </div>

                    <div class="form-field inline">
                        <label class="hidden">Email</label>
                        <div class="input-with-icon">
                            <svg class="iconic">
                                <use xlink:href="../../img/iconic-sprite.svg#envelope-closed"></use>
                            </svg>
                            <input type="email" placeholder="email@domain.com" />
                        </div>
                    </div>
                </fieldset>

                {{/if}}
            </div>

            {{#if user.logged_in}}
            <!--// IF: User has permission to manage post status //-->
            <div class="toolbox">
                <div class="tool">
                    <fieldset class="custom-fieldset">
                        <legend><span class="custom-fieldset-value">Status</span></legend>

                        <div class="form-field radio icon-input">
                            <label for="status-published">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#globe"></use>
                                </svg>
                                <input type="radio" name="status" id="status-published" />
                                Published
                            </label>
                        </div>

                        <div class="form-field radio icon-input">
                            <label for="status-review">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                                </svg>
                                <input type="radio" name="status" id="status-review" checked />
                                Under review
                            </label>
                        </div>

                        <div class="form-field radio icon-input">
                            <label for="status-archive">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#box"></use>
                                </svg>
                                <input type="radio" name="status" id="status-archive" />
                                Archived
                            </label>
                        </div>
                    </fieldset>
                </div>
            </div>

            {{else}}
            <!--// ELSE: User survey requires review and user doesn't have permission to review //-->
            <div class="toolbox">
                <div class="tool">
                    <strong>This post will need to be reviewed</strong> before it's published.
                </div>
            </div>
            {{/if}}

            <div class="form-field form-field-adapt">
                <label>
                    Description
                </label>
                <textarea name="description" data-min-rows='1' rows='1'></textarea>
            </div>

            <div class="form-field file">
                <label>
                    Photo of the encounter
                </label>
                <input type="file" id="photo" />
                <label for="photo" class="button button-gamma">
                    <svg class="iconic">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#plus"></use>
                    </svg>
                    <span class="button-label">Add photo</span>
                </label>
            </div>

            <div id="time-date-encounter" class="form-field required">
                <label>Time &amp; date of encounter</label>
                <input type="datetime" required />
            </div>

            <div class="form-field location">
                <label>Location</label>
                {{mapEmbed 0 false}}

                <form role="search" class="searchbar" data-message="search">
                    <div class="searchbar-input">
                        <div class="form-field">
                            <input type="search" maxlength="250" placeholder="Find a location" value="" />
                        </div>
                        <div class="searchbar-results dropdown-menu">
                            <div class="form-field">
                                <button class="button-plain">
                                    <svg class="iconic">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#magnifying-glass"></use>
                                    </svg>
                                    <span class="button-label">Search for "<em>123 Main St</em>"</span>
                                </button>

                                <button class="button-beta button-plain">
                                    <svg class="iconic">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#location"></use>
                                    </svg>
                                    <span class="button-label">Use your current location</span>
                                </button>
                            </div>

                            <div class="tool">
                                <h6 class="tool-heading">Search results</h6>
                                <dl class="dropdown-menu-body">
                                    <dt class="list-item"><a href="#"><em>123 Main St</em>reet Austin, TX USA</a></dt>
                                    <dt class="list-item"><a href="#"><em>123</em> Paint Supply, 416 Lamar Blvd. Austin, TX USA</a></dt>
                                </dl>
                            </div>
                        </div>
                    </div>
                </form>

                <p><em>You can search or click the area of map where you want to place the marker.</em></p>
            </div>

            <fieldset>
                <legend>Categories</legend>

                <div class="form-field checkbox">
                    <label for="cat1"><input type="checkbox" id="cat1">Category 1</label>
                </div>
                <div class="form-field checkbox">
                    <label for="cat2"><input type="checkbox" id="cat2">Category 2</label>
                </div>
                <div class="form-field checkbox">
                    <label for="cat3"><input type="checkbox" id="cat3">Category 3</label>
                </div>
            </fieldset>
        </div>

    </div>

</main>

{{> Modals }}

<div id="required" class="message">
    <div class="message-image error">
        <svg class="iconic">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#warning"></use>
        </svg>
    </div>

    <div class="message-body">
        <p><strong>Please complete the 'Time &amp; date of encounter' field</strong> before posting to this survey.</p>

        <a href="#time-date-encounter" class="button button-beta button-flat message-trigger">Edit field</a>

        <button class="button-flat message-trigger">
            Dismiss
        </button>
    </div>
</div>
