{{> ModeBar }}

<div class="mode-context">

    <header class="mode-context-header">
        <a href="post-detail.html#{{indexFromHash}}" class="mode-context-back button button-link">
            <svg class="iconic">
                <use xlink:href="../../img/material/svg-sprite-navigation-symbol.svg#ic_arrow_back_24px"></use>
            </svg>
            <span class="hidden">Back</span>
        </a>

        <h1 class="mode-context-title">Edit Response</h1>
    </header>

    <span class="mode-context-trigger">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden">Show more/less</span>
    </span>

    <div class="mode-context-body">

    </div>

</div>

<!--// Uses numeric hash to determine which response to render by its index; falls back to index 0 //-->
{{#postFromHash}}
<main role="main">

    <div class="toolbar">
        <!--// SAVED //-->
        <span class="status-indicator tooltip success">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#check"></use>
            </svg>
            <span class="label">All changes saved</span>
            <span class="bug">Every change you make is automatically saved</span>
        </span>

        <!--// SAVING //
        <span class="status-indicator">
            <span class="label">Saving...</span>
        </span>
        //-->

        <div class="button-group">
            <a href="post-detail.html#{{indexFromHash}}" class="button button-alpha">Done</a>
        </div>
    </div>

    <div class="{{#if tasks}}main{{else}}{{#ifPostIsDataSource}}main{{else}}full{{/ifPostIsDataSource}}{{/if}}-col">

        <div class="form-sheet" role="article">
            {{postBand}}

            <header class="form-sheet-summary">
                {{#postSurvey}}
                <h1 class="form-sheet-title survey-title">{{name}}</h1>
                <p>{{description}}</p>
                {{/postSurvey}}
            </header>

            <ul class="metadata">
                <li>
                    {{#ifCond properties.status 'published'}}
                    <a class="chip" data-toggle="post-status">
                        <span class="chip-icon">
                            <span class="label">Status</span>
                        </span>
                        <svg class="iconic">
                          <use xlink:href="../../img/iconic-sprite.svg#globe"></use>
                        </svg>
                        <span class="label">Published</span>
                    </a>
                    {{/ifCond}}
                    {{#ifCond properties.status 'review'}}
                    <a class="chip yellow" disabled>
                        <span class="chip-icon">
                            <span class="label">Status</span>
                        </span>
                        <svg class="iconic">
                          <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                        </svg>
                        <span class="label">Under review</span>
                    </a>
                    {{/ifCond}}
                    {{#ifCond properties.status 'archived'}}
                    <a class="chip" data-toggle="post-status">
                        <span class="chip-icon">
                            <span class="label">Status</span>
                        </span>
                        <svg class="iconic">
                          <use xlink:href="../../img/iconic-sprite.svg#box"></use>
                        </svg>
                        <span class="label">Archived</span>
                    </a>
                    {{/ifCond}}
                </li>

                <li>
                    <a href="" class="chip" data-modal="edit-author">
                        <span class="chip-icon">
                            <span class="label">Author</span>
                        </span>
                        {{#if properties.author.avatar}}
                        <img src="{{properties.author.avatar}}" class="avatar" />
                        {{/if}}
                        <span class="label">{{properties.author.name}}</span>
                    </a>
                </li>

                <li>
                    <a href="" class="chip" data-modal="post-date">
                        <span class="chip-icon">
                            <svg class="iconic">
                              <use xlink:href="../../img/iconic-sprite.svg#calendar"></use>
                            </svg>
                            <span class="label">Date</span>
                        </span>
                        <span class="label">{{properties.date.post}}</span>
                    </a>
                </li>
            </ul>

            {{#each answers}}
                {{formField ../properties.survey 0 @index value}}
            {{/each}}

            <!--fieldset id="categories" class="error">
                <legend>Categories</legend>

                <div class="form-field checkbox">
                    <label for="cat1"><input type="checkbox" id="cat1">Category 1</label>
                </div>
                <div class="form-field checkbox">
                    <label for="cat2"><input type="checkbox" id="cat2">Category 2</label>
                </div>
                <div class="form-field checkbox">
                    <label for="cat3"><input type="checkbox" id="cat3">Category 3</label>
                </div>
            </fieldset-->
        </div>

        {{#if tasks}}
        <div class="toolbox">

            <div class="listing">

                <div class="listing-item active">
                    <!--div class="listing-item-secondary hide-when-small">
                        <button class="button-beta button-flat listing-item-toggle">
                            <svg class="iconic">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
                            </svg>
                            <span class="button-label">Configure</span>
                        </button>
                    </div-->

                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <svg class="iconic">
                                <use xlink:href="../../img/iconic-sprite.svg#task"></use>
                            </svg>
                        </div>
                        <h2 class="listing-item-title">Tasks</h2>
                    </div>

                    <div class="listing-item-body">

                        <div class="tool">

                            {{#each tasks}}
                            <div class="task {{#if complete}}complete{{/if}} {{#if disabled}}disabled{{/if}}">
                                <h5 class="task-title">
                                    {{#unless disabled}}
                                    <a href="#task-{{@index}}" data-modal="task-{{@index}}">
                                        {{#unless complete}}
                                        <span class="status-indicator yellow"></span>
                                        {{/unless}}
                                    {{/unless}}

                                        {{taskInfo "name" 0 @index}}

                                    {{#unless disabled}}
                                    </a>
                                    {{/unless}}
                                </h5>
                                <div class="task-actions">

                                    {{#if assignee}}
                                    <span class="tooltip">
                                        <span class="bug">Assigned to {{assignee.name}}</span>
                                        <img src="{{assignee.avatar}}" class="avatar" />

                                        {{#if assignee.locked}}
                                        <span class="status-indicator">
                                            <svg class="iconic">
                                              <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                                            </svg>
                                        </span>
                                        {{/if}}
                                    </span>
                                    {{/if}}

                                    <button class="button-beta button-flat" data-toggle="dropdown-menu">
                                        <svg class="iconic">
                                          <use xlink:href="../../img/iconic-sprite.svg#ellipses"></use>
                                        </svg>
                                        <span class="nodisplay">More</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        {{#unless disabled}}
                                        <li>
                                            <a href="">Mark {{#if complete}}incomplete{{else}}complete{{/if}}</a>
                                        </li>
                                        <div class="divider"></div>
                                        {{/unless}}
                                        <li>
                                            <a href="" data-modal="task-assignment">
                                            <svg class="iconic">
                                                <use xlink:href="../../img/iconic-sprite.svg#person"></use>
                                            </svg>
                                            <span class="label">{{#if assignee}}Change{{else}}Add{{/if}} assignment</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" data-modal="task-due">
                                            <svg class="iconic">
                                                <use xlink:href="../../img/iconic-sprite.svg#calendar"></use>
                                            </svg>
                                            <span class="label">{{#if due}}Change{{else}}Add{{/if}} due date</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="task-body">
                                    {{#if due}}
                                        <p><strong>Due</strong>: {{due}}</p>
                                    {{/if}}

                                    {{#if disabled}}
                                        <p><em>This task can't be completed until "Verify" is completed.</em></p>
                                    {{else}}
                                        {{taskInfo "description" 0 @index}}
                                    {{/if}}
                                </div>
                            </div>
                            {{/each}}

                        </div>

                    </div>
                </div>

            </div>

        </div>
        {{/if}}

        {{#ifPostIsDataSource}}
        <div class="toolbox">
            <div class="tool">
                <fieldset>
                    <legend>Convert this into a survey response to...</legend>

                    {{#global}}
                        {{#each deployment.surveys}}
                            {{#unless datasource}}
                            <div class="form-field radio">
                                <input type="radio" name="add-to-survey" id="survey-{{@index}}" />
                                <label for="survey-{{@index}}">{{name}}</label>
                            </div>
                            {{/unless}}
                        {{/each}}
                    {{/global}}
                </fieldset>

                <div class="form-field">
                    <button class="button-flat" disabled>Convert &amp; edit</button>
                </div>
            </div>
        </div>
        {{/ifPostIsDataSource}}

        <!--div class="form-sheet">
            <div class="form-sheet-summary">
                <h3 class="form-sheet-title">Delete this post</h3>
                <p><strong>If you delete this post</strong>, all of its comments and messages will also be deleted. Proceed with caution.</p>

                <button class="button-destructive">
                    <svg class="iconic">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#trash"></use>
                    </svg>
                    <span class="button-label">Delete post</span>
                </button>
            </div>
        </div-->

    </div>

</main>

{{#each tasks}}
<div id="task-{{@index}}" class="modal">
    <div class="modal-window">
        <h3 class="modal-title {{#if complete}}complete{{/if}}">{{taskInfo "name" 0 @index}}</h3>

        <div class="form-field">
            {{#if disabled}}
                <p><em>This task can't be completed until "Verify" is completed.</em></p>
            {{else}}
                {{taskInfo "description" 0 @index}}
            {{/if}}
        </div>

        <div class="modal-body">
            <div class="form-field">
                <label>Notes</label>
                <textarea></textarea>
            </div>


            <div class="form-field required">
                <label>Police officer</label>
                <input type="text" />
            </div>

            <div class="form-field required">
                <label>Case number</label>
                <input type="number" />
            </div>

            <div class="form-field">
                <label>Notes</label>
                <textarea></textarea>
            </div>




            <div class="form-field switch">
                <label>
                    <svg class="iconic">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#check"></use>
                    </svg>
                    Mark this task {{#unless complete}}in{{/unless}}complete
                </label>
                <div class="toggle-switch">
                    <input {{#if complete}}checked{{/if}} class="tgl" id="task-{{@index}}-complete" type="checkbox">
                    <label class="tgl-btn" for="task-{{@index}}-complete"></label>
                </div>
            </div>
        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button class="button-beta button-flat modal-trigger">Cancel</button>
                <button class="button-alpha modal-trigger">Done</button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>
{{/each}}

{{/postFromHash}}

{{> Modals }}

<div id="required" class="message">
    <div class="message-image error">
        <svg class="iconic">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#warning"></use>
        </svg>
    </div>

    <div class="message-body">
        <p><strong>Please complete the 'Time &amp; date of encounter' field</strong> before posting to this survey.</p>

        <a href="#time-date-encounter" class="button button-beta button-flat message-trigger">Edit field</a>

        <button class="button-flat message-trigger">
            Dismiss
        </button>
    </div>
</div>
