{{> ModeBar }}

<div class="mode-context">

    <header class="mode-context-header">
        <ol class="breadcrumbs">
            <li><a href="map.html">{{deployment.name}}</a></li>
            <li><a href="settings.html">Settings</a></li>
        </ol>

        <h1 class="mode-context-title">Import</h1>
    </header>

    <span class="mode-context-trigger">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden">Show more/less</span>
    </span>

    <div class="mode-context-body">

    </div>
</div>

<main role="main">

    <div class="main-col">

        <div class="form-sheet">
            <div class="form-sheet-summary">
                <h2 class="form-sheet-title">CSV</h2>
                <p>Import the data from a CSV spreadsheet into your deployment as posts belonging to a specific survey.</p>
            </div>

            <div class="stepper" data-accordion-items="stepper-item">

                <div class="stepper-item active complete">
                    <h2 class="stepper-heading" data-accordion-trigger>
                        <span class="stepper-badge">1</span>
                        Choose CSV file
                    </h2>

                    <div class="form-field">
                        <input id="csv-file" type="file" accept=".csv" />
                    </div>

                    <fieldset class="custom-fieldset">
                        <legend>Import to <span class="custom-fieldset-value">which survey?</span></legend>

                        {{#each deployment.surveys}}
                        <div class="form-field radio">
                            <label for="import-to-{{@index}}">
                                <input type="radio" name="import-to" id="import-to-{{@index}}" />
                                {{name}}
                            </label>
                        </div>
                        {{/each}}
                    </fieldset>

                    <div class="form-field">
                        <button type="submit" class="button-alpha" data-accordion-trigger="1" disabled>Continue</button>
                    </div>
                </div>

                <div class="stepper-item" disabled>
                    <h2 class="stepper-heading" data-accordion-trigger>
                        <span class="stepper-badge">2</span>
                        Configure imported posts
                    </h2>

                    <ol class="metadata">
                        <li>filename.csv</li>
                        <li>{{deployment.surveys.0.name}}</li>
                    </ol>

                    <fieldset>
                        <legend>Imported posts should have their status...</legend>

                        <div class="form-field radio">
                            <label for="status-model">
                                <input checked type="radio" id="status-model-mark" name="status-model" data-fieldgroup-toggle="status-model-mark" />
                                Marked as...
                            </label>

                            <fieldset data-fieldgroup-target="status-model-mark">
                                <legend class="hidden">Post status</legend>

                                <div class="form-field radio icon-input">
                                    <label for="status-published">
                                        <svg class="iconic">
                                            <use xlink:href="../../img/iconic-sprite.svg#globe"></use>
                                        </svg>
                                        <input type="radio" name="status" id="status-published" checked data-fieldgroup-toggle="status-model-mark-published" />
                                        Published
                                    </label>

                                    <!--// IF the chosen survey has tasks that must be completed before its posts can be published //-->
                                    <p class="alert" data-fieldgroup-target="status-model-mark-published">Your survey, <strong>{{deployment.surveys.0.name}}</strong>, includes tasks that typically must be completed for each post before they can be marked 'published.' During this import, all of your imported posts will have their tasks marked as 'incomplete', while still allowing their status to be marked as 'published.' If you edit any of these posts after they've been imported, however, you'll be asked to complete those tasks before re-publishing them.</p>
                                    <!--// END IF //-->
                                </div>

                                <div class="form-field radio icon-input">
                                    <label for="status-review">
                                        <svg class="iconic">
                                            <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                                        </svg>
                                        <input type="radio" name="status" id="status-review" />
                                        Under review
                                    </label>
                                </div>

                                <div class="form-field radio icon-input">
                                    <label for="status-archive">
                                        <svg class="iconic">
                                            <use xlink:href="../../img/iconic-sprite.svg#box"></use>
                                        </svg>
                                        <input type="radio" name="status" id="status-archive" />
                                        Archived
                                    </label>
                                </div>
                            </fieldset>
                        </div>

                        <div class="form-field radio">
                            <label for="status-model">
                                <input type="radio" id="status-model-columns" name="status-model" data-fieldgroup-toggle="status-model-columns" />
                                Defined by a column in your CSV file...
                            </label>

                            <div class="form-field select" data-fieldgroup-target="status-model-columns">
                                <div class="custom-select">
                                    <select>
                                        <option>Column A</option>
                                        <option>Column B</option>
                                        <option>Column C</option>
                                        <option>Column D</option>
                                    </select>
                                </div>
                                <p><em>Ushahidi recognizes one of three post statuses: Published, Under review, and Archived. So be sure that each entry in the column you select has one of those three values.</em></p>

                                <!--// IF the chosen survey has tasks that must be completed before its posts can be published //-->
                                <p class="alert" data-fieldgroup-target="status-model-mark-published">Your survey, <strong>{{deployment.surveys.0.name}}</strong>, includes tasks that typically must be completed for each post before they can be marked 'published.' During this import, all of your imported posts will have their tasks marked as 'incomplete', even if their status is marked as 'published.' If you edit any of these posts after they've been imported, however, you'll be asked to complete those tasks before re-publishing them.</p>
                                <!--// END IF //-->
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Choose which CSV column should be assigned to each survey field</legend>
                        <p>Each of the survey's fields are listed below. Choose the column from your CSV file that you'd like to use to populate each of those fields.</p>

                        <table>
                            <thead>
                                <tr>
                                    <th>Survey field</th>
                                    <th>CSV column</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td><span class="required">Title</span></td>
                                    <td>
                                        <div class="custom-select">
                                            <select>
                                                <option selected>Leave empty</option>
                                                <option>Column A</option>
                                                <option>Column B</option>
                                                <option>Column C</option>
                                                <option>Column D</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td><span class="required">Description</span></td>
                                    <td>
                                        <div class="custom-select">
                                            <select>
                                                <option selected>Leave empty</option>
                                                <option>Column A</option>
                                                <option>Column B</option>
                                                <option>Column C</option>
                                                <option>Column D</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Name</td>
                                    <td>
                                        <div class="custom-select">
                                            <select>
                                                <option selected>Leave empty</option>
                                                <option>Column A</option>
                                                <option>Column B</option>
                                                <option>Column C</option>
                                                <option>Column D</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Location</td>
                                    <td>
                                        <div class="custom-select">
                                            <select>
                                                <option selected>Leave empty</option>
                                                <option>Column A</option>
                                                <option>Column B</option>
                                                <option>Column C</option>
                                                <option>Column D</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Categories</td>
                                    <td>
                                        <div class="custom-select">
                                            <select>
                                                <option selected>Leave empty</option>
                                                <option>Column A</option>
                                                <option>Column B</option>
                                                <option>Column C</option>
                                                <option>Column D</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>

                    <!--fieldset>
                        <legend>Completed tasks</legend>
                        <p>Select the tasks below that you'd like to mark complete for all imported posts.</p>

                        <div class="form-field checkbox">
                            <label>
                                <input type="checkbox" />
                                Review
                            </label>
                        </div>

                        <div class="form-field checkbox">
                            <label>
                                <input type="checkbox" />
                                Verify
                            </label>
                        </div>

                        <div class="form-field checkbox">
                            <label>
                                <input type="checkbox" />
                                Call police
                            </label>
                        </div>

                    </fieldset-->

                    <div class="form-field">
                        <button class="button-beta button-flat" data-accordion-trigger="0">Cancel</button>
                        <button type="submit" class="button-alpha" disabled>Finish import</button>
                    </div>
                </div>

            </div>

        </div>

    </div>

</main>

{{> Modals }}
