{{#with (lookup deployment.surveys.0.tasks 2)}}

<div class="mode-context">

    <header class="mode-context-header">
        <a href="settings-survey-edit-tasks.html" class="mode-context-back button button-link">
            <svg class="iconic">
                <use xlink:href="../../img/material/svg-sprite-navigation-symbol.svg#ic_arrow_back_24px"></use>
            </svg>
            <span class="hidden">Back</span>
        </a>

        <h1 class="mode-context-title" contenteditable="true">{{name}}</h1>

        <!--// SAVED //-->
        <span class="status-indicator tooltip success">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#check"></use>
            </svg>
            <span class="label">All changes saved</span>
            <span class="bug">Every change you make is automatically saved</span>
        </span>
        <!--//-->

        <!--// SAVING //
        <span class="status-indicator">
            <span class="label">Saving...</span>
        </span>
        //-->

        <!--// SAVING //
        <span class="status-indicator error" data-message="failed-save">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#warning"></use>
            </svg>
            <span class="label">Unsaved changes</span>
        </span>
        //-->
    </header>

    <div class="button-group">

        <a class="button button-flat button-plain" data-modal="task-settings">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#cog"></use>
            </svg>
            <span class="button-label hide-until-medium">Settings</span>
        </a>

    </div>

</div>

<main role="main">

    <div class="full-col">

        <section class="form-sheet" role="article">

            <header class="form-sheet-summary contenteditable">
                <h1 class="form-sheet-title survey-title" contenteditable="true" placeholder="Untitled survey">{{name}}</h1>
                <p contenteditable="true">{{description}}</p>
            </header>

            {{#if fields}}

                {{#each fields}}
                <div class="form-field {{control}}" draggable="true">

                    <label contenteditable="true" {{#if required}}class="required"{{/if}} placeholder="Untitled field">{{label}}</label>

                    <p data-fieldgroup-target="field-description-{{@index}}" contenteditable="true" placeholder="Field description">{{#if description}}{{description}}{{/if}}</p>

                    <div class="form-field-preview">
                        {{surveyFieldPreview}}
                    </div>

                    <span class="dragger">
                        <svg class="iconic">
                            <use xlink:href="../../img/material/svg-sprite-editor-symbol.svg#ic_drag_handle_24px"></use>
                        </svg>
                    </span>

                    <div class="form-field-config">
                        <div class="form-field">
                            <a class="button button-beta button-flat button-plain" data-toggle="field-type">
                                <svg class="iconic">
                                    <use xlink:href="{{icon}}"></use>
                                </svg>
                                <span class="button-label">{{name}}</span>
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
                                </svg>
                            </a>
                        </div>

                        {{#ifCond control 'checkboxes'}}
                        <div class="listing">
                            {{#each options}}
                            <div class="listing-item" draggable="true">
                                <div class="listing-item-select">
                                    <span class="dragger">
                                        <svg class="iconic">
                                            <use xlink:href="../../img/material/svg-sprite-editor-symbol.svg#ic_drag_handle_24px"></use>
                                        </svg>
                                    </span>
                                </div>
                                <div class="listing-item-secondary">
                                    <button class="button-beta button-link">
                                        <svg class="iconic">
                                            <use xlink:href="../../img/material/svg-sprite-content-symbol.svg#ic_remove_circle_24px"></use>
                                        </svg>
                                        <span class="hidden">Remove</span>
                                    </button>
                                </div>
                                <div class="listing-item-primary">
                                    <h4 class="listing-item-title" contenteditable="true">{{label}}</h4>
                                </div>
                            </div>
                            {{/each}}

                            <div class="listing-item" draggable="true">
                                <div class="listing-item-primary">
                                    <h4 class="listing-item-title">
                                        <button class="button-plain">
                                            <svg class="iconic">
                                                <use xlink:href="../../img/iconic-sprite.svg#plus"></use>
                                            </svg>
                                            <span class="button-label">Add checkbox</span>
                                        </button>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        {{/ifCond}}

                        {{#ifCond control 'select'}}
                        <div class="listing">
                            {{#each options}}
                            <div class="listing-item" draggable="true">
                                <div class="listing-item-select">
                                    <span class="dragger">
                                        <svg class="iconic">
                                            <use xlink:href="../../img/material/svg-sprite-editor-symbol.svg#ic_drag_handle_24px"></use>
                                        </svg>
                                    </span>
                                </div>
                                <div class="listing-item-secondary">
                                    <button class="button-beta button-link">
                                        <svg class="iconic">
                                            <use xlink:href="../../img/material/svg-sprite-content-symbol.svg#ic_remove_circle_24px"></use>
                                        </svg>
                                        <span class="hidden">Remove</span>
                                    </button>
                                </div>
                                <div class="listing-item-primary">
                                    <h4 class="listing-item-title" contenteditable="true">{{label}}</h4>
                                </div>
                            </div>
                            {{/each}}

                            <div class="listing-item" draggable="true">
                                <div class="listing-item-primary">
                                    <h4 class="listing-item-title">
                                        <button class="button-plain">
                                            <svg class="iconic">
                                                <use xlink:href="../../img/iconic-sprite.svg#plus"></use>
                                            </svg>
                                            <span class="button-label">Add option</span>
                                        </button>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        {{/ifCond}}

                        {{#ifCond control 'location'}}
                        <div class="form-field switch">
                            <label>Use this field to map each response</label>
                            <p data-fieldgroup-target="map-field-location-message">Responses will be geolocated in your deployment's "Map" view using data from this field.</p>
                            <div class="toggle-switch">
                                <input checked class="tgl" id="map-field-location-{{@index}}" type="checkbox" data-fieldgroup-toggle="map-field-location-message">
                                <label class="tgl-btn" for="map-field-location-{{@index}}"></label>
                            </div>
                        </div>

                        <div class="form-field switch">
                            <label>Show a specific region on this field's map</label>
                            <div class="toggle-switch">
                                <input class="tgl" id="area-field-location-{{@index}}" type="checkbox" data-fieldgroup-toggle="area-field-location-picker">
                                <label class="tgl-btn" for="area-field-location-{{@index}}"></label>
                            </div>

                            <div class="form-field form-fieldgroup location" data-fieldgroup-target="area-field-location-picker">
                                <div class="location-wrapper">
                                    {{mapEmbed 0 false}}

                                    <form role="search" class="searchbar" data-message="search">
                                        <div class="searchbar-input">
                                            <div class="form-field">
                                                <input type="search" maxlength="250" placeholder="Pick a region" value="" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {{/ifCond}}

                        <div class="form-field-actions">

                            <div class="form-field switch">
                                <label>Required</label>
                                <div class="toggle-switch">
                                    <input class="tgl" id="require-field-{{@index}}" type="checkbox" {{#if required}}checked{{/if}} />
                                    <label class="tgl-btn" for="require-field-{{@index}}"></label>
                                </div>
                            </div>

                            <div>
                                <button class="button-beta button-flat" data-modal="delete-field" data-message-sustain>
                                    <svg class="iconic">
                                        <use xlink:href="../../img/iconic-sprite.svg#trash"></use>
                                    </svg>
                                    <span class="hidden">Delete</span>
                                </button>

                                <button class="button-beta button-flat" data-toggle="dropdown-menu">
                                    <svg class="iconic">
                                        <use xlink:href="../../img/iconic-sprite.svg#ellipses"></use>
                                    </svg>
                                    <span class="hidden">More</span>
                                </button>

                                <div class="dropdown-menu">
                                    <div class="form-field checkbox">
                                        <label for="show-field-description-{{@index}}">
                                            Show field description
                                            <input type="checkbox" id="show-field-description-{{@index}}" data-fieldgroup-toggle="field-description-{{@index}}" {{#if description}}checked{{/if}} />
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                {{/each}}

            {{/if}}

            <div class="form-field center">
                <button class="button" data-toggle="field-type">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#plus"></use>
                    </svg>
                    <span class="button-label">Add field</span>
                </button>
            </div>

        </section>

    </div>

</main>
{{/with}}

{{> Modals }}

<div id="task-settings" class="modal">
    <div class="modal-window">
        <h3 class="modal-title">Settings</h3>

        <div class="modal-body">

            <div class="form-field switch">
                <label>Require another task be completed first</label>
                <div class="toggle-switch">
                    <input class="tgl" id="require_another_task" type="checkbox" data-fieldgroup-toggle="require_another_task-yes">
                    <label class="tgl-btn" for="require_another_task"></label>
                </div>
                <div class="form-field form-fieldgroup" data-fieldgroup-target="require_another_task-yes">
                    <label>Which task must be completed before this one?</label>

                    <div class="custom-select">
                        <select>
                            {{#each deployment.surveys.0.tasks}}
                            <option>{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button class="button-beta button-flat modal-trigger">Cancel</button>
                <button class="button-alpha modal-trigger">Done</button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<script>
setTimeout(function() {
    $('.form-field[draggable="true"]:first').click();
    // messageToggle($('#unsaved-changes'), true);
}, 1000);
</script>
