{{> ModeBar }}

<div class="mode-context">

    <header class="mode-context-header {{#if deployment.logo}}has-logo{{/if}}">
        <h1 class="mode-context-title"><a href="">{{deployment.name}}</a></h1>

        {{#if deployment.logo}}
            <img src="{{deployment.logo}}" class="deployment-logo" />
        {{/if}}
    </header>

    <span class="mode-context-trigger">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden">Show more/less</span>
    </span>

    <div class="mode-context-body">
        {{{deployment.description}}}
    </div>
</div>

<!--// Uses numeric hash to determine which survey to render by its index; falls back to index 0 //-->
{{#surveyFromHash}}
<main role="main">

    <div class="full-col">

        <div class="form-sheet" role="article">
            <span class="post-band" style="background-color: #{{color}}"></span>

            <header class="form-sheet-summary">
                <h1 class="form-sheet-title survey-title">{{name}}</h1>
                <p>{{description}}</p>
            </header>

            <ul class="metadata">
                {{#if ../user.logged_in}}

                <li>
                    <a class="chip yellow" data-toggle="post-status" {{#if tasks}}disabled{{/if}}>
                        <span class="chip-icon">
                            <span class="label">Status</span>
                        </span>
                        <svg class="iconic">
                          <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                        </svg>
                        <span class="label">Under review</span>
                    </a>
                </li>

                <li>
                    <a class="chip" data-modal="edit-author">
                        <span class="chip-icon">
                            <span class="label">Author</span>
                        </span>
                        {{#if ../../user.avatar}}
                            <img src="{{../../../user.avatar}}" class="avatar">
                        {{/if}}
                        <span class="label">{{../../user.name}}</span>
                    </a>
                </li>

                <!--li>
                    {{#if ../../user.avatar}}
                        <img src="{{../../../user.avatar}}" class="avatar">
                    {{/if}}
                    <strong>{{../../user.name}}</strong>
                </li-->

                <li>
                    <a href="" class="chip" data-modal="post-date">
                        <span class="chip-icon">
                            <svg class="iconic">
                              <use xlink:href="../../img/iconic-sprite.svg#calendar"></use>
                            </svg>
                            <span class="label">Date</span>
                        </span>
                        <span class="label">Now</span>
                    </a>
                </li>

                {{else}}

                <li>
                    <span class="status-indicator yellow tooltip">
                        <svg class="iconic">
                          <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                        </svg>
                    </span>
                    <strong>This post will need to be reviewed</strong> before it's published.
                </li>

                <li>
                    <a class="chip" data-modal="edit-author">
                        <span class="chip-icon">
                            <span class="label">Author</span>
                        </span>
                        <svg class="iconic">
                          <use xlink:href="../../img/iconic-sprite.svg#person"></use>
                        </svg>
                        <span class="label">Anonymous</span>
                    </a>
                </li>

                {{/if}}
            </ul>

            {{#each fields}}
                {{#ifCond type.control 'text'}}
                <div class="form-field">
                    <label {{#if required}}class="required"{{/if}}>{{../label}}</label>
                    <input type="text" {{#if required}}required{{/if}} />
                </div>
                {{/ifCond}}

                {{#ifCond type.control 'textarea'}}
                <div class="form-field">
                    <label {{#if required}}class="required"{{/if}}>{{../label}}</label>
                    <textarea {{#if required}}required{{/if}}></textarea>
                </div>
                {{/ifCond}}

                {{#ifCond type.control 'select'}}
                <div class="form-field">
                    <label {{#if required}}class="required"{{/if}}>{{../label}}</label>
                    <div class="custom-select">
                        <select {{#if required}}required{{/if}}>
                            {{#each options}}
                            <option>{{label}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                {{/ifCond}}

                {{#ifCond type.control 'checkboxes'}}
                <fieldset>
                    <legend>{{../label}}</legend>

                    {{#each options}}
                    <div class="form-field checkbox">
                        <label for="form-field-checkbox-{{@index}}">
                            {{label}}
                            <input type="checkbox" id="form-field-checkbox-{{@index}}" />
                        </label>
                    </div>
                    {{/each}}
                </fieldset>
                {{/ifCond}}

                {{#ifCond type.control 'radio'}}
                <fieldset>
                    <legend>{{../label}}</legend>

                    {{#each options}}
                    <div class="form-field radio">
                        <label for="form-field-radio-{{@../index}}-{{@index}}">
                            {{label}}
                            <input type="radio" id="form-field-radio-{{@../index}}-{{@index}}" name="form-field-radio-{{@../index}}" />
                        </label>
                    </div>
                    {{/each}}
                </fieldset>
                {{/ifCond}}

                {{#ifCond type.control 'time'}}
                <div class="form-field">
                    <label {{#if required}}class="required"{{/if}}>{{../label}}</label>
                    <div class="input-with-icon">
                        <svg class="iconic">
                            <use xlink:href="{{../icon}}"></use>
                        </svg>
                        <input type="{{type.control}}" {{#if required}}required{{/if}} />
                    </div>
                </div>
                {{/ifCond}}

                {{#ifCond type.control 'date'}}
                <div class="form-field">
                    <label {{#if required}}class="required"{{/if}}>{{../label}}</label>
                    <div class="input-with-icon">
                        <svg class="iconic">
                            <use xlink:href="{{../icon}}"></use>
                        </svg>
                        <input type="{{type.control}}" {{#if required}}required{{/if}} />
                    </div>
                </div>
                {{/ifCond}}

                {{#ifCond type.control 'file'}}
                <div class="form-field file">
                    <label {{#if required}}class="required"{{/if}}>{{../label}}</label>
                    <input type="file" id="photo" {{#if required}}required{{/if}} />
                    <label for="photo" class="button button-plain button-gamma">
                        <svg class="iconic block">
                            <use xlink:href="../../img/iconic-sprite.svg#camera-slr"></use>
                        </svg>
                        <span class="button-label">Add photo</span>
                    </label>
                </div>
                {{/ifCond}}

                {{#ifCond type.control 'location'}}
                <div class="form-field location">
                    <label {{#if required}}class="required"{{/if}}>{{../label}}</label>
                    <div class="location-wrapper">
                        {{mapEmbed 0 false}}

                        <form role="search" class="searchbar" data-message="search">
                            <div class="searchbar-input">
                                <div class="form-field">
                                    <input type="search" maxlength="250" placeholder="Pick a location" value="" {{#if required}}required{{/if}} />
                                </div>
                                <div class="searchbar-results dropdown-menu">
                                    <div class="form-field">
                                        <button class="button-beta button-plain">
                                            <svg class="iconic">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#location"></use>
                                            </svg>
                                            <span class="button-label">Use your current location</span>
                                        </button>
                                    </div>

                                    <div class="tool">
                                        <h6 class="tool-heading">Search results</h6>
                                        <dl class="dropdown-menu-body">
                                            <dt class="list-item">
                                                <a href="#">
                                                    <svg class="iconic">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#map-marker"></use>
                                                    </svg>
                                                    <em>30.316855</em> latitude, <em>-97.674815</em> longitude
                                                </a>
                                            </dt>
                                            <dt class="list-item">
                                                <a href="#">
                                                    <svg class="iconic">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#map-marker"></use>
                                                    </svg>
                                                    <em>123 Main St</em>reet Austin, TX USA
                                                </a>
                                            </dt>
                                            <dt class="list-item">
                                                <a href="#">
                                                    <svg class="iconic">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#map-marker"></use>
                                                    </svg>
                                                    <em>123</em> Paint Supply, 416 Lamar Blvd. Austin, TX USA
                                                </a>
                                            </dt>
                                            <dt class="list-item">
                                                <a href="#">
                                                    <svg class="iconic">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#map-marker"></use>
                                                    </svg>
                                                    <em>123 Main St</em>reet Austin, TX USA
                                                </a>
                                            </dt>
                                            <dt class="list-item">
                                                <a href="#">
                                                    <svg class="iconic">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#map-marker"></use>
                                                    </svg>
                                                    <em>123</em> Paint Supply, 416 Lamar Blvd. Austin, TX USA
                                                </a>
                                            </dt>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <p><em>You can search or click the area of map where you want to place the marker.</em></p>
                    </div>
                </div>
                {{/ifCond}}
            {{/each}}

            <div class="form-sheet-actions">
                <div class="form-field">
                    <a href="{{#if ../user.logged_in}}post-detail.html{{else}}timeline.html{{/if}}" class="button button-alpha">Submit</a>
                    <a href="post-add.html" class="button button-gamma button-flat">Submit &amp; add another</a>
                </div>
            </div>

        </div>

    </div>

</main>

{{/surveyFromHash}}

{{> Modals }}

<div id="required" class="message modal">
    <div class="message-image error">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#warning"></use>
        </svg>
    </div>

    <div class="message-body">
        <p><strong>Please complete the 'Time &amp; date of encounter' field</strong> before posting to this survey.</p>

        <a href="#time-date-encounter" class="button button-beta button-flat message-trigger">Edit field</a>

        <button class="button-flat message-trigger">
            Dismiss
        </button>
    </div>
</div>
