{{> ModeBar }}

<div class="mode-context">

    <header class="mode-context-header">
        <ol class="breadcrumbs">
            <li><a href="map.html">{{deployment.name}}</a></li>
            <li><a href="settings.html">Settings</a></li>
        </ol>

        <h1 class="mode-context-title">General</h1>
    </header>

    <span class="mode-context-trigger">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden">Show more/less</span>
    </span>

    <div class="mode-context-body">

    </div>
</div>

<main role="main">

    <div class="toolbar">
        <div class="button-group">
            <button type="button" class="button-flat">Cancel</button>
            <button type="button" class="button-alpha">Save</button>
        </div>
    </div>

    <div class="main-col">

        <div class="form-sheet">
            <div class="form-field title">
                <label class="hidden">Deployment name</label>
                <input type="text" placeholder="Deployment name" value="{{deployment.name}}">
            </div>

            <div class="form-field form-field-adapt">
                <label>
                    Description
                </label>
                <textarea name="description" data-min-rows='1' rows='1'>{{striptags deployment.description}}</textarea>
            </div>

            <div class="form-field file">
                <label>Deployment logo</label>

                {{#if deployment.logo}}

                <figure>
                    <img src="{{deployment.logo}}" class="postcard-image deployment-logo" />
                </figure>
                <div class="form-field">
                    <input type="file" id="photo" />
                    <label for="photo" class="button button-gamma">
                        <svg class="iconic">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#image"></use>
                        </svg>
                        <span class="button-label">Replace logo</span>
                    </label>

                    <button class="button-destructive">
                        <svg class="iconic">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#trash"></use>
                        </svg>
                        <span class="hidden">Delete logo</span>
                    </button>
                </div>

                {{else}}

                <input type="file" id="photo" />
                <label for="photo" class="button button-gamma">
                    <svg class="iconic">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#plus"></use>
                    </svg>
                    <span class="button-label">Add logo</span>
                </label>

                {{/if}}
            </div>

            <div class="form-field">
                <label>Contact email address</label>
                <input type="email" placeholder="name@domain.com" value="{{user.email}}">
            </div>

            <div class="form-field">
                <label>Language</label>
                <div class="custom-select">
                    <select>
                        <option selected>English (United States)</option>
                        <option>Spanish</option>
                        <option>French</option>
                    </select>
                </div>
            </div>

            <div class="form-field">
                <label>Time zone</label>
                <div class="custom-select">
                    <select>
                        <option>UTC</option>
                        <option>Pacific</option>
                        <option>Eastern</option>
                    </select>
                </div>
            </div>

            <div class="form-field">
                <label>Default map base layer</label>
                <div class="custom-select">
                    <select>
                        <option selected>OpenStreetMap Humanitarian</option>
                        <option>OpenStreetMap</option>
                        <option>OpenStreetMap Alt</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-sheet">
            <div class="form-sheet-summary">
                <h3 class="form-sheet-title">Delete this deployment</h3>
            </div>

            <div class="form-field">
                <p><strong>If you delete this deployment</strong>, all of its data will also be deleted. Proceed with caution.</p>

                <button class="button-destructive">
                    <svg class="iconic">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#trash"></use>
                    </svg>
                    <span class="button-label">Delete deployment</span>
                </button>
            </div>
        </div>

    </div>

</main>

{{> Modals }}
