<div class="mode-context">
    <header class="mode-context-header">
        <a href="timeline.html" class="mode-context-back button button-link">
            <svg class="iconic">
                <use xlink:href="../../img/material/svg-sprite-navigation-symbol.svg#ic_arrow_back_24px"></use>
            </svg>
            <span class="hidden">Back</span>
        </a>

        <h1 class="mode-context-title">Edit response</h1>

        <!--// SAVED //-->
        <span class="status-indicator tooltip success">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#check"></use>
            </svg>
            <span class="label">Changes saved</span>
            <span class="bug">Every change you make is automatically saved. Last saved 2 minutes ago. <button class="button-link">Save now</button></span>
        </span>

        <!--// SAVING //
        <span class="status-indicator">
            <span class="label">Saving...</span>
        </span>
        //-->

        <!--// UNSAVED //
        <span class="status-indicator tooltip error" data-message="failed-save">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#warning"></use>
            </svg>
            <span class="label">Unsaved changes</span>
            <span class="bug">We can't auto-save your changes right now. Last saved 2 minutes ago. <button class="button-link">Try again</button></span>
        </span>
        //-->
    </header>
</div>

<!--// Uses numeric hash to determine which response to render by its index; falls back to index 0 //-->
{{#postFromHash}}
<main role="main">

    <div class="{{#ifPostIsDataSource}}main{{else}}full{{/ifPostIsDataSource}}-col">

        <div class="form-sheet" role="article">
            {{postBand}}

            <header class="form-sheet-summary">
                {{#postSurvey}}
                <h1 class="form-sheet-title survey-title">{{name}}</h1>
                <p>{{description}}</p>
                {{/postSurvey}}
            </header>

            <ul class="metadata">
                <li>
                    {{#ifCond properties.status 'published'}}
                    <a class="chip" data-toggle="post-status">
                        <span class="chip-icon">
                            <span class="label">Status</span>
                        </span>
                        <svg class="iconic">
                          <use xlink:href="../../img/iconic-sprite.svg#globe"></use>
                        </svg>
                        <span class="label">Published</span>
                    </a>
                    {{/ifCond}}
                    {{#ifCond properties.status 'review'}}
                    <a class="chip yellow" disabled>
                        <span class="chip-icon">
                            <span class="label">Status</span>
                        </span>
                        <svg class="iconic">
                          <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                        </svg>
                        <span class="label">Under review</span>
                    </a>
                    {{/ifCond}}
                    {{#ifCond properties.status 'archived'}}
                    <a class="chip" data-toggle="post-status">
                        <span class="chip-icon">
                            <span class="label">Status</span>
                        </span>
                        <svg class="iconic">
                          <use xlink:href="../../img/iconic-sprite.svg#box"></use>
                        </svg>
                        <span class="label">Archived</span>
                    </a>
                    {{/ifCond}}
                </li>

                <li>
                    <a href="" class="chip" data-modal="edit-author">
                        <span class="chip-icon">
                            <span class="label">Author</span>
                        </span>
                        {{#if properties.author.avatar}}
                        <img src="{{properties.author.avatar}}" class="avatar" />
                        {{/if}}
                        <span class="label">{{properties.author.name}}</span>
                    </a>
                </li>

                <li>
                    <a href="" class="chip" data-modal="post-date">
                        <span class="chip-icon">
                            <svg class="iconic">
                              <use xlink:href="../../img/iconic-sprite.svg#calendar"></use>
                            </svg>
                            <span class="label">Date</span>
                        </span>
                        <span class="label">{{properties.date.post}}</span>
                    </a>
                </li>
            </ul>

            {{#each answers}}
                {{formField ../properties.survey 0 @index value}}
            {{/each}}

            <fieldset>
                <legend>Labels</legend>

                <div class="form-field checkbox">
                    <label for="cat1"><input type="checkbox" id="cat1">Surface issues</label>
                </div>
                <div class="form-field checkbox">
                    <label for="cat2"><input type="checkbox" id="cat2">Signage</label>
                </div>
                <div class="form-field checkbox">
                    <label for="cat3"><input type="checkbox" id="cat3">Obstructions</label>
                </div>
                <!--div class="form-field checkbox" data-toggle-target="new-label">
                    <label for="cat4"><input type="checkbox" id="cat4" checked>Emergency</label>
                </div-->
                <div class="form-field inline" data-toggle-target="add-label">
                    <label class="hidden">Label name</label>
                    <input type="text" placeholder="Label name..." style="width: 240px;" />
                    <button class="button-alpha button-flat" disabled>
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#check"></use>
                        </svg>
                        <span class="hidden">Add</span>
                    </button>
                    <button class="button-beta button-flat">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#trash"></use>
                        </svg>
                        <span class="hidden">Delete</span>
                    </button>
                </div>
                <div class="form-field">
                    <a data-toggle="add-label">+ Add new label</a>
                </div>
            </fieldset>
        </div>

        {{#ifPostIsDataSource}}
        <div class="toolbox">
            <div class="tool">
                <fieldset>
                    <legend>Convert this into a survey response to...</legend>

                    {{#global}}
                        {{#each deployment.surveys}}
                            {{#unless datasource}}
                            <div class="form-field radio">
                                <input type="radio" name="add-to-survey" id="survey-{{@index}}" />
                                <label for="survey-{{@index}}">{{name}}</label>
                            </div>
                            {{/unless}}
                        {{/each}}
                    {{/global}}
                </fieldset>

                <div class="form-field">
                    <button class="button-flat" disabled>Convert &amp; edit</button>
                </div>
            </div>
        </div>
        {{/ifPostIsDataSource}}

        <div class="form-sheet">
            <header class="form-sheet-summary">
                <h1 class="form-sheet-title section-title">Verify</h1>
            </header>

            <div class="form-field">
                <label>Source</label>
                <input type="text" value="Jane Doe" />
            </div>

            <div class="form-field">
                <label>Notes</label>
                <textarea>Confirmed damage on April 1, 2017.</textarea>
            </div>
        </div>

    </div>

</main>

{{#each tasks}}
<div id="task-{{@index}}" class="modal">
    <div class="modal-window">
        <h3 class="modal-title {{#if complete}}complete{{/if}}">{{taskInfo "name" 0 @index}}</h3>

        <div class="form-field">
            {{#if disabled}}
                <p><em>This task can't be completed until "Verify" is completed.</em></p>
            {{else}}
                {{taskInfo "description" 0 @index}}
            {{/if}}
        </div>

        <div class="modal-body">
            <div class="form-field">
                <label>Notes</label>
                <textarea></textarea>
            </div>


            <div class="form-field required">
                <label>Police officer</label>
                <input type="text" />
            </div>

            <div class="form-field required">
                <label>Case number</label>
                <input type="number" />
            </div>

            <div class="form-field">
                <label>Notes</label>
                <textarea></textarea>
            </div>




            <div class="form-field switch">
                <label>
                    <svg class="iconic">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#check"></use>
                    </svg>
                    Mark this task {{#unless complete}}in{{/unless}}complete
                </label>
                <div class="toggle-switch">
                    <input {{#if complete}}checked{{/if}} class="tgl" id="task-{{@index}}-complete" type="checkbox">
                    <label class="tgl-btn" for="task-{{@index}}-complete"></label>
                </div>
            </div>
        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button class="button-beta button-flat modal-trigger">Cancel</button>
                <button class="button-alpha modal-trigger">Done</button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>
{{/each}}

{{/postFromHash}}

{{> Modals }}

<div id="required" class="message">
    <div class="message-image error">
        <svg class="iconic">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#warning"></use>
        </svg>
    </div>

    <div class="message-body">
        <p><strong>Please complete the 'Time &amp; date of encounter' field</strong> before posting to this survey.</p>

        <a href="#time-date-encounter" class="button button-beta button-flat message-trigger">Edit field</a>

        <button class="button-flat message-trigger">
            Dismiss
        </button>
    </div>
</div>

<!--script>
setTimeout(function() {
    messageToggle($('#required'), true);
}, 1000);
</script-->
