{{#surveyFromHash}}
<div class="mode-context">
    <header class="mode-context-header">
        <a href="settings-survey-edit.html" class="mode-context-back button button-link">
            <svg class="iconic">
                <use xlink:href="../../img/material/svg-sprite-navigation-symbol.svg#ic_arrow_back_24px"></use>
            </svg>
            <span class="hidden">Back</span>
        </a>

        <h1 class="mode-context-title">Tasks <em>for {{name}}</em></h1>
    </header>
</div>


<main role="main">

    <div class="full-col">

        {{#if tasks}}

            <div class="listing card">

                {{#each tasks}}
                    <article class="listing-item" draggable="true">

                    <div class="listing-item-select dragger">

                        <svg class="iconic">
                            <use xlink:href="../../img/material/svg-sprite-editor-symbol.svg#ic_drag_handle_24px"></use>
                        </svg>

                    </div>

                    <header class="listing-item-summary">
                        <div class="listing-item-secondary">
                            <button class="button-beta button-flat" data-toggle="dropdown-menu">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#ellipses"></use>
                                </svg>
                                <span class="hidden">More</span>
                            </button>

                            <ul class="dropdown-menu">
                                <li>
                                    <a>
                                        <svg class="iconic">
                                            <use xlink:href="../../img/material/svg-sprite-content-symbol.svg#ic_content_copy_24px"></use>
                                        </svg>
                                        <span class="label">Duplicate</span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <svg class="iconic">
                                            <use xlink:href="../../img/iconic-sprite.svg#trash"></use>
                                        </svg>
                                        <span class="label">Delete</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="listing-item-primary">
                            <h1 class="listing-item-title"><a href="settings-survey-edit-tasks-edit.html#{{indexFromHash}}">{{name}}</a></h1>
                            <div class="listing-item-secondary">{{{description}}}</div>
                        </div>
                    </header>
                </article>
                {{/each}}

                <div class="listing-item">
                    <div class="listing-item-select"></div>
                    <div class="listing-item-summary">
                        <div class="listing-item-primary">
                            <a href="settings-survey-edit-tasks-add.html" class="button">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#plus"></use>
                                </svg>
                                <span class="button-label">Add task</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        {{else}}

            <div class="explain">
                <img src="../../img/illustration-tasks.png" class="explain-illustration" />
                <h2 class="explain-title">Build a workflow.</h2>
                <p>Tasks help your team define the work that needs to be completed on each survey response.</p>
                <p>As new responses come in, tasks automatically generate a to-do list for you and your teammates with the work that's waiting to be done. This helps you quickly see, for example, when you need to verify a report, call a stakeholder, or publish a response that needs your attention.</p>
                <p><a href="settings-survey-edit-tasks-add.html" class="button button-alpha">Create your first task</a></p>
            </div>

        {{/if}}

    </div>

</main>
{{/surveyFromHash}}

{{> Modals }}
