{{> ModeBar }}

<main role="main">

    <div class="toolbar">

        {{> Search }}

        <div class="button-group">
            <button class="button-flat">Cancel</button>
            <a class="button button-alpha" href="split-view-edit.html#{{@../index}}">Edit</a>
        </div>
    </div>

    <div class="timeline-col">

        <div class="listing timeline">
            <div class="listing-item">
            <button id="bulk-action" class="button-link listing-item-secondary"><a href="">Bulk Actions</a></button>
            <div class="listing-item-primary">6 of 6 Reports</div>
            </div>

            {{#if user.logged_in}}
                {{#each deployment.responses}}
                    {{> Postcard checkbox=true locked=true show_tasks=false editable=true}}
                {{/each}}
            {{else}}
                {{#each deployment.responses}}
                    {{#ifCond properties.status 'published'}}
                    {{> Postcard locked=true show_tasks=false editable=false}}
                    {{/ifCond}}
                {{/each}}
            {{/if}}

            <button class="button-gamma button-flat">Load more</button>

            <div class="listing-toolbar">
            <div class="listing-item">
            <button href="" id="bulk-close" class="button-beta button-flat listing-item-secondary">
                    <svg class="iconic">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#x"></use>
                    </svg>
                    <span class="hidden">Close</span>
                </button>
                <div class="listing-toolbar-summary listing-item-primary">
                    <strong><span class="total"></span> selected</strong>
                    <button class="button-link">Deselect</button>
                </div>
                
                </div>

                <div class="listing-toolbar-actions">

                    <button class="button-beta" data-toggle="toggle-content">
                        <span class="button-label">Mark as</span>
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
                        </svg>
                    </button>
                    <ul class="dropdown-menu toggle-content">
                        <li>
                            <a href="" data-message="publish-success">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#globe"></use>
                                </svg>
                                <span class="label">Published</span>
                            </a>
                        </li>
                        <li>
                            <a href="" data-message="under_review-success">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                                </svg>
                                <span class="label">Under Review</span>
                            </a>
                        </li>
                        <li>
                            <a href="" data-message="archive-success">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#box"></use>
                                </svg>
                                <span class="label">Archived</span>
                            </a>
                        </li>
                    </ul>

                    <button class="button-beta" data-modal="add-to-collection">
                        <svg class="iconic">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#grid-three-up"></use>
                        </svg>
                        <span class="button-label hide-until-small">Add to Collection</span>
                    </button>

                    <button class="button-beta">
                        <svg class="iconic">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#pencil"></use>
                        </svg>
                        <span class="button-label hide-until-small">Edit</span>
                    </button>

                    <button class="button-destructive" data-modal="delete-post">
                        <svg class="iconic">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#trash"></use>
                        </svg>
                        <span class="button-label hidden">Delete</span>
                    </button>

                    <button class="listing-toolbar-toggle more">
                        <svg class="iconic">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#ellipses"></use>
                        </svg>
                        <span class="button-label hide-until-small">Edit</span>
                    </button>

                    <button class="listing-toolbar-toggle less">
                        <svg class="iconic">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#trash"></use>
                        </svg>
                        <span class="button-label hidden">Delete</span>
                    </button>
                </div>
            </div>

        </div>

    </div>

    {{#postFromHash}}
        <div class="post-col">

            <article class="postcard" role="article">
                {{postBand}}

                <div class="lock-bar">
                    <span class="circle-icon">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                        </svg>
                    </span>

                    <p>The report is locked because <strong>{{user.name}}</strong> is working on it right now. Try editing a different post.</p>

                {{#ifCond user.role 'Administrator'}}
                    <div class="button-group">
                        <button class="button button-alpha">Unlock</button>
                    </div>
                {{/ifCond}}

                </div>

                <div class="postcard-body">
                    {{#postSurvey}}
                    <h1 class="form-sheet-title survey-title">{{name}}</h1>
                    <p>{{description}}</p>
                    {{/postSurvey}}

                    <div class="postcard-header">
                        <ul class="metadata">
                            <li>
                                {{#ifCond properties.status 'published'}}
                                <span class="status-indicator">
                                    <svg class="iconic">
                                        <use xlink:href="../../img/iconic-sprite.svg#globe"></use>
                                    </svg>
                                    <span class="label">Published</span>
                                </span
                                {{/ifCond}}

                                {{#ifCond properties.status 'review'}}
                                <span class="status-indicator yellow">
                                    <svg class="iconic">
                                        <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                                    </svg>
                                    <span class="label">Under review</span>
                                </span>
                                {{/ifCond}}

                                {{#ifCond properties.status 'archived'}}
                                <span class="status-indicator dark">
                                    <svg class="iconic">
                                        <use xlink:href="../../img/iconic-sprite.svg#box"></use>
                                    </svg>
                                    <span class="label">Archived</span>
                                </span>
                                {{/ifCond}}
                            </li>

                            {{#if properties.author.avatar}}
                            <li>
                                <img src="{{properties.author.avatar}}" class="avatar" />
                                <strong class="label">{{properties.author.name}}</strong>
                            </li>
                            {{else}}
                            <li><strong class="label">{{properties.author.name}}</strong></li>
                            {{/if}}
                            <li class="tooltip">
                                <span class="label">{{properties.date.post}}</span>
                                <span class="bug">2016-05-12 4:32pm</span>
                            </li>
                        </ul>

                        <div class="postcard-actions">
                            <button class="button-gamma button-flat" data-toggle="dropdown-menu">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#ellipses"></use>
                                </svg>
                                <span class="hidden">More</span>
                            </button>

                            <div class="dropdown-menu">
                                <ul>
                                    <li class="hide-when-small">
                                        <a href="post-edit.html#{{indexFromHash}}">
                                            <svg class="iconic">
                                                <use xlink:href="../../img/iconic-sprite.svg#pencil"></use>
                                            </svg>
                                            <span class="label">Edit</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" data-modal="add-to-collection">
                                            <svg class="iconic">
                                                <use xlink:href="../../img/iconic-sprite.svg#grid-three-up"></use>
                                            </svg>
                                            <span class="label">Add to Collection</span>
                                        </a>
                                    </li>
                                    {{#ifCond properties.status 'published'}}
                                    <li>
                                        <a href="" data-modal="share">
                                            <svg class="iconic">
                                                <use xlink:href="../../img/iconic-sprite.svg#share"></use>
                                            </svg>
                                            <span class="label">Share</span>
                                        </a>
                                    </li>
                                    {{/ifCond}}
                                </ul>
                                <div class="divider"></div>
                                <ul>
                                    {{#ifCond properties.status 'published'}}
                                    <li>
                                        <a href="">
                                            <svg class="iconic">
                                                <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                                            </svg>
                                            <span class="label">Put under review</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <svg class="iconic">
                                                <use xlink:href="../../img/iconic-sprite.svg#box"></use>
                                            </svg>
                                            <span class="label">Archive</span>
                                        </a>
                                    </li>
                                    {{/ifCond}}
                                    {{#ifCond properties.status 'review'}}
                                    <li>
                                        <a href="">
                                            <svg class="iconic">
                                                <use xlink:href="../../img/iconic-sprite.svg#globe"></use>
                                            </svg>
                                            <span class="label">Publish</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <svg class="iconic">
                                                <use xlink:href="../../img/iconic-sprite.svg#box"></use>
                                            </svg>
                                            <span class="label">Archive</span>
                                        </a>
                                    </li>
                                    {{/ifCond}}
                                    {{#ifCond properties.status 'archived'}}
                                    <li>
                                        <a href="">
                                            <svg class="iconic">
                                                <use xlink:href="../../img/iconic-sprite.svg#globe"></use>
                                            </svg>
                                            <span class="label">Publish</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <svg class="iconic">
                                                <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                                            </svg>
                                            <span class="label">Put under review</span>
                                        </a>
                                    </li>
                                    {{/ifCond}}
                                    <li>
                                        <a href="" data-modal="delete-post">
                                            <svg class="iconic">
                                                <use xlink:href="../../img/iconic-sprite.svg#trash"></use>
                                            </svg>
                                            <span class="label">Delete</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    {{#each answers}}
                        {{postcardField ../properties.survey 0 @index false}}
                    {{/each}}

                    <div class="postcard-field">
                        <h2 class="form-label">
                            Witness
                            <span class="tooltip">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                                </svg>
                                <span class="bug">Only people with permission to edit this response can see this field</span>
                            </span>
                        </h2>
                        John Doe
                    </div>

                    <div class="postcard-field select">
                        <h2 class="form-label">Labels</h2>
                        <svg class="iconic" style="margin-right:4px;">
                            <use xlink:href="../../img/iconic-sprite.svg#tag"></use>
                        </svg>
                        Surface issues, Obstructions
                    </div>
                </div>

            </article>

            {{#ifPostIsDataSource}}
            <div class="toolbox">

                <div class="tool">
                    <fieldset>
                        <legend>Convert this into a survey response to...</legend>

                        {{#global}}
                            {{#each deployment.surveys}}
                                {{#unless datasource}}
                                <div class="form-field radio">
                                    <input type="radio" name="add-to-survey" id="survey-{{@index}}" />
                                    <label for="survey-{{@index}}">{{name}}</label>
                                </div>
                                {{/unless}}
                            {{/each}}
                        {{/global}}

                    </fieldset>

                    <div class="form-field">
                        <button class="button-flat" disabled>Convert &amp; edit</button>
                    </div>
                </div>
            </div>

            <div class="listing card">
                <h3 class="listing-heading">Conversation with author</h3>

                <div class="listing-item">
                    <div class="listing-item-primary">
                        <h2 class="listing-item-title">012 123456</h2>
                        <p class="listing-item-secondary">Yesterday, via SMS</p>

                        <p>Vestibulum pretium massa et bibendum eleifend. Vestibulum congue fringilla erat eget sodales. In rhoncus, leo ut pretium molestie, felis leo feugiat urna, et interdum libero eros id nisi. Sed lacus neque, rhoncus eu est id, pellentesque elementum mauris.</p>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <img src="https://api.adorable.io/avatars/40/abott@adorable.io.png" class="avatar" />
                            <svg class="iconic">
                                <use xlink:href="../../img/iconic-sprite.svg#arrow-thick-left"></use>
                            </svg>
                        </div>

                        <h2 class="listing-item-title"><a href="">Robbie MacKay</a></h2>
                        <p class="listing-item-secondary">8 hrs</p>

                        <p>Phasellus a ultricies lorem. Ut gravida, nibh a tincidunt auctor, turpis odio tincidunt nisl, laoreet aliquet dui erat ut lorem. Donec eleifend eleifend nisl, vel maximus ipsum vestibulum in?</p>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-primary">
                        <h2 class="listing-item-title">
                            <a href="" class="button button-flat">
                                <svg class="iconic">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#plus"></use>
                                </svg>
                                Send new message
                            </a>
                        </h2>
                    </div>
                </div>

            </div>

            {{else}}

            <div class="listing card">
                <h3 class="listing-heading">Verify</h3>

                <div class="listing-item">
                    <div class="listing-item-primary">
                        <h2 class="listing-item-title">Notes</h2>
                        <p>Vestibulum pretium massa et bibendum eleifend. Vestibulum congue fringilla erat eget sodales. In rhoncus, leo ut pretium molestie, felis leo feugiat urna, et interdum libero eros id nisi. Sed lacus neque, rhoncus eu est id, pellentesque elementum mauris.</p>
                        <p>Nam eget urna in nulla tincidunt laoreet. Nulla facilisi. Mauris consequat sem augue, venenatis faucibus erat placerat et. </p>
                    </div>
                </div>
            </div>

            <div class="listing card">
                <h3 class="listing-heading">Comments</h3>

                <div class="listing-item">
                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <img class="avatar" src="http://placehold.it/100x100" alt="">
                        </div>

                        <h2 class="listing-item-title"><a href="">Mary Swanson</a></h2>
                        <p class="listing-item-secondary">45 mins</p>

                        <p>Cras tempus sodales molestie. Ut a ante mollis, dictum nulla quis, accumsan arcu. Donec et lacus libero. Phasellus a ultricies lorem. Ut gravida, nibh a tincidunt auctor, turpis odio tincidunt nisl, laoreet aliquet dui erat ut lorem. Donec eleifend eleifend nisl, vel maximus ipsum vestibulum in.</p>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <img class="avatar" src="http://placehold.it/100x100" alt="">
                        </div>

                        <h2 class="listing-item-title"><a href="">Mary Swanson</a></h2>
                        <p class="listing-item-secondary">45 mins</p>

                        <p>Cras tempus sodales molestie. Ut a ante mollis, dictum nulla quis, accumsan arcu. Donec et lacus libero. Phasellus a ultricies lorem. Ut gravida, nibh a tincidunt auctor, turpis odio tincidunt nisl, laoreet aliquet dui erat ut lorem. Donec eleifend eleifend nisl, vel maximus ipsum vestibulum in.</p>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-primary">
                        <h2 class="listing-item-title">
                            <a href="" class="button button-beta button-flat">Load more comments</a>
                        </h2>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-primary">
                        <h2 class="listing-item-title">
                            <a href="" class="button button-flat" data-modal="add-comment">
                                <svg class="iconic">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#plus"></use>
                                </svg>
                                Add comment
                            </a>
                        </h2>
                    </div>
                </div>

            </div>

            {{/ifPostIsDataSource}}

        </div>
    {{/postFromHash}}

</main>

{{> Modals }}

<div id="add-comment" class="modal">
    <div class="modal-window">
        <button href="" class="button-beta button-flat modal-trigger modal-trigger-close">
            <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#x"></use>
            </svg>
            <span class="hidden">Close</span>
        </button>

        <h3 class="modal-title">Add comment</h3>

        <div class="form-field">
            <label class="hidden">Comment</label>
            <textarea placeholder="Write something..."></textarea>
        </div>

        <div class="form-field">
            <button type="button" class="button-alpha modal-trigger">Save</button>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="submitted" class="message">
    <div class="message-image confirmation">
        <svg class="iconic">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#thumb-up"></use>
        </svg>
    </div>

    <div class="message-body">
        <p><strong>Your Police encounters post was submitted successfully</strong> and will be reviewed before it's published.</p>

        <button class="button-beta button-flat">
            <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#pencil"></use>
            </svg>
            <span class="button-label">Edit post</span>
        </button>

        <button class="button-flat message-trigger">
            Dismiss
        </button>
    </div>
</div>
