{{#categoryFromHash}}
<div class="mode-context">

    <header class="mode-context-header">
        <a href="settings-surveys.html" class="mode-context-back button button-link">
            <svg class="iconic">
                <use xlink:href="../../img/material/svg-sprite-navigation-symbol.svg#ic_arrow_back_24px"></use>
            </svg>
            <span class="hidden">Back</span>
        </a>

        <h1 class="mode-context-title" contenteditable="true">{{name}}</h1>

        <!--// SAVED //-->
        <span class="status-indicator hide-until-small tooltip success">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#check"></use>
            </svg>
            <span class="label">All changes saved</span>
            <span class="bug">Every change you make is automatically saved</span>
        </span>
        <!--//-->
    </header>

    <span class="mode-context-trigger">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden">Show more/less</span>
    </span>

    <div class="mode-context-body">

    </div>
</div>

<main role="main">

    <div class="full-col">

        <div class="form-sheet">
            <div class="form-field title">
                <label class="hidden">Name</label>
                <input type="text" placeholder="Untitled category" value="{{name}}">
            </div>

            <div class="form-field">
                <label>Description</label>
                <textarea>{{description}}</textarea>
            </div>

            <!--//
            <fieldset class="custom-fieldset" data-fieldset-type="color">
                <legend>Color</legend>

                <div class="form-field">
                    <label>Hex value</label>
                    <input type="text" data-input-type="color" value="#762d80" />
                </div>
            </fieldset>
            //-->

            <div class="form-field">
                <label>This category is currently being used in the follwing surveys...</label>
                <ul>
                    {{#deployment}}
                    {{#each surveys}}
                    <li><a href="settings-survey-edit.html#{{@index}}">{{name}}</a></li>
                    {{/each}}
                    {{/deployment}}
                </ul>
            </div>
        </div>

    </div>

</main>
{{/categoryFromHash}}

{{> Modals }}
