{{> ModeBar }}

<div class="mode-context">

    <header class="mode-context-header">
        <ol class="breadcrumbs">
            <li><a href="map.html">{{deployment.name}}</a></li>
            <li><a href="settings.html">Settings</a></li>
        </ol>

        <h1 class="mode-context-title">Tasks</h1>
    </header>

    <span class="mode-context-trigger">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden">Show more/less</span>
    </span>

    <div class="mode-context-body">

    </div>
</div>

<main role="main">

    <div class="full-col">

        <div class="explain">
            <p>Select a survey or data source below to configure tasks for its incoming responses. <br />Or <a href="">learn more about how tasks work</a>.</p>
        </div>

        <div class="listing card">
            <h2 class="listing-heading-section">Surveys</h2>

            {{#each deployment.surveys}}
            {{#unless datasource}}
            <article class="listing-item">
                <span class="post-band" style="background-color:#{{color}};"></span>

                <header class="listing-item-summary">
                    <div class="listing-item-primary">
                        <h1 class="listing-item-title"><a href="settings-survey-edit-tasks.html#{{@index}}">{{name}}</a></h1>
                        <p class="listing-item-secondary">{{description}}</p>
                    </div>
                </header>
            </article>
            {{/unless}}
            {{/each}}

            <h2 class="listing-heading-section">Data sources</h2>

            {{#each deployment.surveys}}
            {{#if datasource}}
            <article class="listing-item">
                <span class="post-band" style="background-color:#{{color}};"></span>

                <header class="listing-item-summary">
                    <div class="listing-item-primary">
                        <h1 class="listing-item-title"><a href="settings-survey-edit-tasks.html#{{@index}}">{{name}}</a></h1>
                        <p class="listing-item-secondary">{{description}}</p>
                    </div>
                </header>
            </article>
            {{/if}}
            {{/each}}

        </div>
    </div>

</main>

{{> Modals }}
