{{> ModeBar }}

{{#with (lookup deployment.posts 1)}} <!--// Choose the post index that will be the context for this tenplate //-->
<div class="mode-context">

    <header class="mode-context-header">
        {{#deployment}}
        <ol class="breadcrumbs">
            <li><a href="map.html">{{name}}</a></li>
        </ol>
        {{/deployment}}

        {{#postSurvey}}
        <h1 class="mode-context-title">{{name}}</h1>
        {{/postSurvey}}
    </header>

    <span class="mode-context-trigger">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden">Show more/less</span>
    </span>

    <div class="mode-context-body">
        {{#postSurvey}}
        <p>{{description}}</p>
        {{/postSurvey}}
    </div>

</div>

<main role="main">

    <div class="toolbar">
        <div class="button-group">
            <button type="button" class="button-flat">Cancel</button>
            <button type="button" class="button-alpha">Save</button>
        </div>
    </div>

    <div class="main-col">

        <div class="form-sheet">
            {{postBand}}

            <div class="form-field form-field-adapt title">
                <label>Title</label>
                <input type="text" value="{{title}}">
            </div>

            <div class="metadata" data-hide-target="author-metadata">
                {{#if properties.author.avatar}}
                <img src="{{properties.author.avatar}}" class="avatar" />
                {{/if}}
                <span class="metadata-author">Jess Shorland</span>
                , 45 mins
                , via web

                <button class="button-beta button-plain" data-toggle="edit-metadata" data-hide="author-metadata">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#pencil"></use>
                    </svg>
                    <span class="button-label">Change</span>
                </button>
            </div>

            <div data-toggle-target="edit-metadata">
                <div class="form-field">
                    <label>Author</label>

                    {{#if properties.author}}
                    <span class="bug">
                        {{#if properties.author.avatar}}
                        <img src="{{properties.author.avatar}}" class="avatar" />
                        {{/if}}
                        <span class="label">{{properties.author.name}}</span>
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#circle-x"></use>
                        </svg>
                    </span>
                    {{else}}
                    <button class="button-beta">Choose author</button>
                    {{/if}}
                </div>

                <fieldset>
                    <legend>Post date</legend>
                    <div class="form-field date">
                        <label class="hidden">Date</label>
                        <div class="input-with-icon">
                            <svg class="iconic">
                                <use xlink:href="../../img/iconic-sprite.svg#calendar"></use>
                            </svg>
                            <input type="date" value="2016-06-22" placeholder="Date" />
                        </div>
                    </div>

                    <div class="form-field date">
                        <label class="hidden">Time</label>
                        <div class="input-with-icon">
                            <svg class="iconic">
                                <use xlink:href="../../img/iconic-sprite.svg#clock"></use>
                            </svg>
                            <input type="time" value="11:39:57" placeholder="Time" />
                        </div>
                    </div>

                    <div class="metadata">
                        <ul>
                            <li><strong>Created</strong> at 4:34 p.m. March 26, 2016 via web</li>
                            <li><strong>Last updated</strong> at 11:01 a.m. April 5, 2016</li>
                        </ul>
                    </div>
                </fieldset>
            </div>

            <!--// IF: Post has no Tasks //-->
            <!--//
            <div class="toolbox">
                <div class="tool">
                    <fieldset class="custom-fieldset">
                        <legend><span class="custom-fieldset-value">Status</span></legend>

                        <div class="form-field radio icon-input">
                            <label for="status-published">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#globe"></use>
                                </svg>
                                <input type="radio" name="status" id="status-published" {{#ifCond properties.status 'published'}}checked{{/ifCond}} />
                                Published
                            </label>
                        </div>

                        <div class="form-field radio icon-input">
                            <label for="status-review">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                                </svg>
                                <input type="radio" name="status" id="status-review" {{#ifCond properties.status 'review'}}checked{{/ifCond}} />
                                Under review
                            </label>
                        </div>

                        <div class="form-field radio icon-input">
                            <label for="status-archive">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#box"></use>
                                </svg>
                                <input type="radio" name="status" id="status-archive" {{#ifCond properties.status 'archived'}}checked{{/ifCond}} />
                                Archived
                            </label>
                        </div>
                    </fieldset>
                </div>
            </div>
            //-->
            <!-- END: IF -->

            <div class="form-field form-field-adapt">
                <label>
                    Description
                </label>
                <textarea name="description" data-min-rows='1' rows='1'>{{striptags description}}</textarea>
            </div>

            <div class="form-field file">
                <label>
                    Photo of the encounter
                </label>

                {{#if fields.photo}}

                <figure>
                    <img src="{{fields.photo}}" />

                    <div class="form-field">
                        <button class="button-destructive">
                            <svg class="iconic">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#trash"></use>
                            </svg>
                            <span class="hidden">Delete photo</span>
                        </button>

                        <input type="file" id="photo" />
                        <label for="photo" class="button button-gamma">
                            <svg class="iconic">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#image"></use>
                            </svg>
                            <span class="button-label">Replace image</span>
                        </label>
                    </div>
                </figure>

                <div class="form-field">
                    <label class="hidden">Caption</label>
                    <input type="text" placeholder="Add caption..." />
                </div>

                {{else}}

                <input type="file" id="photo" />
                <label for="photo" class="button button-gamma">
                    <svg class="iconic">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#plus"></use>
                    </svg>
                    <span class="button-label">Add photo</span>
                </label>

                {{/if}}
            </div>

            <div class="form-field location">
                <label>Location</label>
                {{mapEmbed 0 false}}

                <form role="search" class="searchbar" data-message="search">
                    <div class="searchbar-input">
                        <div class="form-field">
                            <input type="search" maxlength="250" placeholder="Find a location" value="1234 Main St. Austin, TX USA" />
                        </div>
                        <div class="searchbar-results dropdown-menu">
                            <div class="form-field">
                                <button class="button-plain">
                                    <svg class="iconic">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#magnifying-glass"></use>
                                    </svg>
                                    <span class="button-label">Search for "<em>123 Main St</em>"</span>
                                </button>

                                <button class="button-beta button-plain">
                                    <svg class="iconic">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#location"></use>
                                    </svg>
                                    <span class="button-label">Use your current location</span>
                                </button>
                            </div>

                            <div class="tool">
                                <h6 class="tool-heading">Search results</h6>
                                <dl class="dropdown-menu-body">
                                    <dt class="list-item"><a href="#"><em>123 Main St</em>reet Austin, TX USA</a></dt>
                                    <dt class="list-item"><a href="#"><em>123</em> Paint Supply, 416 Lamar Blvd. Austin, TX USA</a></dt>
                                </dl>
                            </div>
                        </div>
                    </div>
                </form>

                <p><em>You can search or click the area of map where you want to place the marker.</em></p>
            </div>

            <fieldset id="categories" class="error">
                <legend>Categories</legend>

                <div class="form-field checkbox">
                    <label for="cat1"><input type="checkbox" id="cat1">Category 1</label>
                </div>
                <div class="form-field checkbox">
                    <label for="cat2"><input type="checkbox" id="cat2">Category 2</label>
                </div>
                <div class="form-field checkbox">
                    <label for="cat3"><input type="checkbox" id="cat3">Category 3</label>
                </div>
            </fieldset>

            <div class="toolbox">

                <!-- IF: User has permission to manage post status -->
                <div class="tool">
                    <h3 class="tool-heading">Status</h3>

                    <span class="tool-trigger" data-toggle="toggle-content">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
                        </svg>
                        <span class="label hidden">Show/hide</span>
                    </span>

                    <div class="toggle-content">

                        <fieldset class="custom-fieldset">
                            <legend><span class="custom-fieldset-value">Status</span></legend>

                            <div class="form-field radio icon-input">
                                <label for="status-published">
                                    <svg class="iconic">
                                        <use xlink:href="../../img/iconic-sprite.svg#globe"></use>
                                    </svg>
                                    <input disabled type="radio" name="status" id="status-published" />
                                    Published
                                </label>
                            </div>

                            <div class="form-field radio icon-input">
                                <label for="status-review">
                                    <svg class="iconic">
                                        <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                                    </svg>
                                    <input type="radio" name="status" id="status-review" checked />
                                    Under review
                                </label>
                            </div>

                            <div class="form-field radio icon-input">
                                <label for="status-archive">
                                    <svg class="iconic">
                                        <use xlink:href="../../img/iconic-sprite.svg#box"></use>
                                    </svg>
                                    <input type="radio" name="status" id="status-archive" />
                                    Archived
                                </label>
                            </div>
                        </fieldset>

                    </div>
                </div>

                <!-- END: IF -->

                <!--// IF: Post has Tasks //-->
                <div class="tool">
                    <h3 class="tool-heading">Tasks</h3>

                    <span class="tool-trigger" data-toggle="toggle-content">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
                        </svg>
                        <span class="label hidden">Show/hide</span>
                    </span>

                    <div class="toggle-content active">

                        <!--div class="task complete">
                            <h5 class="task-title">Submit</h5>
                        </div-->

                        <div class="task complete">
                            <h5 class="task-title"><a href="#task-review" data-modal="task-review">Review</a></h5>
                            <div class="task-actions">
                                <span class="tooltip">
                                    <span class="bug">Assigned to Jess Shorland</span>
                                    <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/jess.png" class="avatar" />
                                    <span class="status-indicator">
                                        <svg class="iconic">
                                          <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                                        </svg>
                                    </span>
                                </span>

                                <button class="button-beta button-flat" data-toggle="dropdown-menu">
                                    <svg class="iconic">
                                      <use xlink:href="../../img/iconic-sprite.svg#ellipses"></use>
                                    </svg>
                                    <span class="nodisplay">More</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="">Mark incomplete</a>
                                    </li>
                                    <div class="divider"></div>
                                    <li>
                                        <a href="" data-modal="task-assignment">
                                        <svg class="iconic">
                                            <use xlink:href="../../img/iconic-sprite.svg#person"></use>
                                        </svg>
                                        <span class="label">Change assignment</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" data-modal="task-due">
                                        <svg class="iconic">
                                            <use xlink:href="../../img/iconic-sprite.svg#calendar"></use>
                                        </svg>
                                        <span class="label">Change due date</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="task-body">
                                <p><strong>Due</strong>: Friday, July 22</p>
                                <p>Make sure the post includes no profanity or personally identifiable information.</p>
                            </div>
                        </div>

                        <div class="task">
                            <h5 class="task-title"><a href="#task-verify" data-modal="task-verify">Verify</a></h5>
                            <div class="task-actions">
                                <span class="tooltip">
                                    <span class="bug">Assigned to Seth Hall</span>
                                    <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/seth.png" class="avatar" />
                                </span>

                                <button class="button-beta button-flat" data-toggle="dropdown-menu">
                                    <svg class="iconic">
                                      <use xlink:href="../../img/iconic-sprite.svg#ellipses"></use>
                                    </svg>
                                    <span class="nodisplay">More</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="">
                                        <svg class="iconic">
                                            <use xlink:href="../../img/iconic-sprite.svg#check"></use>
                                        </svg>
                                        <span class="label">Mark complete</span>
                                        </a>
                                    </li>
                                    <div class="divider"></div>
                                    <li>
                                        <a href="" data-modal="task-assignment">
                                        <svg class="iconic">
                                            <use xlink:href="../../img/iconic-sprite.svg#person"></use>
                                        </svg>
                                        <span class="label">Change assignment</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" data-modal="task-due">
                                        <svg class="iconic">
                                            <use xlink:href="../../img/iconic-sprite.svg#calendar"></use>
                                        </svg>
                                        <span class="label">Add due date</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="task-body">
                                <p><strong>Due</strong>: Monday, July 25</p>
                            </div>
                        </div>

                        <div class="task">
                            <h5 class="task-title"><a href="#task-callpolice" data-modal="task-callpolice">Call police</a></h5>
                            <div class="task-actions">
                                <span class="tooltip">
                                    <span class="bug">Assigned to Seth Hall</span>
                                    <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/seth.png" class="avatar" />
                                </span>

                                <button class="button-beta button-flat" data-toggle="dropdown-menu">
                                    <svg class="iconic">
                                      <use xlink:href="../../img/iconic-sprite.svg#ellipses"></use>
                                    </svg>
                                    <span class="nodisplay">More</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="" data-modal="task-assignment">
                                        <svg class="iconic">
                                            <use xlink:href="../../img/iconic-sprite.svg#person"></use>
                                        </svg>
                                        <span class="label">Change assignment</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" data-modal="task-due">
                                        <svg class="iconic">
                                            <use xlink:href="../../img/iconic-sprite.svg#calendar"></use>
                                        </svg>
                                        <span class="label">Set due date</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="task-body">
                                <p>Report the incident to police at +1-234-567-8901.</p>
                            </div>
                        </div>

                        <div class="task disabled">
                            <h5 class="task-title" data-modal="task-publish">Publish</h5>
                            <div class="task-actions">
                                <button class="button-beta button-flat" data-toggle="dropdown-menu">
                                    <svg class="iconic">
                                      <use xlink:href="../../img/iconic-sprite.svg#ellipses"></use>
                                    </svg>
                                    <span class="nodisplay">More</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="" data-modal="task-assignment">
                                        <svg class="iconic">
                                            <use xlink:href="../../img/iconic-sprite.svg#person"></use>
                                        </svg>
                                        <span class="label">Assign this task</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" data-modal="task-due">
                                        <svg class="iconic">
                                            <use xlink:href="../../img/iconic-sprite.svg#calendar"></use>
                                        </svg>
                                        <span class="label">Add due date</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="task-body">
                                <p><em>This task can't be completed until "Verify" is completed.</em></p>

                                <!--p>Change this post's status to "Published."</p-->
                            </div>
                        </div>

                    </div>
                </div>
                <!--// END IF //-->

            </div>
        </div>

        <div class="form-sheet">
            <div class="form-sheet-summary">
                <h3 class="form-sheet-title">Delete this post</h3>
            </div>

            <div class="form-field">
                <p><strong>If you delete this post</strong>, all of its comments and messages will also be deleted. Proceed with caution.</p>

                <button class="button-destructive">
                    <svg class="iconic">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#trash"></use>
                    </svg>
                    <span class="button-label">Delete post</span>
                </button>
            </div>
        </div>

    </div>

</main>
{{/with}}

{{> Modals }}

<div id="required" class="message">
    <div class="message-image error">
        <svg class="iconic">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#warning"></use>
        </svg>
    </div>

    <div class="message-body">
        <p><strong>Please complete the 'Time &amp; date of encounter' field</strong> before posting to this survey.</p>

        <a href="#time-date-encounter" class="button button-beta button-flat message-trigger">Edit field</a>

        <button class="button-flat message-trigger">
            Dismiss
        </button>
    </div>
</div>

<div id="task-review" class="modal">
    <div class="modal-window">
        <h3 class="modal-title complete">Review</h3>
        <p>Make sure the post includes no profanity or personally identifiable information.</p>

        <div class="modal-body">
            <div class="form-field switch">
                <label>
                    <svg class="iconic">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#check"></use>
                    </svg>
                    Mark this task complete
                </label>
                <div class="toggle-switch">
                    <input checked class="tgl" id="task-review-complete" type="checkbox">
                    <label class="tgl-btn" for="task-review-complete"></label>
                </div>
            </div>
        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button class="button-beta button-flat modal-trigger">Cancel</button>
                <button class="button-alpha modal-trigger">Done</button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="task-verify" class="modal">
    <div class="modal-window">
        <h3 class="modal-title">Verify</h3>

        <div class="modal-body">
            <div class="form-field form-field-adapt">
                <label>Notes</label>
                <textarea></textarea>
            </div>

            <div class="form-field switch">
                <label>
                    <svg class="iconic">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#check"></use>
                    </svg>
                    Mark this task complete
                </label>
                <div class="toggle-switch">
                    <input class="tgl" id="task-verify-complete" type="checkbox">
                    <label class="tgl-btn" for="task-verify-complete"></label>
                </div>
            </div>
        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button class="button-beta button-flat modal-trigger">Cancel</button>
                <button class="button-alpha modal-trigger">Done</button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="task-callpolice" class="modal">
    <div class="modal-window">
        <h3 class="modal-title">Call police</h3>
        <p>Report the incident to police at +1-234-567-8901.</p>

        <div class="modal-body">
            <div class="form-field form-field-adapt required">
                <label>Police officer</label>
                <input type="text" />
            </div>

            <div class="form-field form-field-adapt required">
                <label>Case number</label>
                <input type="number" />
            </div>

            <div class="form-field form-field-adapt">
                <label>Notes</label>
                <textarea></textarea>
            </div>

            <div class="form-field switch">
                <label>
                    <svg class="iconic">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#check"></use>
                    </svg>
                    Mark this task complete
                </label>
                <div class="toggle-switch">
                    <input class="tgl" id="task-callpolice-complete" type="checkbox" disabled>
                    <label class="tgl-btn" for="task-callpolice-complete"></label>
                </div>
            </div>
        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button class="button-beta button-flat modal-trigger">Cancel</button>
                <button class="button-alpha modal-trigger">Done</button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="task-publish" class="modal">
    <div class="modal-window">
        <h3 class="modal-title">Publish</h3>

        <div class="modal-body">
            <!--// If 'Under Review' //-->
            <p>This post is currently <em>under review</em>. Are you ready to <em>publish</em> it and mark this task complete?</p>
            <!--// ELSE //
            <p>This post is currently <em>published</em>.</p>
            <div class="form-field">
                <button class="button-gamma button-plain">Put this post under review</button>
            </div>
            // END IF //-->
        </div>

        <div class="modal-actions">
            <div class="form-field">
                <!--// If 'Under Review' //-->
                <button class="button-beta button-flat modal-trigger">Cancel</button>

                <button class="button-alpha modal-trigger">
                    <svg class="iconic">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#globe"></use>
                    </svg>
                    <span class="button-label">Publish this post</span>
                </button>
                <!--// ELSE //
                <button class="button-alpha modal-trigger">Done</button>
                // END IF //-->
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>
